header {
	margin-bottom: 10px;
	border-bottom: 1px solid @border;
	background: -moz-linear-gradient(top, @blue 0, @blue @header-top-line, @white @header-top-line, @white 100%);
	background: -webkit-linear-gradient(top, @blue 0, @blue @header-top-line, @white @header-top-line, @white 100%);
	background: linear-gradient(to bottom, @blue 0, @blue @header-top-line, @white @header-top-line, @white 100%);
	// background-image:
 //    linear-gradient(
 //      to bottom, 
 //      #fffdc2,
 //      #fffdc2 25px,
 //      #d7f0a2 26px
 //    );
	.clearfix();

	.tagline {
		font-size: @font-size-small;
		line-height: @header-top-line;
		display: inline-block;
		color: fade(@white, 75%);
	}

	.top-nav {
		float: right;

		a {
			font-size: @font-size-small;
			line-height: @header-top-line;
			display: inline-block;
			margin: 0 0 0 20px;
			color: fade(@white, 75%);

			&:hover {
				color: @white;
			}

			.icon-group:before {
				font-size: 1.2em;
			}
		}
	}

	nav {
		font: 700 @font-size-large @font-open;
		position: relative;
		text-align: center;
		.clearfix();

		a {
			line-height: 50px;
			display: inline-block;
			margin: 5px 0;
			padding: 0 5px;
			color: @black;

			&:hover {
				color: @blue;
			}

			&.logo {
				float: left;
				width: 240px;
				height: 40px;
				margin: 10px 0;
				padding: 0;

				img, svg {
					width: 100%;
					height: 100%;
				}
			}

			&.contact {
				float: right;
				width: 125px;
				padding: 0;
				text-align: right;
				color: @blue;

				span {
					color: @red;
				}
			}

			&.menu {
				font-size: 30px;
				line-height: 40px;
				position: absolute;
				top: 0;
				right: 0;
				display: none;
				width: 65px;
				height: 60px;
				margin: 0;
				padding: 9px 0 11px;
				color: @white;
				background: @blue;
				:before{
					margin: 0;
				}
			}
		}
	}

	.logo{
		.primary{
			fill: @blue;
		}
		.secondary{
			fill: @green;
		}
		.emblem{
			fill: none;
			stroke: @blue;
			stroke-width: 5;
		}
	}
}

footer{
	border-top: 1px solid @border;
	background: @white;
	padding: 15px 0;
}

.breadcrumb {
	font-size: @font-size-base;
	line-height: @font-size-large;
	float: left;
	width: 70%;
	height: 35px;
	margin-bottom: 10px;
	padding: 7px 10px;
	background: @bg-light-gray;
	.rounded();

	a {
		.icon-home {
			font-size: @font-size-large;

			&:before {
				margin-right: 0;
			}
		}

		&:hover {
			text-decoration: underline;
			color: darken(@blue, 7%);
		}

		&:after {
			font: 700 @font-size-large/@font-size-large @font-open;
			position: relative;
			top: 2px;
			display: inline-block;
			margin-left: 5px;
			content: '>';
			cursor: auto;
			text-decoration: none;
			color: @text-color;
		}
	}
}

.search-box{
	height: 35px;
	float: right;
	width: 29%;
	background: @white;
	border: 1px solid @border;
	.rounded();
	.shadow();
	/*.icon-search:before{
		color: @text-color;
		font-size: @font-size-large;
		line-height: 35px;
		margin-left: 10px;
	}*/
	input[type="text"]{
		border: none;
		padding: 0 3px;
		margin: 3px 1%;
		width: 98%;
		display: block;
		height: 27px;
		line-height: 27px;
	}
}

.trustme li, .recommended{
	display: flex;
	align-items: center;
	justify-content: center;

	i[class^="icon-"]{
		font-size: ceil((@font-size-base * 4)); // 48px
	}
	.icon-thumbs-up-alt{
		color: @green;
	}
	p{
		width: 70%;
		font-size: @font-size-medium;
		line-height: 1.4;
	}

}
.trustme{
	background: @bg-light-gray;
	border: 1px solid @border;
	height: 100%;

	li{
		height: 16.67%;
		border-bottom: 1px solid @border;

		&:last-child{
			border-bottom: none;
		}
		.icon-volume-control-phone{
			color: @red;
		}
		.phone{
			display: block;
			margin-top: 5px;
			color: @red;
			font-size: 36px;
			line-height: 36px;
			font-weight: 700;
		}
	}
}
.trust{
	display: block;

	&.bottom{
		display: none;
		.container();
	}
}

.hotel, .visited, .comments, .newsletter{
	padding: 20px;
	.container();
}

.hotel{
	h1{
		.stars{
			display: inline-block;
			margin-bottom: 7px;
		}
		.icon-star{
			font-size: @font-size-xlarge;
		}
	}

	h2{
		color: @blue;
		border-bottom: 1px solid @blue;
		margin-top: 20px;
		padding-bottom: 10px;
	}

	.address{
		font-size: @font-size-medium;
		cursor: pointer;
		margin-bottom: 10px;

		.icon-location{
			color: @blue;
		}
		&:hover{
			color: @blue;
		}
	}

	.clear{
		display: flex;
	}

	.left-column{
		width: 70%;
	}
	
	.right-column{
		width: 28%;
		margin-left: 2%;
	}

	.recommended{
		i[class^="icon-"]{
			color: @green;
		}
		p{
			font-size: @font-size-medium * 1.2;
			font-weight: 700;

			span{
				display: block;
				color: @blue;
				font-size: @font-size-xlarge;
			}
		}
	}

	.images.left-column{
		position: relative;
	}

	.discount{
		position: absolute;
		top: 5px;
		left: 5px;
		max-width: 170px;
		padding: 7px 10px 3px;
		color: @white;
		font-size: @font-size-large;
		font-weight: 700;
		text-align: center;

		span{
			display: block;
			font-size: @font-size-xxlarge;
		}
		&.eb{
			background: fade(@green, 75%);
		}
		&.lm{
			background: fade(@red, 75%);
		}
		&.bf{
			background: fade(@black, 80%);
		}
	}

	.expand{
		position: relative;
		padding-right: 20px;
		cursor: pointer;

		&.icon{
			&:before{
				position: absolute;
				top: 0;
				right: 3px;
				font-family	: 'fontello';
				font-size: @font-size-medium;
				content: '\e808';
				color: @blue;
			}
			&.open:before{
				content: '\e807';
			}
		}
	}
	.expandable{
		margin-top: 10px;
	}

	.description{
		.clearfix();

		p{
			margin-bottom: 10px;
		}

		.details{
			float: left;
			width: 40%;
			margin-bottom: 10px;
		}

		.facilities, .facilities-extra{
			float: left;
			width: 28%;
			margin-left: 2%;
			.clearfix();

			li{
				margin-bottom: 20px;
			}
		}

		.room-details{
			li{
				float: left;
				width: 48%;
				margin-right: 4%;
				margin-bottom: 20px;

				&:nth-child(2n){
					margin-right: 0;
				}
			}
		}
	}

	.map{
		display: flex;
		flex-direction: row;
		height: 500px;

		.expandable{
			margin-top: 0;
		}
	}

	#map{
		width: 70%;
		height: 100%;

		.static{
			display: block;
			width: 100%;
			height: 100%;
			background-size: 100%;
			background-position: center;
		}
	}

	.nearby{
		display: flex;
		flex-direction: column;
		margin-left: 2%;
		width: 28%;
		height: 100%;

		h3{
			height: 10%;
			margin: 0;
		}
		a{
			display: block;
			height: 13%;
			margin-top: 3%;

			img{
				float: left;
				height: 100%;
				margin-right: 10px;
			}
			span{
				display: block;
				margin-bottom: 5px;
				color: @text-color;

				&.title{
					font-size: @font-size-medium;
					font-weight: 700;
					line-height: @font-size-medium;
					color: @blue;
				}
			}
		}
	}
}

.visited{
	h2{
		padding-bottom: 10px;
		border-bottom: 1px solid @text-color;
	}

	ul{
		.clearfix();

		li{
			float: left;
			width: 23.5%;
			margin-right: 2%;

			&:nth-child(4n){
				margin-right: 0;
			}
			a, span{
				display: inline-block;
				margin-bottom: 5px;
			}
			.title{
				font-size: @font-size-medium;
				font-weight: 700;
			}
			p{
				height: 102px;
				margin-bottom: 10px;
				.clearfix();
			}
			.thumb{
				float: left;
				margin: 0 5px 0 0;

				img{
					width: 60px;
				}
			}
			a[class^='button']{
				width: 50%;
			}
		}
	}
}

.newsletter{
	border: 1px solid lighten(@green, 15%);
	background: @bg-green;

	form{
		.clearfix();

		label, input, span, div{
			display: block;
			float: left;
		}
		label{
			width: 25%;
			font-size: 16px;
			line-height: 16px;
			text-align: left;

			span{
				font-size: @font-size-base;
			}
			i[class^='icon-']{
				float: left;
				font-size: @font-size-xxlarge;

				&:before{
					margin-right: 5px;
				}
			}
		}
		div{
			width: 75%;

			&#form_errors{
				color: @red;
				font-weight: 700;
			}
		}
		input{
			&[type='text'], &[type='email']{
				padding: 0 15px;
				border: 1px solid @border;
				font-size: @font-size-medium;
				line-height: @font-size-xxlarge;
				height: @font-size-xxlarge;
				.rounded();
				.shadow();
				.placeholder();
			}
			&[type='text']{
				width: 17%;
				margin-right: 2%;
			}
			&[type='email']{
				width: 25%;
				margin-right: 2%;
			}
			&[class^='button-']{
				width: 10%;
				cursor: pointer;
			}
		}
	}
}


@media (max-width: @desktop-xl) and (min-width: (@tablet + 1px)) {
	.layout {
		padding: 0 10px;
	}
}

@media (max-width: 1200px){
	.right-column{
		.trustme li, .recommended{
			i[class^="icon-"]{
				font-size: 4vw;
			}
		}
		.trustme{
			li{
				p{
					font-size: 1.15vw;
				}
				.phone{
					font-size: 3vw;
				}
			}
		}
		.recommended{
			p{
				font-size: 1.4vw;
				span{
					font-size: 1.85vw;
				}
			}
		}
	}
}

@media (max-width: 1165px) and (min-width: @desktop) {
	header {
		nav {
			font-size: 16px;
			a {
				&.logo {
					width: 180px;
					height: 30px;
				}
			}
		}
	}
}

@media (max-width: (@desktop - 1px)) and (min-width: (@tablet + 1px)) {
	header {
		nav {
			top: 55px;
			height: 90px;
			text-align: left;

			a {
				line-height: 30px;
				margin: 0;

				&.logo, &.contact {
					line-height: 50px;
					margin-top: -50px;
				}
			}
		}
	}

	header + div{
		position: relative;
		z-index: 1;
	}
}

@media (max-width: @desktop){
	.visited{
		ul{
			li{
				width: 48%;
				margin-right: 4%;
				margin-bottom: 20px;

				&:nth-child(2n){
					margin-right: 0;
				}
				.title{
					font-size: @font-size-large;
				}
				p{
					height: 65px;
				}
			}
		}
	}

	.newsletter{
		form{
			label{
				width: 100%;
				margin-bottom: 10px;
				font-size: @font-size-large;

				i[class^='icon-'], span{
					font-size: @font-size-large;
				}
				span{
					display: inline-block;
					float: none;

					&:before{
						content: " - ";
					}
				}
			}
			input{
				&[type='text']{
					width: 23%;
					margin-right: 2%;
				}
				&[type='email']{
					width: 33%;
					margin-right: 2%;
				}
				&[class^='button-']{
					width: 15%;
					cursor: pointer;
				}
			}
		}
	}
}
