@media (max-width: @mobile) {
	h1{
		font-size: @font-size-xlarge;
	}
	h2{
		font-size: @font-size-large;
	}

	header {
		nav {
			font-size: @font-size-xlarge;
			a {
				&:not(.logo):not(.menu) {
					float: none;
					width: 100%;
					padding: 5px 0 5px 20px;
				}
			}
		}
	}

	.hotel, .visited, .newsletter{
		padding: 10px;
	}

	.hotel{
		h1{
			.icon-star{
				font-size: @font-size-large;
			}
		}

		.address{
			font-size: @font-size-base;
		}

		.recommended{
			i[class^="icon-"], p{
				font-size: @font-size-base;
				vertical-align: middle;
				span{
					font-size: @font-size-base;
				}
			}
		}

		#map{
			height: 100vw;
		}

		.nearby{
			h3{
				font-size: @font-size-large;
			}
			a{
				width: 100%;
				margin-left: 0 !important;
			}
		}
	}

	.visited{
		ul{
			li{
				width: 100%;
				margin-right: 0;

				.title{
					font-size: @font-size-medium;
				}
			}
		}
	}
}

@media (max-width: 400px) {
	.newsletter{
		form{
			input{
				&[type='text'], &[type='email']{
					width: 100%;
					margin-right: 0%;
					margin-bottom: 10px;
				}
				&[class^='button-']{
					width: 50%;
				}
			}
		}
	}
}
