/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  height: auto;
}
body {
  overflow-x: hidden;
  background: #FFF;
  font: normal 12px Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #065ABF;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.layout {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
header {
  border-bottom: 1px solid #DDD;
  background: -moz-linear-gradient(top, #065ABF 0, #065ABF 25px, #FFF calc(26px), #FFF 100%);
  background: -webkit-linear-gradient(top, #065ABF 0, #065ABF 25px, #FFF calc(26px), #FFF 100%);
  background: linear-gradient(to bottom, #065ABF 0, #065ABF 25px, #FFF calc(26px), #FFF 100%);
  zoom: 1;
}
header:before {
  content: '';
  display: block;
}
header:after {
  content: '';
  display: table;
  clear: both;
}
header .tagline {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  line-height: 25px;
}
header .top-nav {
  float: right;
}
header .top-nav a {
  display: inline-block;
  margin: 0 0 0 20px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 11px;
  line-height: 25px;
}
header .top-nav a:hover {
  color: #FFF;
}
header nav {
  font: 700 18px 'Open Sans Condensed', sans-serif;
  text-align: center;
  zoom: 1;
}
header nav:before {
  content: '';
  display: block;
}
header nav:after {
  content: '';
  display: table;
  clear: both;
}
header nav a {
  display: inline-block;
  color: #000;
  line-height: 40px;
  padding: 0 0.5%;
  margin: 5px 0;
}
header nav a:hover {
  color: #065ABF;
}
header nav a.logo {
  float: left;
  height: 40px;
  padding: 0;
}
header nav a.logo img {
  height: 100%;
}
header nav a.contact {
  float: right;
  text-align: right;
  width: 100px;
  padding: 0;
  position: relative;
  overflow: hidden;
}
header nav a.contact span {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
header nav a.contact:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: .1s,opacity .1s;
  -moz-transition: .1s,opacity .1s;
  -o-transition: .1s,opacity .1s;
  transition: .1s,opacity .1s;
  content: attr(data-hover);
  -webkit-transform: translate(0, -150%);
  -moz-transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  -o-transform: translate(0, -150%);
  transform: translate(0, -150%);
}
header nav a.contact:hover span {
  opacity: 0;
}
header nav a.contact:hover:before {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
  transition-delay: .1s;
}
