// =========================================== //
// =============== BREAKPOINTS =============== //
// =========================================== //
@desktop-xl	: 1280px;
@desktop	: 1024px;
@tablet		: 900px;
@mobile		: 480px;


// ====================================== //
// =============== COLORS =============== //
// ====================================== //
@white	: #FFF;
@black	: #000;
@blue	: #065ABF;
@green	: #279500;
@red	: #D60808;
@yellow	: #F6AE0B;
@gray	: fade(@black, 25%);

@text-color	: #333;
@border		: #DDD;

@bg-body		: #EDEDED;
@bg-light-gray	: #F7F7F7;
@bg-green		: lighten(@green, 60%);


// ===================================== //
// =============== FONTS =============== //
// ===================================== //
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300);
@font-base	: Arial, sans-serif;
@font-open	: 'Open Sans Condensed', sans-serif;

@font-size-base		: 13px;
@font-size-smallest	: ceil((@font-size-base * 0.84)); // 11px
@font-size-small	: ceil((@font-size-base * 0.92)); // 12px
@font-size-medium	: ceil((@font-size-base * 1.07)); // 14px
@font-size-large	: ceil((@font-size-base * 1.38)); // 18px
@font-size-xlarge	: ceil((@font-size-base * 1.69)); // 22px
@font-size-xxlarge	: ceil((@font-size-base * 2.30)); // 30px


// ========================================= //
// =============== VARIABLES =============== //
// ========================================= //
@header-top-line	: 25px;


// ========================================= //
// =============== FUNCTIONS =============== //
// ========================================= //
.clearfix() {
	zoom: 1;
	&:before {
		content : '';
		display : block;
	}
	&:after {
		content : '';
		display : table;
		  clear : both;
	}
}
.rounded(@radius: 5px){
	-webkit-border-radius : @radius;
	        border-radius : @radius;
}
.transition(@transition){
	-webkit-transition : @transition;
	   -moz-transition : @transition;
	    -ms-transition : @transition;
	     -o-transition : @transition;
	        transition : @transition;
}
.transform(@degrees){
	-webkit-transform : rotate(@degrees);
	   -moz-transform : rotate(@degrees);
	    -ms-transform : rotate(@degrees);
	     -o-transform : rotate(@degrees);
	        transform : rotate(@degrees);
}
.shadow(@shadow: 0 2px 2px 0 rgba(0,0,0,.1)){
	-webkit-box-shadow : @shadow;
	        box-shadow : @shadow;
}

.container(){
	background		: @white;
	border			: 1px solid @border;
	margin-bottom	: 15px;
	.rounded();
	.shadow();
}

.no-container(){
	background	: none;
	border		: none;
	.shadow(0 0);
}

.center-box(@width){
	width		: @width;
	margin-right: auto;
	margin-left	: auto;
}

.button(@bg-color, @text-color: @white){
	display		: inline-block;
	text-align	: center;
	background	: @bg-color;
	border		: 1px solid darken(@bg-color, 8%);
	color		: @text-color;
	font-size	: @font-size-medium;
	line-height	: @font-size-medium * 2;
	padding		: 0 15px;
	.rounded(3px);
	.shadow();

	&:hover{
		background	: lighten(@bg-color, 8%);
	}
}

.placeholder(@text-color: @text-color){
	&::-webkit-input-placeholder { // Chrome/Opera/Safari
		color: @text-color;
	}
	&::-moz-placeholder { // Firefox 19+
		color: @text-color;
		opacity: 1;
	}
	&:-ms-input-placeholder { // IE 10+
		color: @text-color;
	}
	&:-moz-placeholder { // Firefox 18-
		color: @text-color;
	}
}


// ========================================== //
// =============== FONT ICONS =============== //
// ========================================== //
@font-face {
	font-family	: 'fontello';
			src	: url('../css/fonts/fontello.eot?15409922');
			src	: url('../css/fonts/fontello.eot?15409922#iefix') format('embedded-opentype'),
				  url('../css/fonts/fontello.woff2?15409922') format('woff2'),
				  url('../css/fonts/fontello.woff?15409922') format('woff'),
				  url('../css/fonts/fontello.ttf?15409922') format('truetype'),
				  url('../css/fonts/fontello.svg?15409922#fontello') format('svg');
}
[class^='icon-']:before, [class*=' icon-']:before {
	font-family	: 'fontello';
	font-weight	: normal;
	font-style	: normal;
	font-variant: normal;
	line-height	: 1em;

	display	: inline-block;

	width		: 1em;
	margin-right: .3em;

	text-align		: center;
	text-decoration	: inherit;
	text-transform	: none;

	speak					: none;
	-webkit-font-smoothing	: antialiased;
	-moz-osx-font-smoothing	: grayscale;
}

.icon-heart:before { content: '\e800'; }
.icon-home:before { content: '\e801'; }
.icon-group:before { content: '\e802'; }
.icon-search:before { content: '\e803'; }
.icon-menu:before { content: '\e804'; }
.icon-star:before { content: '\e805'; }
.icon-location:before { content: '\e806'; }
.icon-down-open:before { content: '\e807'; }
.icon-up-open:before { content: '\e808'; }
.icon-thumbs-up-alt:before { content: '\f164'; }
.icon-volume-control-phone:before { content: '\f2a0'; }