/***** Global Settings *****/
html, body {border:0; margin:0; padding:0;} 
body {font:14px Arial, Helvetica, sans-serif;}
a:focus { outline:none; }
/***** Headings *****/
h1, h2, h3, h4, h5, h6 {margin:0; padding:0; font-weight:normal;} 
h1 {font-size:2em; font-weight:bold;}
h2 {font-size:1.5em; font-weight:bold;}
h3 {font-size:1em; font-weight:bold;}
/***** Common Formatting *****/
p, ul, ol {margin:0; padding:0 0 0.5em 0;} 
ul, ol {padding:0 0 1.25em 1.25em;} 
blockquote {margin:1.25em; padding:1.25em 1.25em 0 1.25em;} 
small {font-size:0.85em;} 
img {border:0;} 
sup {font-size:0.5em;} 
sub {font-size:0.5em;} 
acronym, abbr {cursor:help; letter-spacing:1px; border-bottom:1px dashed;} 
/***** Links *****/
a, a:link, a:visited, a:hover {}
/***** Forms *****/
form {margin:0; padding:0; display:inline;} 
input, select, textarea {font:1em Arial, Helvetica, sans-serif;} 
textarea {width:100%; line-height:1.25;} 
label {cursor:pointer;}
/***** Wrapper *****/
#wrap {width:980px; margin:0 auto;}
.wrap {width:980px;margin:0 auto;}
/***** Global Classes *****/
.clearfix:after {content:"."; display:block; height:0; font-size:0; line-height:0; clear:both; visibility:hidden;}
.clear {content:"."; display:block; height:0; font-size:0; line-height:0; clear:both; visibility:hidden;}
.float-left {float:left;}
.float-right {float:right;}
.bold {font-weight:bold;}
.italic {font-style:italic;}
.underline {border-bottom:1px solid;}
.img-left {float:left;margin:4px 10px 4px 0;}
.img-right {float:right;margin:4px 0 4px 10px;}
