body { font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:130%; }

h1 { font-size:22px; font-weight:bold; line-height:130%; margin:3px 10px; }
h2 { font-size:18px; font-weight:bold; line-height:130%; margin:3px 10px; }
h3 { font-size:16px; font-weight:bold; line-height:130%; margin:3px 10px; }
h4 { font-size:14px; font-weight:bold; line-height:130%; margin:3px 10px; }

/*** STELE MARI ***/
.stele-mari-5 { width:110px; height:20px; background:url(//images.hostdirector.ro/stele_mari.gif) 0 0 no-repeat; }
.stele-mari-4 { width:88px; height:20px; background:url(//images.hostdirector.ro/stele_mari.gif) -22px 0 no-repeat; }
.stele-mari-3 { width:66px; height:20px; background:url(//images.hostdirector.ro/stele_mari.gif) -44px 0 no-repeat; }
.stele-mari-2 { width:44px; height:20px; background:url(//images.hostdirector.ro/stele_mari.gif) -66px 0 no-repeat; }
.stele-mari-1 { width:22px; height:20px; background:url(//images.hostdirector.ro/stele_mari.gif) -88px 0 no-repeat; }

/*** STELE MICI ***/
.stele-mici-5 { width:70px; height:12px; background:url(//images.hostdirector.ro/stele_mici.gif) 0 0 no-repeat; display:inline-block; }
.stele-mici-4 { width:56px; height:12px; background:url(//images.hostdirector.ro/stele_mici.gif) -14px 0 no-repeat; display:inline-block; }
.stele-mici-3 { width:42px; height:12px; background:url(//images.hostdirector.ro/stele_mici.gif) -28px 0 no-repeat; display:inline-block; }
.stele-mici-2 { width:28px; height:12px; background:url(//images.hostdirector.ro/stele_mici.gif) -42px 0 no-repeat; display:inline-block; }
.stele-mici-1 { width:14px; height:12px; background:url(//images.hostdirector.ro/stele_mici.gif) -56px 0 no-repeat; display:inline-block; }

.blue { color:#065abf; }
.red { color:#d60808; }
.green { color:#279500; }
.grey { color:#999; }
