body { margin:0; padding:0; font-family:Arial; background:#FFF; font-size:12px; line-height:18px; }
img { border:0; }

a { text-decoration:underline; color:#065abf; font-size:14px; line-height:22px; }
a:hover { text-decoration:underline; color:#333; }

.blue { color:#065abf; }

h1 { font-size:22px; padding:5px; margin:5px; }
h2 { font-size:16px; padding:5px; margin:5px; }

#container { margin:40px auto 0 auto; width:800px; position:relative; }

#left { position:absolute; top:0; left:0; margin:0; width:300px; }

#right { position:absolute; top:0; left:300px; margin:0; width:465px; border-left:1px solid #9D9D9D; padding:0 15px; }
