<div class="afisare-oferta-dreapta NEW-round8px clearfix">
  <img src="{poza1}" alt="{denumire_hotel}" width="50" height="50" class="images" onclick="location.href='{link}';" />
  <div class="titlu"><a href="{link}" title="{denumire_hotel}" class="link-red" rel="nofollow">{denumire_hotel}</a></div>
  <div class="stars blue">Circuit</div>
  <div class="place">Continent: {denumire_continent}</div>
</div>
