<div id="detaliiFormulare">
  <div class="bigger-13em bold black pad15 text-center">{titlu} cu filtrele selectate</div>
  <br>
  <div class="text-center"><a href="{link-return}" onClick="setCookie('grad_ocupare','',-1);" class="button-green">Reseteaza filtrele</a></div>
</div>