<div class="afisare-oferta {class_selected_hotel}">
  <div class="normal NEW-round8px clearfix">
    <div class="float-left" style="margin-right:8px;">
      <a href="{link_h}" class="poza NEW-round6px" target="_blank">{early}<img src="{poza1}" alt="{denumire_hotel}" class="NEW-round6px"></a>
    </div>
    <div class="float-right w620">
      <div class="hotel grey2 mar5-0"><a href="{link_h}" class="link-blue" title="{denumire_hotel} {titlu_dreapta}" target="_blank"><span class="green">{denumire_tip_oferta}</span> {denumire_hotel} - <span class="grey2 smaller-09em">{titlu_dreapta}</span></a> {stele}</div>
     
      
      <div class="text-justify" style="line-height:1.4em; margin:3px 0 0 0;">{comentariu}</div>
     <!-- {nota_review}-->{recomandat_pentru} 
   <!--{pret_marketing}-->
    
    </div>
  </div>
  <div id="H{id_hotel}O"></div>
</div>
{loader}
