<div class="item">
  <a href="{link}" class="poza" rel="nofollow"><img src="{poza1_mare}" width="220" alt="{denumire_hotel}" />{detalii_rec}{pret_recomandata}</a>
  <div class="underpic">
	<div class="titlu"><a href="{link}" class="link-blue">{denumire_hotel}</a> {stele}</div>
	<div class="text-center">{denumire_zona} › {denumire_localitate}</div>
  </div>
</div>
