<div class="afisare_oferta_lunga"> <img class="thumbnail" src="{poza1}" alt="{denumire_hotel}" width="100" height="100" onclick="location.href='{link}';" style="cursor:pointer;" />

  <div class="titlu"> 

  <a href="{link}" title="{titlu_link}" style="padding-left:8px;">

   {denumire_hotel} {stele}

   </a>

    <span class="blue" style="float:right"><strong>{denumire_localitate}</strong></span> </div>

  <div class="clear-right"></div>

  <div class="area">

    <table width="100%" cellpadding="2" cellspacing="1" class="tabel-oferte">

      <thead>

        <tr>

          <th align="center" valign="top">Durata</th>

          <th align="center" valign="top">Masa</th>

          <th align="center" valign="top">Transport</th>

          <th align="center" valign="top">Tarif de la</th>

        </tr>

      </thead>

      <tbody>

      {oferte}

      </tbody>

    </table>

  </div>

  <br class="clear" />

</div>

