<div class="oferta NEW-round8px clearfix">
  <a href="{link}"><img width="100" height="100" class="images NEW-round6px" alt="{den_oferta}" src="{poza1}" /></a>
  <div class="titlu"><a href="{link}" class="link-blue" title="{den_oferta}">{den_oferta}</a></div>
  <div class="pret">de la<br /><span class="red">{pret_minim}</span><br />{exprimare_pret}</div>
  <p>{stele}</p>
  <div class="transport">{denumire_transport}</div>
  <div class="place">{nr_zile_nou}</div>
</div>
