html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}table,caption,tbody,tfoot,thead,tr,th,td{}:focus{outline:0}body{line-height:1;color:black;background:white}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}td{vertical-align:top}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:""""}a{outline:0}strong{font-weight:bold}em{font-style:italic}.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden}.clearfix{ display:inline-block}.clearfix{ display:block}* html .clearfix{ height:1px}.hide{display:none}.small{color:#888;font-size:9px}img.left{float:left}img.right{float:right}body{color:#333;font:12px Arial,Verdana,sans-serif;line-height:18px}table{font-size:inherit;font:100%}select,input,textarea{font:99% Arial,Verdana,sans-serif}pre,code{font:100% monospace;*font-size:100%}p,ul,ol{margin:18px 0}ul{list-style-type:square;margin-left:2em}h1{font-size:18px;line-height:36px;margin:18px 0}h2{font-size:14px;line-height:18px;margin:18px 0}h3{font-size:12px;line-height:18px;margin:18px 0}h4{font-size:12px}
body {
	background: #d7d7d7;
}
div#login {
	margin: 50px auto 0 auto;
	width: 546px;
}
div#cap-top {
	background: url(/images/agentie_login_top.png) top left no-repeat;
	padding-top:8px;
	width: 546px;
}
div#cap-body {
	padding-left: 40px;
	padding-right: 40px;
	background: url(/images/agentie_login_bg.png) repeat-y;
}
div#cap-bottom {
	background: url(/images/agentie_login_bottom.png) bottom left no-repeat;
	padding-bottom:14px;
	width: 546px;
}
div#login div#panelLogin div, div#login div#panelResetPass div, div#login div#panelChangePass div {
	margin: 0 auto;
	padding-bottom: 18px;
	width: 456px;
}
div#login div#branding {
	padding-top: 20px;
}
div#login div#branding img {
	display: block;
	margin: 0 0 10px 0px;
}
div#login label {
	color: #999;
	display: block;
	font-size: 16px;
	font-weight: bold;
}
div#login span.checkBoxListStyle label {
	display: inline;
}
div#login input#txtLogin, div#login input#txtPassword, div#login input#txtEmailAddressResetPass, div#login input.textbox340 {
	background: #f3f3f3;
	border: 1px solid #ddd;
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	padding: 3px;
	width: 440px;
}
div#login input#txtLogin:focus, div#login input#txtPassword:focus, div#login input.textbox340:focus {
	background: #fcfcfc;
	border: 1px solid #bbb;
}
div#login div.submit p {
	float: left;
	margin: 0;
}
div#login input#btnLogin, div#login input#btnRetrieve, div#login input#btnUpdate {
	float: right;
	margin-bottom: 10px;
	width:102px;
	height:34px;
	background:url(/images/agentie_login_login.png) no-repeat;
	border:0;
	padding:0;
	cursor:pointer;
	text-indent:-9999px;
}
div#login a:link, div#login a:visited {
	color: #aaa;
}
div#login a:hover, div#login a:active {
	color: #fff;
}
p.lostpassword {
	margin: 0;
	position: relative;
	top: -50px;
	left: 10px;
	width: 260px;
	letter-spacing:1px;
}
div#login p.lostpassword a {
	color: #0066bc!important;
}
.red { color:#C41E3A; }