/************************************ COLORS ************************
blue	- 007FFF
red		- C41E3A
************************************* COLORS ***********************/
#left { clear:left; float:left; width:180px; margin:0 5px 10px -98px; position:relative; }
#left ul li a { zoom:100%; }

#footer p { padding:0; }

.paginatie a { padding:1px 6px; }
.paginatie .sel { padding:1px 6px; }
.paginatie .selNav { padding:1px 6px; }

.filtrare button { line-height:160%; }
