/************************************ COLORS ************************
blue	- 007FFF
red		- C41E3A
************************************* COLORS ***********************/
.paginatie a { padding:1px 6px; }
.paginatie .sel { padding:1px 6px; }
.paginatie .selNav { padding:1px 6px; }

.filtrare button { line-height:160%; }
