/************************************ COLORS ************************
blue	- 0061A7
red		- C41E3A
************************************* COLORS ***********************/


/************************************ PAGE STRUCTURE ***************/
body { background:#FFF; color:#333; font-family:sans-serif; font-size:12px; line-height:1.4em; }
input, select, textarea { font-family:sans-serif; } 

h1 { padding:9px 15px 4px 10px; margin:0; font-size:22px; line-height:30px; font-weight:normal; }

h2 { padding:9px 15px 4px 10px; margin:16px 0 -5px 0; font-size:18px; line-height:24px; font-weight:normal; border:1px solid #DDD;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #f9f9f9; /* Old browsers */
background: -moz-linear-gradient(top, #f9f9f9 0%, #ececec 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f9f9f9 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f9f9f9 0%,#ececec 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f9f9f9 0%,#ececec 100%); /* IE10+ */
background: linear-gradient(top, #f9f9f9 0%,#ececec 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
}
h2.red { color:#C41E3A; border-color:#C41E3A; }
h2.blue { color:#0061A7; border-color:#0061A7; }
h3 { padding:9px 15px 4px 10px; margin:0; font-size:15px; line-height:20px; font-weight:bold; }

input { padding:3px; margin:3px; border:1px solid #999; vertical-align:middle; font-size:12px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
input:focus { background:#FFFFE8; border:1px solid #666; }
input.red { background:#C41E3A; color:#FFF; }
textarea { padding:3px; margin:3px; border:1px solid #999; vertical-align:middle; font-size:12px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
textarea:focus { background:#FFFFE8; border:1px solid #666; }
select { margin:3px; border:1px solid #999; vertical-align:middle; font-size:12px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
select:focus { background:#FFFFE8; border:1px solid #666; }
/************************************ PAGE STRUCTURE ***************/


/************************************ HEADER ***********************/
#header { height:28px;
background: #464646; /* Old browsers */
background: -moz-linear-gradient(top, #464646 0%, #373737 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464646), color-stop(100%,#373737)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #464646 0%,#373737 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #464646 0%,#373737 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #464646 0%,#373737 100%); /* IE10+ */
background: linear-gradient(top, #464646 0%,#373737 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#373737',GradientType=0 ); /* IE6-9 */
}
#header a { float:left; display:block; color:#CCC; border-right:1px solid #555; text-decoration:none; line-height:28px; height:28px; padding:0 0.85em; }
#header a:hover { background:#FFF; color:#333; }
/************************************ HEADER ***********************/


/************************************ LEFT *************************/
#left { clear:left; float:left; width:180px; margin:0 5px 0 -195px; position:relative; border-right:1px solid #CCC; background:#ECECEC;
background: #ececec; /* Old browsers */
background: -moz-linear-gradient(left, #ececec 0%, #ececec 93%, #d7d7d7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ececec), color-stop(90%,#ececec), color-stop(100%,#d7d7d7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #ececec 0%,#ececec 93%,#d7d7d7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #ececec 0%,#ececec 93%,#d7d7d7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #ececec 0%,#ececec 93%,#d7d7d7 100%); /* IE10+ */
background: linear-gradient(left, #ececec 0%,#ececec 93%,#d7d7d7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#d7d7d7',GradientType=1 ); /* IE6-9 */
}
#left .titlu { color:#FFF; border-bottom:1px solid #6D6D6D; border-top:1px solid #808080; text-shadow: 0px -1px 0px #333333; filter: dropshadow(color=#333333, offx=0, offy=-1); line-height:18px; font-size:13px; font-weight:bold; padding:5px;
background: #808080; /* Old browsers */
background: -moz-linear-gradient(top, #808080 0%, #6d6d6d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#808080), color-stop(100%,#6d6d6d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #808080 0%,#6d6d6d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #808080 0%,#6d6d6d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #808080 0%,#6d6d6d 100%); /* IE10+ */
background: linear-gradient(top, #808080 0%,#6d6d6d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#6d6d6d',GradientType=0 ); /* IE6-9 */
}
#left .titlu a { display:block; text-decoration:none; }
#left .titlu a:hover { text-decoration:underline; }
#left ul { list-style:none; margin:0 0 6px 0; padding:0; }
#left ul li { line-height:18px; font-weight:bold; }
#left ul li a { border-bottom:1px solid #DFDFDF; border-top:1px solid #F9F9F9; padding:4px 5px; display:block; text-decoration:none; color:#0061A7; }
#left ul li a:hover { background:#E4E4E4; border-bottom:1px solid #CCC; border-top:1px solid #E4E4E4; color:#C41E3A;
text-shadow: 0px 1px 0px #ffffff;
filter: dropshadow(color=#ffffff, offx=0, offy=1); 
background: #e4e4e4; /* Old browsers */
background: -moz-linear-gradient(top, #e4e4e4 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e4e4e4 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e4e4e4 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e4e4e4 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(top, #e4e4e4 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
#left ul li a.add { float:right; font-size:1.3em; padding-left:10px; padding-right:10px; border-left:1px solid #F9F9F9; }
#left ul li.title { font-size:1.2em; padding:5px 3px; background:#D8D8D8; }
/************************************ LEFT *************************/


/************************************ CONTENT **********************/
#content { clear:both; margin-left:195px; padding:0; }

#centru { float:left; width:100%; margin-bottom:10px; }
#centru td { vertical-align:middle; }

#centru img { vertical-align:middle; }

.link { color:#0061A7; text-decoration:none; }
.link:hover { color:#C41E3A; text-decoration:underline; }

.tabel { border-collapse:collapse; border-color:#DDD; }
.tabel tr th { background:#EBEBEB; border:1px solid #DDD; border-bottom:1px solid #333; text-align:center; font-size:13px; padding:5px 2px; }
.tabel tr td { padding:6px 3px; color:#666; }
.tabel tr td a { color:#0061A7; text-decoration:none; }
.tabel tr td a:hover { color:#C41E3A; text-decoration:underline; }
.tabel tr.normal td { /*background:#FFF;*/ }
.tabel tr.hover td { background:#FFFFE8; }
.tabel tr.expired td { background:#ffebeb; }
.tabel tr td .tools { padding:6px 0 0 0; font-weight:normal; }
.hoverRow td { background:#FFFFE8; }

.default { }
.default th { font-size:1.2em; font-weight:bold; text-align:left; vertical-align:middle; }
.default tr:hover { background:#f6f6f6; }
.default tr.red { background:#ffe1e6; }
.default tr.green { background:#dcffdc; }
.default tr.disabled { background:#EFEFEF; }

.tabel-inside { border-top:1px solid #DDD; border-left:1px solid #DDD;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.tabel-inside th { border-right:1px solid #DDD; border-bottom:1px solid #DDD; font-size:1.2em; line-height:1.5em; text-align:center; vertical-align:middle; padding:10px 5px;
background: #f9f9f9; /* Old browsers */
background: -moz-linear-gradient(top, #f9f9f9 0%, #ececec 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f9f9f9 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f9f9f9 0%,#ececec 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f9f9f9 0%,#ececec 100%); /* IE10+ */
background: linear-gradient(top, #f9f9f9 0%,#ececec 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
}
.tabel-inside td { border-right:1px solid #DDD; border-bottom:1px solid #DDD; padding:2px 5px; background:#F9F9F9; }

.tabel2 tr td.normal { background:#FFF; }
.tabel2 tr td.hover { background:#FFFFE8; }

.paginatie { margin:10px; }
.paginatie a { color:#0061A7; background:#F3F3F3; border:1px solid #BBB; padding:2px 6px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; text-decoration:none; }
.paginatie a:hover { color:#C41E3A; border:1px solid #C41E3A; }
.paginatie .sel { font-weight:bold; background:#F3F3F3; border:1px solid #333; padding:3px 6px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
.paginatie .selNav { color:#999; background:#F3F3F3; border:1px solid #BBB; padding:3px 6px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }

.filtrare { margin:30px 10px 15px 10px; padding:4px 10px; border:1px solid #CCC; background:#F3F3F3; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; font-size:11px; }
.filtrare input { font-size:11px; }
.filtrare button { font-size:11px; padding:0 7px; margin:2px; }
.filtrare select { font-size:11px; }

input.mic { width:50px; }
input.date { width:90px; }
input.mediu { width:160px; }
input.mare { width:400px; }
textarea.mic { width:600px; height:80px; }
textarea.mic2 { width:300px; height:40px; }
textarea.mediu { width:600px; height:140px; }
textarea.mare { width:600px; height:300px; }
select.mic { width:80px; }
select.mediu { width:180px; }
select.mare { width:420px; }

.infos { font-size:0.9em; background:#F0F0F0; border:1px solid #C41E3A; padding:3px 6px; margin:2px 0; }

/*.buttons { border:1px solid #BBB; padding:4px 8px; font-size:13px; font-weight:bold; line-height:18px; text-decoration:none !important; color:#FFF !important; margin:0 5px; cursor:pointer;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
text-shadow: 0px -1px 0px #333333;
filter: dropshadow(color=#333333, offx=0, offy=1);
background: #298cba;
background: -moz-linear-gradient(top, #298cba 0%, #1d6385 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#298cba), color-stop(100%,#1d6385));
background: -webkit-linear-gradient(top, #298cba 0%,#1d6385 100%);
background: -o-linear-gradient(top, #298cba 0%,#1d6385 100%);
background: -ms-linear-gradient(top, #298cba 0%,#1d6385 100%);
background: linear-gradient(top, #298cba 0%,#1d6385 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#298cba', endColorstr='#1d6385',GradientType=0 );
}
.buttons:hover { border-color:#13455B; cursor:pointer;
background: #1d6385;
background: -moz-linear-gradient(top, #1d6385 0%, #298cba 98%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d6385), color-stop(98%,#298cba));
background: -webkit-linear-gradient(top, #1d6385 0%,#298cba 98%);
background: -o-linear-gradient(top, #1d6385 0%,#298cba 98%);
background: -ms-linear-gradient(top, #1d6385 0%,#298cba 98%);
background: linear-gradient(top, #1d6385 0%,#298cba 98%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d6385', endColorstr='#298cba',GradientType=0 );
}

.buttons-red { border:1px solid #999; padding:4px 8px; font-size:13px; font-weight:bold; line-height:18px; text-decoration:none !important; color:#FFF !important; margin:0 5px; cursor:pointer;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
text-shadow: 0px -1px 0px #333333;
filter: dropshadow(color=#333333, offx=0, offy=1);
background: #e5576f;
background: -moz-linear-gradient(top, #e5576f 0%, #C41E3A 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5576f), color-stop(100%,#C41E3A));
background: -webkit-linear-gradient(top, #e5576f 0%,#C41E3A 100%);
background: -o-linear-gradient(top, #e5576f 0%,#C41E3A 100%);
background: -ms-linear-gradient(top, #e5576f 0%,#C41E3A 100%);
background: linear-gradient(top, #e5576f 0%,#C41E3A 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5576f', endColorstr='#C41E3A',GradientType=0 );
}
.buttons-red:hover { border-color:#770014; cursor:pointer;
background: #C41E3A;
background: -moz-linear-gradient(top, #C41E3A 0%, #e5576f 98%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C41E3A), color-stop(98%,#e5576f));
background: -webkit-linear-gradient(top, #C41E3A 0%,#e5576f 98%);
background: -o-linear-gradient(top, #C41E3A 0%,#e5576f 98%);
background: -ms-linear-gradient(top, #C41E3A 0%,#e5576f 98%);
background: linear-gradient(top, #C41E3A 0%,#e5576f 98%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C41E3A', endColorstr='#e5576f',GradientType=0 );
}*/

.buttons { display:inline-block; background-color:#007dc1; border:1px solid #124d77; color:#FFF !important; font-size:13px; line-height:14px; padding:6px 14px; margin:0 5px 5px 5px; text-decoration:none !important; text-shadow:0px 1px 0px #154682;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
box-shadow:inset 0px 1px 0px 0px #54a3f7;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
}
.buttons:hover { background-color:#0061a7;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #0061A7));
background:-moz-linear-gradient(top, #0061a7 5%, #0061A7 100%);
background:-webkit-linear-gradient(top, #0061a7 5%, #0061A7 100%);
background:-o-linear-gradient(top, #0061a7 5%, #0061A7 100%);
background:-ms-linear-gradient(top, #0061a7 5%, #0061A7 100%);
background:linear-gradient(to bottom, #0061a7 5%, #0061A7 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#0061A7',GradientType=0);
}
.buttons:active { position:relative; top:1px; }

.buttons-red { display:inline-block; background-color:#d0451b; border:1px solid #942911; color:#FFF !important; font-size:13px; line-height:14px; padding:6px 14px; margin:0 5px 5px 5px; text-decoration:none !important; text-shadow:0px 1px 0px #854629;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
box-shadow:inset 0px 1px 0px 0px #cf866c;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
}
.buttons-red:hover { background-color:#bc3315;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
}
.buttons-red:active { position:relative; top:1px; }

.buttons-brown { display:inline-block; background-color:#7d5d3b; border:1px solid #54381e; color:#FFF !important; font-size:13px; line-height:14px; padding:6px 14px; margin:0 5px 5px 5px; text-decoration:none !important; 
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
-moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
box-shadow:inset 0px 1px 0px 0px #a6827e;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
}
.buttons-brown:hover { background-color:#634b30;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
}
.buttons-brown:active { position:relative; top:1px; }

/*input.submit { background:#EDEDED; border:1px solid #BBB; padding:4px 8px; font-size:13px; font-weight:bold; line-height:18px; text-decoration:none; color:#FFF; margin:0 5px; cursor:pointer;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
text-shadow: 0px 1px 0px #333333;
filter: dropshadow(color=#333333, offx=0, offy=1);
background: #298cba;
background: -moz-linear-gradient(top, #298cba 0%, #1d6385 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#298cba), color-stop(100%,#1d6385));
background: -webkit-linear-gradient(top, #298cba 0%,#1d6385 100%);
background: -o-linear-gradient(top, #298cba 0%,#1d6385 100%);
background: -ms-linear-gradient(top, #298cba 0%,#1d6385 100%);
background: linear-gradient(top, #298cba 0%,#1d6385 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#298cba', endColorstr='#1d6385',GradientType=0 );
}
input.submit:hover { border-color:#13455B; cursor:pointer;
background: #1d6385;
background: -moz-linear-gradient(top, #1d6385 0%, #298cba 98%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d6385), color-stop(98%,#298cba));
background: -webkit-linear-gradient(top, #1d6385 0%,#298cba 98%);
background: -o-linear-gradient(top, #1d6385 0%,#298cba 98%);
background: -ms-linear-gradient(top, #1d6385 0%,#298cba 98%);
background: linear-gradient(top, #1d6385 0%,#298cba 98%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d6385', endColorstr='#298cba',GradientType=0 );
}*/

input.submit { display:inline-block; background-color:#007dc1; border:1px solid #124d77; color:#FFF !important; font-size:13px; line-height:14px; padding:6px 14px; margin:0 5px 5px 5px; text-decoration:none !important; text-shadow:0px 1px 0px #154682; cursor:pointer;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
box-shadow:inset 0px 1px 0px 0px #54a3f7;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
}
input.submit:hover { background-color:#0061a7;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #0061A7));
background:-moz-linear-gradient(top, #0061a7 5%, #0061A7 100%);
background:-webkit-linear-gradient(top, #0061a7 5%, #0061A7 100%);
background:-o-linear-gradient(top, #0061a7 5%, #0061A7 100%);
background:-ms-linear-gradient(top, #0061a7 5%, #0061A7 100%);
background:linear-gradient(to bottom, #0061a7 5%, #0061A7 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#0061A7',GradientType=0);
}
input.submit:active { position:relative; top:1px; }

.tableRez { }
.tableRez td { color:#333 !important; padding:1px 3px !important; margin:0 !important; border:none !important; }

.corespondenta { padding:0; margin:5px 0 10px 20px; }
.corespondenta li { padding:2px 0; }
.corespondenta li a { font-size:1.1em; font-weight:bold; cursor:pointer; }
.corespondenta li div { border:3px solid #CCC; padding:10px; margin:0 0 10px 0; }

.expandable { background:url(/images/plus_menu.gif) left center no-repeat; padding-left:12px; }
.expandableON { background:url(/images/minus_menu.gif) left center no-repeat; padding-left:12px; }
/************************************ CONTENT **********************/


/************************************ FOOTER ***********************/
#footer { background:#FFF; border-top:1px solid #CCC; height:20px; padding:5px 15px; margin:10px 0 0 0; }
#footer p { color:#333; }
#footer p a { color:#0061A7; text-decoration:none; }
#footer p a:hover { color:#C41E3A; text-decoration:underline; }
/************************************ FOOTER ***********************/


/************************************ STELE MARI *******************/
.stele-mari-5 { width:110px; height:20px; background:url(//images.hostdirector.ro/stele_mari.gif) 0 0 no-repeat; }
.stele-mari-4 { width:88px; height:20px; background:url(//images.hostdirector.ro/stele_mari.gif) 0 0 no-repeat; }
.stele-mari-3 { width:66px; height:20px; background:url(//images.hostdirector.ro/stele_mari.gif) 0 0 no-repeat; }
.stele-mari-2 { width:44px; height:20px; background:url(//images.hostdirector.ro/stele_mari.gif) 0 0 no-repeat; }
.stele-mari-1 { width:22px; height:20px; background:url(//images.hostdirector.ro/stele_mari.gif) 0 0 no-repeat; }
/************************************ STELE MARI *******************/


/************************************ STELE MICI *******************/
.stele-mici-5 { width:70px; height:12px; background:url(//images.hostdirector.ro/stele_mici.gif) 0 0 no-repeat; }
.stele-mici-4 { width:56px; height:12px; background:url(//images.hostdirector.ro/stele_mici.gif) 0 0 no-repeat; }
.stele-mici-3 { width:42px; height:12px; background:url(//images.hostdirector.ro/stele_mici.gif) 0 0 no-repeat; }
.stele-mici-2 { width:28px; height:12px; background:url(//images.hostdirector.ro/stele_mici.gif) 0 0 no-repeat; }
.stele-mici-1 { width:14px; height:12px; background:url(//images.hostdirector.ro/stele_mici.gif) 0 0 no-repeat; }
/************************************ STELE MICI *******************/


/************************************ CUSTOM CLASSES ***************/
.orange { color:#F90; }
.yellow { color:#F40; }
.blue { color:#0061A7; }
.red { color:#C41E3A; }
.green { color:#060; }
.black { color:#000; }
.grey { color:#666; }
.violet { color:#A901DB; }

.titluArticol { font-size:13px; font-weight:bold; }

.closed td { background:#EEE !important; }
.closed td, .closed td a, .closed td strong, .closed td span { color:#888 !important; }
.yellow td { background:#fff3e1 !important; }
.yellow td, .yellow td a, .yellow td strong, .yellow td span { color:#F40 !important; }
.green td { background:#dcffdc !important; }
.green td, .green td a, .green td strong, .green td span { color:#060 !important; }
.red td { background:#ffeef1 !important; }
.red td, .red td a, .red td strong, .red td span { color:#C41E3A !important; }
.violet td { background:#F6CEEC !important; }
.violet td, .violet td a, .violet td strong, .violet td span { color:#A901DB !important; }



.bigger-11em { font-size:1.1em; line-height:1.3em; }
.bigger-12em { font-size:1.2em; line-height:1.3em; }
.bigger-13em { font-size:1.3em; line-height:1.5em; }
.smaller-09em { font-size:0.9em; line-height:1.3em; }
.smaller-08em { font-size:0.8em; line-height:1.3em; }
.smaller-07em { font-size:0.7em; line-height:1.3em; }
/************************************ CUSTOM CLASSES ***************/

.ui-autocomplete { width:300px; max-height:200px; background-color:#FFF; border:1px solid #cfcfcf; list-style-type:none; padding-left:0px; overflow-y:scroll; overflow-x:hidden; }
