/* START BODY CONTENT*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
@-ms-viewport {
  width: device-width;
}
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
  padding-left: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a {
  color: #0275d8;
  text-decoration: none;
}

a:focus, a:hover {
  color: #014c8c;
  text-decoration: underline;
}
img {
  vertical-align: middle;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.mr-auto {
  margin-right: auto !important;
}
.float-sm-right {
    float: right!important;
}
.form-inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
.top-navbar {
    font-size: 12px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    background: #065ABF;
}
.top-navbar a,
.top-navbar a:active,
.top-navbar a:hover,
.top-navbar a:focus,
.top-navbar a:visited {
    color: #fff;
    text-decoration: none;
    padding-left: 1rem;
}
.header {
    padding: 20px 0;
}
.header .facts {
  font-size: 22px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}
section#content {
    padding: 0.6rem 0 1rem 0;
    background: #eeeeee;
}
.heading h1,
.heading h2 {
    font-size: 1.6667em;
    line-height: 1.25em;
    margin-bottom: 10px;
    color: #2d3e52;
}
.heading .location {
    font-size: 15px;
}
.heading .location .fa {
    font-size: 18px;
    color: #065ABF;
}
.list-group {
    margin-bottom: 20px !important;
}
.list-group-item {
    padding: 15px !important;
    margin: 0 !important;
    border: 0 !important;
    border-top: 1px solid #f5f5f5 !important;
    border-radius: 0 !important;
}
.list-group-item:first-child {
    border-top: 0 !important;
}
.list-group-item .fa {
    font-size: 38px;
}
/* END BODY CONTENT */

/* START GRID SYSTEM */
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
/* END GRID SYSTEM */


/* START CARD SYSTEM */
.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f7f7f9;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-img-top {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}
@media (min-width: 576px) {
  .card-deck {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card-deck .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-deck .card:not(:first-child) {
    margin-left: 15px;
  }
  .card-deck .card:not(:last-child) {
    margin-right: 15px;
  }
}
@media (min-width: 544px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.75rem;
  }
}
@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.75rem;
  }
}
/* END CARD SYSTEM */


/* START MENU CONTENT */
.navbar-bg {
  background-color: #fafafa;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.navbar-brand-desc {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  color: #D60808;
  padding-left: 30px;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  color: #838383;
  padding: 12px 15px;
  border-right: 1px solid #e0e0e0;
}

.nav-link:focus, .nav-link:hover {
  background-color: #f5f5f5;
  color: #616161;
  text-decoration: none;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-brand {
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none;
}

.navbar-toggleable-md .navbar-brand {
  padding: 10px 0 10px 15px;
}

.navbar-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav li:first-child {
  border-left: 1px solid #e0e0e0;
}

.navbar-toggler {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-top: 12px;
}

.navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}

.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}

@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}

@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}

.navbar-light .navbar-brand,
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover,
.navbar-light .navbar-toggler:focus,
.navbar-light .navbar-toggler:hover {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.show {
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

tr.collapse.show {
  display: table-row;
}

tbody.collapse.show {
  display: table-row-group;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
/* END MENU CONTENT */


/* START BREADCRUMB CONTENT */
.breadcrumb {
  font-size: 14px;
  padding: .55rem .85rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #fff;
}
.breadcrumb::after {
  display: block;
  content: "";
  clear: both;
}
.breadcrumb-item {
  float: left;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #636c72;
  content: "/";
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}
.breadcrumb-item.active {
  color: #636c72;
}
/* END BREADCRUMB CONTENT */

/* START BUTTON CONTENT */
.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  border-radius: 0 !important;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn:focus, .btn:hover {
  text-decoration: none;
}
.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}
.btn:active, .btn.active {
  background-image: none;
}
.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}
.btn-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}
.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #2aabd2;
}
.btn-info:focus, .btn-info.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
          box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}
.btn-success:focus, .btn-success.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
          box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}
.btn-lg, .btn-group-lg > .btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 0.5rem;
}
/* END BUTTON CONTENT */


/* START FILTER DESIGN */

.filter-container .panel {
    background-color: #fff;
    margin-bottom: 20px;
}
.filter-container .panel-title {
    font-size: 16px;
    padding-left: 5px;
    margin: 0;
    text-transform: uppercase;
}
.filter-container .panel a {
    display: block;
    padding: 15px;
    color: #2d3e52;
}
.filter-container .panel a:hover,
.filter-container .panel a:focus {
    color: #2d3e52;
    text-decoration: none;
}
.filter-container .panel .panel-title>a:before {
    display: block;
    content: "\f068";
    font-family: FontAwesome;
    margin-top: -3px;
    line-height: 24px;
    font-size: 10px;
    float: right;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #9e9e9e;
    background: #f5f5f5;
    border-radius: 50%;
}
.filter-container .panel .panel-title>a.collapsed:before {
    content: "\f067";
    color: #fff;
    background: #01b7f2;
}
.filter-container .panel .panel-content {
    padding: 10px 20px 20px;
    border-top: 1px solid #f5f5f5;
}
.filter-container .panel .panel-content form label {
    display: block;
    font-size: 13px;
    margin-bottom: 3px;
    text-transform: uppercase;
}
.filter-container .panel .panel-content form select {
    display: block;
    font-size: 13px;
    margin-bottom: 3px;
    text-transform: uppercase;
}
.filter-container .panel .panel-content form .form-control {
    background-color: #f5f5f5;
    font-size: 13px;
    border: 0;
    border-radius: 0;
}
.filter-container .btn {
    border-radius: 0;
    text-transform: uppercase;
}

/* END FILTER DESIGN */


/* START GRID VIEW DESIGN */

.circuit .card {
    border: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 20px !important;
}
.grid-view .card-img-top {
    width: 100%;
    height: 180px;
    border-radius: 0;
}
.grid-view .early-booking {
    position: absolute;
    background-color: #5cb85c;
    font-size: 10px;
    color: #fff;
    text-align: center;
    line-height: .8rem;
    top: 0;
    left: 0;
    padding: .4rem .6rem;
    text-transform: uppercase;
}
.grid-view .discount {
    position: absolute;
    background-color: #ff3e3e;
    font-size: 16px;
    color: #fff;
    top: 0;
    right: 0;
    padding: .4rem .6rem;
}
.grid-view .card-block {
    padding: 15px;
}
.grid-view .price {
    color: #5cb85c;
    font-size: 1.6667em;
    text-transform: uppercase;
    float: right;
    text-align: right;
    line-height: 1;
    padding-top: 4px;
    display: block;
}
.grid-view .price small {
    display: block;
    color: #838383;
    font-size: 0.5em;
}
.grid-view .title {
    font-size: 1.3333em;
    color: #2d3e52;
    margin-bottom: 10px;
    font-weight: 400;
}
.grid-view .title small {
    color: #838383;
    font-size: 0.6em;
    text-transform: uppercase;
    display: block;
    margin-top: 6px;
}
.grid-view .transport {
    text-align: center;
    font-size: 0.8333em;
    text-transform: uppercase;
    padding: 10px 0;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}
.grid-view .transport .fa {
    font-size: 16px;
    color: #2d3e52;
    margin: 0 3px 0 10px;
}
.grid-view .date {
    text-transform: uppercase;
    font-size: 0.8333em;
    line-height: 19px;
    padding: 10px 0;
    padding-bottom: 85px;
}
.grid-view .date span {
    color: #01b7f2;
}
.grid-view .departures {
    border-right: 1px solid #f5f5f5;
}
.grid-view .departures div {
    padding-left: 20px;
}
.grid-view .countries div {
    padding-left: 15px;
}
.grid-view .departures .fa,
.grid-view .countries .fa {
    float: left;
    font-size: 18px;
    color: #01b7f2;
    margin-right: 5px;
    line-height: 1.5rem;
}
.grid-view .card-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    border: 0;
    padding: 15px;
}
.grid-view .info {
    text-align: center;
    font-size: 0.8333em;
    text-transform: uppercase;
}
.grid-view .info .fa {
    font-size: 14px;
    color: #2d3e52;
}
.grid-view .btn {
    font-size: 0.9167em;
    border-radius: 0;
    padding: 0.4rem 1rem;
    text-transform: uppercase;
}

/* END GRID VIEW DESIGN */


/* START BLOCK VIEW DESIGN */

.block-view .card-img-top {
    width: 100%;
    height: 180px;
    border-radius: 0;
}
.block-view .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
    cursor: default;
}
.block-view .hovereffect .card-img-top {
    height: 220px;
}
.block-view .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(75,75,75,0.4);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.block-view .hovereffect:hover .overlay {
    background-color: rgba(1, 183, 242, 0.6);
}
.block-view .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    letter-spacing: 4px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(90px);
    -ms-transform: translateY(90px);
    transform: translateY(90px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.block-view .hovereffect:hover h2 {
    -webkit-transform: translateY(45px);
    -ms-transform: translateY(45px);
    transform: translateY(45px);
}
.block-view .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
    margin: 90px 0 0;
}
.block-view .hovereffect a.info:hover {
    background-color: #fff;
    color: #838383;
}
.block-view .hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
}
.block-view .card-block {
    padding: 15px;
}
.block-view .title {
    font-size: 17px;
    color: #2d3e52;
    margin-top: 6px;
    text-transform: uppercase;
}
.block-view .description {
    font-size: 15px;
    color: #838383;
    padding-top: 10px;
}
.block-view .card-footer {
    padding: 10px 0 0 0;
    background-color: transparent;
    border-top: 1px solid #f5f5f5;
}
.block-view .price-wrapper {
    font-size: 14px;
    color: #838383;
    margin: 0;
    text-transform: uppercase;
}
.block-view .price-wrapper .price {
    font-size: 1.4em;
    color: #5cb85c;
}
.block-view .btn {
    margin-top: 3px;
    text-transform: uppercase;
}

/* END BLOCK VIEW DESIGN */

.circuit-content {
	background-color: #fff;
	padding: 20px;
    margin: 20px 0;
}
.circuit-content .price-table span {
    display: block;
    font-weight: 600;
    text-align: right;
    margin-bottom: 20px;
}
.circuit-content .price-table .table td, .table th {
	text-align: center;
}
.circuit-content .nav-tabs .nav-link {
    font-weight: 600;
}
.circuit-content .tab-content>.tab-pane {
    border: 1px solid #ddd;
    border-width: 0 1px 1px 1px;
}
.circuit-content .border-box {
	border: 15px solid #f5f5f5;
    margin: 15px;
}
.circuit-content .price-box {
	padding: 20px 0;
}
.circuit-content form label {
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.circuit-content form .form-group {
	margin: 0;
}
.circuit-content .btn{
	margin-top: 26px;
    border-radius: 0;
    text-transform: uppercase;
}
.circuit-content .rooms {
    background-color: rgba(91, 192, 222, 0.3);
    margin: 0 15px 15px 15px;
    padding: 15px;
}
.circuit-content .rooms .row {
    margin: 0;
}
.circuit-content .rooms .rooms-details {
    background-color: #fff;
    padding: 10px;
}
.circuit-content .rooms .rooms.details .occupants {
    float: right;
    padding: 5px 0;
}
.circuit-content .program .title {
	font-weight: 700;
	padding-top: 20px;
}
.circuit-content .program .title .red {
	color: #ff3e3e;
}
.circuit-content .program span {
	font-size: 15px;
}
.circuit-content .alert {
	margin-top: 20px;
	margin-bottom: 0;
	border-radius: 0;
}

.sidebar-box {
	background-color: #fff;
	padding: 15px;
	margin-bottom: 20px;
}
.sidebar-box .title {
	font-size: 18px;
	font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
    text-transform: uppercase;
}
.sidebar-box .content {
	padding-top: 15px;
}
.sidebar-box .content p {
	font-size: 15px;
    margin-bottom: 10px;
}
.sidebar-box .content p:before {
    content: "\f04b";
    font-family: "FontAwesome";
    margin-right: 10px;
    color: #d9d9d9;
    display: block;
    float: left;
    font-size: 7px;
    line-height: 25px;
}

.circuit-sidebar .info {
	letter-spacing: 0.04em;
    font-size: 12px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.circuit-sidebar .info .list {
	display: block;
	color: #838383;
}
.circuit-sidebar .price {
    color: #7db921;
    font-size: 1.6667em;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.75em;
    display: block;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}
.circuit-sidebar .price small {
    display: block;
    color: #838383;
    font-size: 0.5em;
    text-transform: uppercase;
}
.circuit-sidebar .btn {
	margin-top: 15px;
    border-radius: 0;
    text-transform: uppercase;
}
.circuit-sidebar .flight-img {
	text-align: center;
}
.circuit-sidebar .flight-title {
	font-size: 18px;
	font-weight: 400;
    text-align: center;
    padding: 10px 0;
}
.circuit-sidebar .flight p {
	margin-bottom: 5px;
}
.circuit-sidebar .flight .devider {
	border-bottom: 2px dotted #f5f5f5;
    margin: 10px 0;
}
.circuit-sidebar .note {
	display: block;
	font-size: 14px;
}


.booking-section {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
}
.booking-section form label {
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 0.9167em;
}
input.input-text, textarea, span.custom-select {
    padding-left: 15px;
    padding-right: 15px;
    height: 34px;
    width: 100%;
}
input.input-text, select, textarea, span.custom-select {
    background: #f5f5f5;
    border: none;
    line-height: normal;
}
.booking-section h3 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: normal;
    color: #2d3e52;
}




.newsletter {
    background: url(../images/global-map.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.newsletter .m-title {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 1.2em;
    margin: 0;
}
.newsletter .m-title em {
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
}
.newsletter form input[type=text], .newsletter form input[type=email] {
    background-color: #f5f5f5;
    height: 43px;
    font-size: 15px;
    padding: 0 15px;
    border: 0;
    width: 100%;
}
.newsletter .btn {
    line-height: 1.60;
}
.newsletter .form-group {
  margin-top: 15px;
}

.footer {
  padding: 30px 0;
}
.footer h2 {
    font-size: 22px;
    line-height: 1.25em;
    font-weight: normal;
    color: #2d3e52;
    margin-bottom: 20px;
}
.footer ul {
  padding: 0;
}
.footer li {
  list-style: none;
}
.footer ul.triangle li:before {
    content: "\f04b";
    font-family: "FontAwesome";
    margin-right: 10px;
    margin-top: 8px;
    color: #d9d9d9;
    display: block;
    float: left;
    font-size: 7px;
}
.footer .social-icon {
    -webkit-transform: scale(0.8);   
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
} 
.footer .social-icon:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
#facebook-icon {
    color: #3b5998;
}
#google-icon {
    color: #dd4b39;
}
#twitter-icon {
    color: #55acee;
}
#pinterest-icon {
    color: #cb2027;
}
#rss-icon {
    color: #ff6600;
}
.contact-details .contact-phone {
    color: #2d3e52;
    font-size: 24px;
}
.contact-details .contact-address {
    display: block;
    color: #2d3e52;
}
.contact-details i {
    color: #01b7f2;
}
footer .copyright {
    font-size: 14px;
    border-top: 1px solid #e0e0e0;
    padding: 10px 0;
    margin: 15px 0 0;
}


/* START VISIBILITY CONTENT */
@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}
/* END VISIBILITY CONTENT */

/* START FONT AWESOME CONTENT */
@font-face {
    font-family: FontAwesome;
    src: url(fonts/FontAwesome.otf);
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-3x {
  font-size: 3em;
}
.fa-heart:before {
  content: "\f004";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-volume-control-phone:before {
  content: "\f2a0";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-phone:before {
  content: "\f095";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-plane:before {
  content: "\f072";
}
.fa-bus:before {
  content: "\f207";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-star:before {
  content: "\f005";
}
.fa-search:before {
    content: "\f002";
}
.fa-check-circle:before {
    content: "\f058";
}
.fa-minus-circle:before {
    content: "\f056";
}
.fa-home:before {
    content: "\f015";
}
/* END FONT AWESOME CONTENT */

.text-primary {
  color: #065abf;
}
.text-success {
  color: #279500;
}
.text-danger {
  color: #d60808;
}

.old-price {
  display: block;
  margin: 5px 0 -3px 0;
  text-decoration: line-through;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}
.current-price {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
.badge {
      display: inline-block;
    padding: 0.50em .6em;
    font-size: 81%;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.badge-success {
  background-color: #279500;
}
.badge-danger {
  background-color: #d60808;
}



.discount {
  position: absolute;
  top: 0px;
  left: 15px;
  max-width: 170px;
  padding: 7px 10px 3px;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.discount.eb {
  background: rgba(39, 149, 0, 0.75);
}
.discount.lm {
  background: rgba(214, 8, 8, 0.75);
}
.discount.bf {
  background: rgba(0, 0, 0, 0.8);
}
.recommended {
  display: flex;
  padding: 0 15px;
  margin-top: -15px;
}
.recommended .fa-thumbs-up {
  font-size: 24px;
  color: #279500;
}
.recommended p {
  font-size: 17px;
  font-weight: 700;
  padding-left: 10px;
  margin: 0;
}
.recommended p span {
  display: block;
  color: #065ABF;
  font-size: 22px;
}
@media (max-width: 576px) {
  .recommended {
  	display: -webkit-inline-box;
  	padding: 0;
  	margin-bottom: 10px;
  }
  .recommended .fa-thumbs-up {
  	font-size: 1rem;
  }
  .recommended p {
  	font-size: 1rem;
  	vertical-align: 16px;
  	padding-left: 5px;
  }
  .recommended p span {
  	display: inline-block;
  	font-size: 1rem;
  }
}

.trustme-box {
  background: #fff;
  padding: 15px;
  height: 100%;
  margin-bottom: 0;
}
.trustme-box li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #fafafa;
  padding: 10px 0;
}
.trustme-box li:first-child {
  padding-top: 0;
}
.trustme-box li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.trustme-box li .phone {
  color: #D60808;
  font-size: 24px;
  font-weight: 700;
}
.trustme-box li i {
  font-size: 42px;
}
.trustme-box li .fa-volume-control-phone {
  color: #D60808;
}
.trustme-box li .fa-thumbs-up {
  color: #279500;
}
.trustme-box p {
  font-size: 15px;
  margin: 0;
  padding-left: 15px;
}


.hotel h1 .stars {
  font-size: 22px;
}
.hotel .content {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
}
.hotel .free-policy {
  color: #279500;
  font-weight: bold;
}
.hotel .content h4 {
  color: #065ABF;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #065ABF;
}
.hotel .nearby {
  display: flex;
  flex-direction: column;
}
.hotel .nearby a {
  display: block;
  margin-top: 3%;
}
.hotel .nearby a img {
  float: left;
  height: 80px;
  margin-right: 10px;
  border-radius: .25rem;
}
.hotel .nearby a span {
  display: block;
  color: #333;
}
.hotel .thumb {
  float: left;
  margin: 0 10px 0 0;
  height: 60px;
  border-radius: .25rem;
}
.fa-star {
  color: #F6AE0B;
}



.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.price-box {
	background-color: #efffe9;
    padding: .75rem 1.25rem;
    margin-top: 20px;
    border: 1px solid #279500;
}
.price-box h4 {
	color: #D60808;
	margin-bottom: 20px;
}
.price-box .btn {
	margin-top: 30px;
}



.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 0.75rem;
  text-align: left;
  border-top: 1px solid #eceeef;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

.table tbody + tbody {
  border-top: 2px solid #eceeef;
}

.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #eceeef;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #eceeef;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #dff0d8;
}

.table-hover .table-success:hover {
  background-color: #d0e9c6;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #d0e9c6;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #d9edf7;
}

.table-hover .table-info:hover {
  background-color: #c4e3f3;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #c4e3f3;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fcf8e3;
}

.table-hover .table-warning:hover {
  background-color: #faf2cc;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #faf2cc;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f2dede;
}

.table-hover .table-danger:hover {
  background-color: #ebcccc;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #ebcccc;
}

.thead-inverse th {
  color: #fff;
  background-color: #292b2c;
}

.thead-default th {
  color: #464a4c;
  background-color: #eceeef;
}

.table-inverse {
  color: #fff;
  background-color: #292b2c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  border-color: #fff;
}

.table-inverse.table-bordered {
  border: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive.table-bordered {
  border: 0;
}
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }