/*--------------------------------
		    Basics
--------------------------------*/

body{
	background: url(../images/bg_squares.png) repeat fixed;
	padding-bottom: 39px;
}


button{
	display:block;
	clear:both;
	float:left;
	color: #fff;
	border: 1px solid transparent;
	padding: 7px 0px 7px 11px;
	background-color: #4C5766;
}


#button_display button{clear:none;}
#button_display button span{
	display:none;
}

#button_display,
#button_display .block{
	padding-bottom:10px;
	}

.display_none{display: none;}

/*---- End of Basics -----*/


/*--------------------------------
      Sidebar and Topbar
--------------------------------*/

#topbar{
	display:none;
	z-index:10;
	position:relative;
	width: 100%;
	margin-bottom: 10px;
	
}

#topbar a.logo{
	float:left;
	margin-left: 3px;
	margin-bottom: 0;
}

#topbar .user_box{
	float:right;
	width:190px;
	margin-right:10px;
	margin-top: 10px;
	margin-bottom:0px;
	padding:5px;
	
	color:#fff;
	border:1px solid #4C5766 !important;
		
   -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.25);
   -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.25);
   box-shadow:inset 0px 1px 3px rgba(0,0,0,0.25);
}

#sidebar{
	margin-left:10px;
	width:175px;
	z-index:10;
	position:fixed;
	top:0px;
	left:0px;
	
}

#sidebar a, #topbar a{color:#959BA2; font-weight:normal;}
#sidebar a:hover, #topbar a:hover{color:#fff;}

a.logo{
	background: url(../images/adminica_logo_black-trans.png) no-repeat;
	display:block;
	height:87px;
	width:180px;
	z-index:10;
	margin-top: -15px;
}


#sidebar div.cog{
	display: none;
}
#sidebar a.logo{
	margin-bottom: 5px;
	margin-left: -7px;
}

#sidebar a.logo span, #topbar a.logo span{
	visibility:hidden;
}

body #sidebar .user_box{
	color:#fff;
	padding:5px;
	padding-right: 0;
	
	border:1px solid #4C5766;
	
	margin-top:0px;
	margin-bottom:10px;
	
   -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.25);
   -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.25);
   box-shadow:inset 0px 1px 3px rgba(0,0,0,0.25);
}

#sidebar .user_box:hover{
}

#sidebar .user_box .user_links{
	float:right;
	width:95px;
	padding-right:5px;
	word-wrap:break-word;}

#sidebar .user_box img, #topbar .user_box img{
	border: 1px solid #333;
	float: left;
	margin-right: 8px;
	margin-bottom:0;
	padding:0;
	display:block;

	zoom:1;
}
#sidebar .user_box h2, #topbar .user_box h2{
	color: #fff;
	line-height: 12px;
	margin-bottom: 8px;
	margin-top: 3px;
	font-size:0.9em;
}
#sidebar .user_box h3, #topbar .user_box h3{

	margin-bottom: 8px;
	font-size:1em;
	font-weight:normal;
}

#sidebar .user_box ul, #topbar .user_box ul{
	margin-bottom: 0;
	margin-top:5px;
}

#sidebar .user_box ul li, #topbar .user_box ul li{
	position: relative;
	float: left;
	display: inline;
	list-style:none;
	zoom:1;
}
#sidebar .user_box ul li a, #topbar .user_box ul li a{
	font-size: 0.9em;
	
	zoom:1;
}

#sidebar .user_box ul li a:hover, #topbar .user_box ul li a:hover{
	color:white;
}
#sidebar .user_box ul li a:hover, #topbar .user_box{
	color:#fff;
}

#sidebar .user_box ul li span, #topbar .user_box ul li span{
	color: #666;
	margin:0 4px;
}

form#search_side{width:100%;}
#sidebar form#search_side{

	
	padding: 0;

	border:1px solid #4C5766;
	
	margin-bottom:10px;
	width: 173px;
	margin-left:0;
	display:block;
	position:relative;
	display:block;
	
   -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.25);
   -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.25);
   box-shadow:inset 0px 1px 3px rgba(0,0,0,0.25);
}

#sidebar form#search_side input{
	background: transparent url(../images/icons/small/white/magnifying_glass.png) 5px 3px no-repeat;
	border:none;
	display: block;
	padding:7px 5px 7px 33px;
	width:135px;
	color:#959BA2;
	
	
}

#sidebar form#search_side input{color: #fff;}
#sidebar #search_side:hover{
	border: 1px solid #fff;
	color: #fff;
}



#sidebar ul#accordion, #sidebar ul#side_links{
	margin-bottom: 10px;
	
}

#sidebar ul#accordion li, #sidebar ul#side_links li{
	list-style:none;
	width: 100%;
	position: relative;
}

#sidebar ul#accordion li a, #sidebar ul#side_links li a{
	color:#555;
	font-weight:normal;
	font-size:1.1em;
	background-image: none;
	background-color: none;
	display:block;
	line-height:32px;
	border-top:1px solid #fff;
	border-bottom:1px solid #959ba2;
	border-left:none;
	border-right:none;
	text-indent:0px;
	text-shadow:0px 1px 0px #fff;
	padding-left:10px;
	zoom:1;
}

#sidebar ul#accordion li a img, #sidebar ul#side_links a img{
	float:left; 
	padding:4px 7px 0 0; 
	margin-left: -5px;
}
	
#sidebar ul#accordion li span, #sidebar ul#side_links li span{
	display:block;
	position: absolute;
	right:2px;
	top:2px;}

#sidebar ul#accordion li a:hover, #sidebar ul#side_links li a:hover{
	color:#000;
	
}


#sidebar ul#accordion li a.ui-state-active{
	color:#000;
}

#sidebar ul#accordion li:first-child a, #sidebar ul#side_links li:first-child a {	
	border-top:0px solid white;
}


#sidebar ul#accordion li:last-child a, #sidebar ul#side_links li:last-child a{
	border-bottom:0px solid white;
}


#sidebar ul#accordion li ul.drawer{
	border-left:0 !important;
	border-right:0 !important;
	border-top:0px solid #333;
	border-bottom:0px solid #333;
	margin-top: -1px;
	margin-bottom: 0px;
	
	background: url(../images/sidenav_tooth-trans.png) 8px 0px no-repeat;
	background-color:none;
}

#sidebar ul#accordion li ul.drawer li a{
	filter:none;
	background-image:none;
	background-color:transparent;
	border-bottom:1px solid #000;
	border-top:0px solid #333;	
	border-left: 0px solid #333;
	border-right: 0px solid #333;
	color:#eee;
	font-weight:normal;
	text-indent:15px;
	line-height:32px;
	font-size:1em;

	text-shadow:0px 1px 0px #000;
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
#sidebar ul#accordion li ul.drawer li a:hover{
	background-color:rgba(0,0,0,0.1);
	color:#fff;
}

#sidebar ul#accordion li ul.drawer li:last-child a{
	border-bottom-width: 0px;
}
#sidebar ul#accordion li ul.drawer li:first-child a{
	border-top: none;
}


#sidebar ul#accordion li:last-child ul.drawer li:last-child a{
	border-bottom-width: 0px;
}

#sidebar ul#accordion li:last-child ul.drawer{	
}



/*---- End of Sidebar and Topbar -----*/



/*--------------------------------
         Login Box
--------------------------------*/

#login_box{
	background: #eee url(../images/grey_noise.png) repeat;
	background-color: #e5e8ea;
	z-index:10;
	display: block;
	margin:10% auto 100px;
	border:1px solid white;
	position:relative;
	width:340px;
	
} 

#login_box label.fields{
	position: relative;
	display:block;
	margin: 20px 30px 10px;	
}

#login_box label.fields strong{
	display:block;
	width:85px;
	float:left;
	
	color: #333333;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 25px;
    text-shadow: 0 1px 0 #FFFFFF;
	}
	

#login_box label.fields input.indent{
	width:185px;
	height:22px;
	padding:0 5px;
	line-height:22px;
    text-shadow: 0 1px 0 #FFFFFF;}
	
#login_box button {
	float:right;
	margin:10px 30px 55px;
	display:block;
    clear: both;
}

#login_box #bar{
	color:white;
	background-color:#4c5766;
	position:absolute;
	bottom:-5px;
	left:-1px;
	width:300px;
	padding:10px 20px;
	border-left:none;
	border-right:none;
	font-size: 12px;
	border-bottom: 1px solid #59676B !important;
	
}

#login_box #bar a{ margin-left:30px; color:#ccc}
#login_box #bar a:hover{ color:#fff;}

#login_box a#login_logo{
	background: transparent url("../images/adminica_logo_black-trans.png") 0 -15px no-repeat;
	position:absolute;
	bottom:-72px;
	right:24px;
	height:67px;
	width:253px;
}

#login_box a#login_logo span{ visibility:hidden;}

/*----- End of Login Page -------*/


/*--------------------------------
     The Main Container
--------------------------------*/

	
div.main_container{
	margin:10px 10px 10px 196px;
	*top:10px;
	background: #eee url(../images/grey_noise.png) repeat;
	background-color: #e5e8ea;
	padding: 20px 10px 5px;
	width:auto;
	position: relative;
	display: block;
	*padding-bottom: 15px;
	
	-webkit-border-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-radius: 4px;
	border-top-left-radius: 4px;
} 


div.main_container a{
color:#555;
font-weight:bold;
}

div.main_container a:hover{
color:#000;
}


.flat_area{margin-bottom: 0px;margin-top: 0px;}

.flat_area p, .flat_area h1, .flat_area h2, .flat_area  h3, .flat_area  h4, .flat_area  h5, .flat_area  h6{

	text-shadow:0px 1px 0px #fff;
}


.flat_area h2{
	margin-left: 0px;
    margin-right: 0px;
	padding:2px 10px 2px;
	margin-bottom:15px;
	margin-top:0px;
	font-weight:normal;

	
	background-image:url("../images/trans_black_less.png");
	border:1px solid #fff;
	border-left:1px solid #f8f8f8;
	border-right:1px solid #f8f8f8;
	line-height:30px;
	text-indent:0px;

}

div.main_container .box{
	position: relative;
	background-color:white;
	border:1px solid #ccc;
	border-width:1px 0;
	margin-bottom:15px;
	padding:0;
	z-index:400;
}


div.main_container .box h2.box_head{
	font-size:13px;
	font-weight:normal;
	line-height:37px;
	background-color:#4c5766;
	color:white;
	margin:-2px auto -2px;
	text-indent:10px;
	text-shadow:0px 1px 0px #0f3360;
	
	-webkit-user-select: none;
}

div.main_container .box h2.box_head small{
	font-size: 11px;
	color:#ddd;
	line-height: 0em;
	
}


.box a.toggle{
	background: url(../images/toggle.png) 2px -15px no-repeat;
	display:block;
	height:18px;
	width:18px;
	position: absolute;
	right:37px;
	top:6px;
}

.box a.toggle_closed{
	background-position:2px 2px;
}


.box a.grabber{
	background: url(../images/grabber.gif) no-repeat;
	display:block;
	height:22px;
	width:22px;
	position: absolute;
	right:6px;
	top:6px;
	cursor:move;
}



.box .block{
	padding:16px 20px 5px 20px;
	margin-top:1px;
	position:relative;
	overflow:auto;
}
div.main_container .box .no_padding{
	padding:0;
	overflow:visible;
}

.box .block label{
	display:block;
	font-size: 1.0em;
	font-weight: bold;
	color:#333;
	margin-bottom:5px;
	clear: both;
}	

.box .block label small{
	font-size:0.9em;
	color:#666;
}

.box .block input{
	display:block;
	border:1px solid #b5b8bb;
	background-color:#e7edef;
	height:1.8em;
	margin-bottom:15px;
	
	text-indent:5px;
}


.box .block input:hover,
.box .block textarea:hover{
	border-color:#777;
}
.box .block input:focus,
.box .block textarea:focus{
	border-color:#444;
}

.box .block input.small{
	width:20%;
}
.box .block input.medium{
	width:35%;
}
.box .block input.large{
	width:70%;
}

.box .block .input_group{
	margin-bottom: 15px;
}

button{
	padding: 7px 0px 5px 0px;
	margin-bottom:15px;
	margin-right:8px;
	border: 1px solid transparent;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #fff;
	float:left;
    white-space:nowrap;
    width:auto;
    overflow:visible;
}
button img{
	display:inline-block;
	margin:-8px 0px;
	width:24px;}

button span{
	display:inline-block;
	text-transform:capitalize;
	margin:-2px 5px 0 5px;
}


#button_display button{
	float:left;
}


#button_display button span{
	display:none;
}

#button_display{
padding-bottom:0px;}

#button_display .block{
	padding-bottom:0px;
	padding-right: 0px;
	padding-top: 20px;}



.box .block textarea{
	display:block;
	border:1px solid #b5b8bb;
	background-color:#e7edef;
	margin-bottom:15px;
	height:100px;
	padding:5px 0;
	
	text-indent:5px;
}

.box .block ul.full_width{
	border: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

.box .block ul.full_width li{
	margin:0 0 0 1px;
	margin-left: 0;
	border-bottom:1px solid #ccc;
	width: 100%x;
	padding:10px 10px;
	list-style:none;
	display: block;
}


.box .block ul.full_width li:last-child{
	border: none;
}


.box .block ul.full_width li span{
	color: #333;
	display: block;
	float: left;
	width: 95px;
	font-weight: bold;
	font-size: 1.2em;
}

.dashed_placeholder{
	float: left;
	display: block;
	border:1px dashed #aaa;
	background-color:#ddd;
	margin-bottom: 13px !important;
	margin-left:1%;
	margin-right:0.6%;
}

.fullsize{
	padding: 0 !important;
}

.fullsize .box{
	width:100% !important;
	margin: 0 !important;
}

/*----- End of Main Container -------*/


/*--------------------------------
         Top Nav
--------------------------------*/

#nav_top{
	margin:-20px -10px 20px;
	display: block;
	border-bottom: 0px solid #fff;
	position: relative;
	z-index:500;
}
#nav_top ul{
	margin-bottom: 0px;
	border-bottom: 0px solid #aaa;
}

#nav_top ul li{
	float: left;
	list-style:none;
	position: relative;
	display:block;
	zoom:1;
}

#nav_top ul li:first-child a{
	border-left: none;
}
#nav_top ul li a.end{
	width:0;
	height: 34px;
	padding: 0;
	border-right:none;
}

#nav_top ul li a{
	background-color: #dfe2e4;
	border-right: 1px solid #aaa;
	border-left: 1px solid #fff;
	padding:5px 5px 4px 11px;
	display: inline-block;
	margin-bottom: 0px;
	line-height:25px;
	white-space: nowrap;
	
	font-size: 1.1em;
    font-weight: normal;
    color:#555;
	text-shadow:0px 1px 0px #fff;
	
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #fff;
	zoom:1;
}

#nav_top > ul > li.has_dropdown > a{
	cursor: default;
}

#nav_top ul li a img{
	float:left;
	margin:1px 1px -4px -12px;
	}


div.main_container #nav_top > ul > li.current > a{
	border-top: none !important;
	border-bottom: 1px solid #000;
	border-left: none;
    color:#fff;
	text-shadow:0px 1px 0px #000000;
	border-right:1px solid #4b4b4b;
	padding-bottom: 5px;
	background-color: #4c5766;
	
   -moz-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3);
   -webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3);
   box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3);
	
}

#nav_top ul li:first-child.current > a{
	background-color:#1C5EA0;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
}
#nav_top ul li a:hover{
	color:#000;
}

#nav_top ul li ul.dropdown{
	background-color: transparent;
	display: block;
	position: absolute;
	top:35px;
	z-index:501;
	left:-9999px;
	zoom:1;
	border:1px solid #aaa;
	border-top:1px solid #aaa;
	width:140px;
	
	
}

#nav_top ul li:hover ul.dropdown{
	left:-1px;
	right:auto;
}


#nav_top ul li:hover ul.dropdown_right{
	right:-0px;
	left:auto;
}


#nav_top ul li ul.dropdown li{
	position: relative;
	float:none;
	background-color: #DFE2E4;
	z-index:100;
}
#nav_top ul li ul.dropdown li a{
	display:block;

	background-image:none;
	background-color: transparent;
	filter:none !important;
	

	border-bottom:1px solid #b5b8bb;
	border-top: 1px solid #f1f1f1;
	border-left: 1px solid #fff;
	border-right: none;
	margin-bottom: 0;
	font-size: 1em;
	font-weight: normal;
	text-shadow:0px 1px 0px #fff;
	padding-left: 20px;
}
#nav_top ul li ul.dropdown li:last-child a{
	border-bottom: 0px solid #b5b8bb;
}

#nav_top ul li ul.dropdown li a:hover{
	color: #000;
} 

#nav_top ul li ul.dropdown li:first-child a{
}

#nav_top ul li ul.dropdown li:last-child a{
}

#nav_top ul li ul.dropdown li a.has_slide,
#sidebar ul#accordion > li > a.has_slide{
	background: transparent url(../images/nav_plus.gif) left 7px no-repeat !important;
}
#sidebar ul#accordion > li > a.has_slide{
	background-position: right !important;
}

#nav_top ul li ul.dropdown li a.ui-state-active,
#sidebar ul#accordion > li > a.has_slide.ui-state-active{
	background-image: transparent url(../images/nav_minus.gif) !important;
}

#nav_top ul li ul.dropdown li a.has_slide:hover{
	
}


#nav_top ul li ul.dropdown li ul.slideout{
	margin-top: -1px;
	border:0;
	border-top:1px solid #111;
	width:auto !important;
	border-left:none;
}

#nav_top ul li ul.dropdown li ul.slideout li{

	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background:none;
	filter:none !important;
	zoom:1;
	
}
#nav_top ul li ul.dropdown li ul.slideout li a{
	display:block;
	border-bottom:1px solid #2f3134;
	color:#eee;
	text-shadow:0px 1px 0px #4e5660;
	border-top: 0px solid #999;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	
	border-left:none;
	
	text-shadow:0px 1px 1px #000;
	
	background:transparent url(../images/blank.png) repeat\9 !important;
	filter:none !important;
	zoom:1;
}

#nav_top ul li ul.dropdown li ul.slideout li a:hover{
background-color:rgba(0,0,0,0.1);
color:#fff;}

#nav_top ul li ul.dropdown li ul.slideout li:last-child a{
	border-bottom:0px solid #ccc;
}

#nav_top ul li ul.dropdown li:last-child ul.slideout li:last-child a,
#nav_top ul li ul.dropdown li:last-child
{
	margin-bottom: -0px;
}

#nav_top ul li ul.dropdown li ul.slideout{
	margin-bottom: 0px;
	filter:none;
}
#nav_top ul li ul.dropdown li:last-child ul.slideout{
	margin-bottom: 0px;
}




/*----- End Top Nav -------*/



/* Loading Overlay
----------------------------------------------------------------------------------------------------*/

#loading_overlay{
	position: fixed;
	top:0;
	left: 0;
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
}
#loading_overlay .loading_message{
	background: #fff;
	padding:0;
	line-height: 25px;
	height: 25px;
	border: 1px solid #fff;
	position: absolute;
	top:0px;
	left: 50%;
	width: 75px;
	margin-left: -37px;
	text-align: center;
	color: #333;
	font-weight: bold;
}


/*----- Loading Overlay -------*/



/*--------------------------------
    	Breadcrumb
--------------------------------*/



ul#breadcrumb{
	display: block;
	clear: both;
/*	background: url(../images/bg_heading.png) repeat-x; */
	background-color:#4c5766;
	border-left:0px solid #222;
	height:30px;
	margin:-10px -11px 20px;
}
ul#breadcrumb li{
	list-style:none;
	float:left;
}
ul#breadcrumb li a{
	background: url(../images/divider_breadcrumb.png) right no-repeat;
	color:white;
	display:block;
	float:left;
	line-height:30px;
	padding:0 30px 0 20px;
	
	text-shadow:0px 1px 0px #0f3360;
}




/*----- End of Breadcrumb -------*/


/*--------------------------------
     Big Search Bar
--------------------------------*/


#search_bar{
	display: block;
	margin:auto 0 20px;
	width: 100%;
	height:38px;
	position:relative;
	float: none;
}
#search_bar form{margin:0; padding:0;}
#search_bar input.indent{
	background-image:url("../images/trans_black.png");
	background-repeat:repeat;
	background-color:transparent;
	width:100%;
	border:none;
	border-top:3px solid #aaa;
	line-height:28px;
	height:28px;
	padding:2px 0 5px 0px;
	text-indent:10px;
	*text-indent:0;
	outline:1px solid white;
	font-size:1.2em;
	text-shadow:0px 1px 0px #f9f9f9;
}

#search_bar .place_search{
	position:absolute;
	top:4px;
	right:-5px;
}

#search_bar form button img{*display:none;}


/*----- End of Search Bar -------*/


/*--------------------------------
      Form Elements
--------------------------------*/

span.form_tag{
	display:block;
	background-color:#f6f6f6;
	height:20px;
	margin-bottom:15px;
	margin-left:5px;
	float: left;
	border:1px solid #b5b8bb;
	padding:4px 10px 0px 30px;
	font-weight:bold;
	font-size: 0.9em;
	width:120px;
	
}


#login_box .LV_validation_message {
    position: absolute;
    right: 2px;
    bottom: 2px;
    padding: 1px 3px 0;
    border:1px solid #aaa;
    background-color: #fff;
    
}
#login_box .LV_invalid{
	border-color:#a30617;
	background-color:#f80e27;
	color: #fff;
	text-shadow:0px 1px 0px #a30617;
}

form .LV_validation_message {
	clear: both;
	display: block;
    font-size: 11px;
    margin: -10px 0 10px;
    }

#login_box .LV_validation_message {
	margin: 0;
	}
    
form .LV_invalid{
	color: #f80e27;
}
    


.alert{
	border: 1px solid #999;
	padding: 15px;
	padding-left: 5px;
	margin-bottom: 15px;
	color: #fff;
	text-shadow: 0 1px 1px #000;
}

.alert:hover{
	cursor: pointer;
}


.alert img{
	margin:-5px 5px -8px;	
}


.alert.badge{
	position: absolute;
	display: block;
	z-index: 50;
	right: 0px !important;
	top:0px !important;
	margin: 0;
	text-align: center;
	padding: 0 3px;
	line-height: 10px;
	text-indent: 0;
	font-size: 11px;
	
	
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-left-radius: 2px;
}


/*----- End of Form Elements -------*/


/*--------------------------------
      Tab Boxes
--------------------------------*/

  
.tabs ul.tab_header{
	margin-top:-2px;
	margin-bottom:0px;
	padding:0;
	width:100%;
	border-width:1px 0px;
	padding-top:1px;
	
}

.tabs ul.tab_header li{
	display:block;
	margin:0;
	margin-bottom: -1px;
	padding:0;
	border:0;
	background:none;
	cursor:pointer;
	
	position:static;
	filter:none;
	
}

div.main_container .tabs ul.tab_header li a{
	display:block;
	margin:4px 0 0px 5px;
	line-height: 29px;
	padding:0 15px;
	text-shadow:0px 1px 0px #fff;
	
	color: #555;
	font-weight:normal;
	background-color: #313841;
	filter:none;

	border-bottom: 1px solid #AAAAAA;	
	
	
	
	
}
div.main_container .tabs ul.tab_header li.ui-state-active a{margin:4px 0 -2px 5px;}

div.main_container .tabs ul.tab_header li a:hover{
	color: #222;
	cursor:pointer;
	}

div.main_container .tabs ul.tab_header li.ui-tabs-selected a{
	background: #fff;
	filter:none;
	border-color:white;
	color: #333;
	text-shadow:none;
	}
div.main_container .tabs ul.tab_header li.ui-tabs-selected a{
	cursor:default;
}

div.main_container .tabs ul{margin-bottom:-1px;}



div.tab_sider{
	margin-left: 30%;
}




div.main_container .tabs ul.tab_sider{
	margin-top:0px;
	margin-bottom:0px;
	padding:0;
	position:absolute;
	left:0;
	right:70%;
	top:0;
	bottom:0;
	margin-left:-1px !important;
	background-color:none !important;
	filter:none;
	border:0px;
	overflow:hidden;
	
}

div.main_container .tabs ul.tab_sider li{
	display:block;
	margin:0px 0 0 0px;
	padding:0;
	width:101%;
	border:0;
	background:none;
	cursor:pointer;
	
	zoom:1;
	
}

div.main_container .tabs ul.tab_sider li a{
	display:block;
	line-height: 32px;
	margin:5px 0 0px 8%;
	padding:0 0;
	width:92%;
	text-shadow:0px 1px 0px #fff;
	text-align:center;
	
		
	color: #555;
	font-weight:normal;
	background-color: #313841;
	zoom:1;
	
	-moz-box-shadow:inset -1px 0px 0px #aaa;
	-webkit-box-shadow:inset 0px 0px 2px #aaa;
	box-shadow:inset 0px 0px 2px #aaa;
	
}

div.main_container .tabs ul.tab_sider li a:hover{
	color: #222;
	}


div.main_container .tabs ul.tab_sider li.ui-tabs-selected a{
	background: #fff;
	border-color:white;
	color: #333;
	text-shadow:none;
	padding:0 0;
	
	-moz-box-shadow:inset 0px 0px 2px #fff;
	-webkit-box-shadow:inset 0px 0px 2px #fff;
	box-shadow:inset 0px 0px 2px #fff;
}


div.main_container .box  ul.content_accordion{
	list-style:none;
	padding:0;
	margin-bottom:-1px;
	width:100%;
	}
	

.box  ul.no_header{	
	margin-top:-1px;
}
	


/*----- End of Form Elements -------*/


/*--------------------------------
      Accordion
--------------------------------*/

	
div.main_container .box  ul.content_accordion li:last-child .content{
	border-bottom:none;
	}


.content_accordion h3.bar{
	background-color: #dfe2e4;
	display:block;
	*display:inline-block;
	margin:0;
	line-height:30px;
	
	
	padding:0 20px;
	
	font-size: 13px;
    font-weight: normal;
    color:#333;
	text-shadow:0px 1px 0px #fff;
	
	border-bottom: 1px solid #959BA2;
	border-top: 1px solid #fff;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
	
	filter:none !important;
	
}


.content_accordion .content{
	padding:20px 20px 0;
	margin:0 0px;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid #aaa;
	background-color: #fff;
}



ul.content_accordion li{
	position:relative;
	padding:0;
	margin:0;
	width:100%;
	display:block;
	border:none;
}

ul.content_accordion li a.handle{
	background: url(../images/grabber-trans.png) no-repeat;
	
	line-height:22px;
	height:22px;
	width:22px;
	position: absolute;
	right:6px;
	top:6px;
	z-index:10;
	cursor:move;
	zoom:1;
}


/*----- End of Accordion -------*/


/*--------------------------------
      DataTable
--------------------------------*/


.dataTables_scroll{overflow:hidden;}
.dataTables_wrapper{margin:-1px 0;}
.dataTables_wrapper .ui-widget-header{
	font-weight:normal;
	background-color: #4c5766;
	position:relative;
	padding:10px;
	text-shadow:0px 1px 0px #000;
	}
	
.dataTables_length{
	float:left;
	line-height:20px;
	}

.dataTables_filter{
	float:right;
	line-height:20px;
	width: 180px;
	display:block;
	}
.dataTables_wrapper .dataTables_filter input{
	height:18px;
	display:inline;
	width: 120px;
	}
	
.dataTables_wrapper .ui-widget-header input{
	margin:0 0 0 5px;
    border: 1px solid #000000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;}

.dataTables_wrapper .ui-widget-header select{
	margin:0 5px;
    border: 1px solid #000000;}

.dataTables_scrollHeadInner {	
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #AAAAAA;
	}
.dataTables_scrollHeadInner table{margin-bottom:0;}
.dataTables_scrollHeadInner table thead tr{margin-right:-1px;}
.dataTables_scrollHeadInner table thead tr th{
border:none;
background:none;
position:relative;}

.DataTables_sort_wrapper{
	background:none;
	padding:10px 5px 10px 20px; 
	text-align:center;
	font-size: 1em;
	color:#333;
	text-shadow: 0 1px 0 #FFFFFF;
	
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #AAAAAA;
	position:relative;
	
	font-weight: normal; 
	}

	
.DataTables_sort_wrapper:hover{color:#0a4e98; cursor:pointer;}
	
.DataTables_sort_wrapper span{ position:absolute; left:5px; top:8px;}

.dataTables_scrollBody table{margin-bottom:0;}
.dataTables_scrollBody tbody tr td{ line-height:20px;}
table.display td{ padding: 3px 10px;}
table.display tr.odd {
background-color: #edf1f3;
border-bottom:1px solid #d8dcde;
}
table.display tr.even {
border-bottom:1px solid #e1e5e7;
}

table.display tr.even:hover,table.display tr.odd:hover{background-color:#E6ECEF;}

.dataTables_info{float:left;  line-height:26px;}
.dataTables_paginate{float:right; margin-right:0px;}
	
.dataTables_wrapper .dataTables_paginate span.fg-button{
	background-image:none;
	background-color:#DFE2E4;
	text-shadow: 0 1px 0 #FFFFFF;
	color:#333;
    border-bottom: 1px solid #aaa;
	border-left:1px solid white;
	border-top:1px solid white;
	border-right:1px solid #aaa;
	padding:3px 10px;
	margin:0;
	filter:none !important;
}
	
.dataTables_wrapper .dataTables_paginate span.first{
    border-left: 1px solid white;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
	
.dataTables_wrapper .dataTables_paginate span.last{
    border-right: 1px solid #fff;
	}

.dataTables_wrapper .dataTables_paginate span.ui-state-disabled{
	opacity:1; 
	color:#888 !important;
	}

.dataTables_wrapper .dataTables_paginate span span.ui-state-disabled{
	background-image:none;
	text-shadow: 0 1px 0 #000;
	background-color: #4C5766;
	border: 1px solid #333333;
    color: #FFFFFF !important;
	opacity:1;}
	

.box .no_padding .dataTables_wrapper .ui-corner-tl{
	
	color:#333;
	text-shadow: 0 1px 0 #FFFFFF;
	border-left: 1px solid #FFFFFF;
    border-right: 1px solid #AAAAAA;
	border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #AAAAAA;
	background-image:none;
	background-color:#DFE2E4;
	
	
	
	}

.no_padding .dataTables_wrapper .ui-corner-tl input,.no_padding .dataTables_wrapper .ui-corner-tl select{border: 1px solid #999; background-color: #fff;}


/* File Browser Style */
ul.jqueryFileTree{margin: 0 0 20px;}
li.expanded ul.jqueryFileTree{margin: 0 0 0px;}
ul.jqueryFileTree li:last-child{ border-bottom:none;}

ul.jqueryFileTree li.expanded > a{ margin-bottom:20px;}

ul.jqueryFileTree li.collapsed:last-child{margin-bottom:0; padding-bottom:0;}
ul.jqueryFileTree li.file:last-child{margin-bottom:0; padding-bottom:2px;}


/*----- End of DataTable -------*/


/*--------------------------------
      Regular Tables
--------------------------------*/

table.static{
	width: 100%;
	margin-bottom: 0;
}
table.static thead tr th{
	border-left: none;
	border-right: none;
	line-height: 30px;
	padding: 0 10px;
	text-align: left;
	color: #fff;
	font-weight: normal;
	text-shadow:0px 1px 0px #000;
}

table.static tbody tr td{
	line-height: 25px;
	padding: 0 10px;
	border: 0 solid #999;
}
table.static tbody tr td{
	border-bottom: 1px solid #E1E5E7;
}
table.static tbody tr.even td{
	background-color: #EDF1F3;
	border-bottom: 1px solid #D8DCDE;
}

/*----- End of Regular Tables -------*/


/*--------------------------------
      Wizard
--------------------------------*/

.wizard{
	border-top: 1px solid #333;
	margin-top: 1px;
	position: relative;
}
.wizard .wizard_steps ul{
	width: 100%;
	border-right: 0 !important;
	border-left: 0 !important;
	border-top: 0 !important;
}
.wizard .wizard_steps ul li{
	min-width: 170px;
	display: inline-block;
	float: left;
	list-style: none;
	border-right: 1px solid #000;
}
.wizard .wizard_steps ul li.current a{
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	color: #000;
	text-shadow:0px 1px 0px #fff;
}
.wizard .wizard_steps ul li:last-child,
.wizard .wizard_steps ul li:last-child a{
	border-right-width: 1px;
}
.wizard .wizard_steps ul li a{
	font-weight: normal;
	color: #fff;
	display: block;
	padding: 8px 10px;
	border-right: 1px solid #4C5766 ;
	text-shadow:0px 1px 0px #000;
}
.wizard .wizard_steps ul li a span{
	display: inline-block;
	float: left;
	font-size: 12px;
}
	
.wizard .wizard_steps ul li a small{
	font-size: 10px;
	color: #ddd;
	margin:5px 0 0  12px;
	display: inline-block;
	float: left;
	clear: both;
}
.wizard .wizard_steps ul li.current a small{
	color: #333;
}

.wizard_content .step{
	display: none;
}

.progress_in_header{
    display: block;
    height: 20px;
    position: absolute;
    right: 8px;
    top: -30px;
    width: 200px;
    z-index: 9999;
    border: 1px solid #000;
}
.progress_in_header span{
	position: absolute;
	z-index: 100;
	left:5px;
	top:1px;
	color: #fff;
	font-size: 11px;
	text-shadow:0px 1px 0px #000;
}
.progress_in_header.ui-progressbar .ui-progressbar-value{
	background: #000;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	
}

/*----- End of Wizard -------*/


/*--------------------------------
      File Browser
--------------------------------*/

#file_tree ul.jqueryFileTree li{
	padding:0 0 5px 25px;
	background-position:0px 8px;
}

#file_tree ul.jqueryFileTree li.directory a{
font-weight:normal;
line-height:30px;
margin-bottom:0;
}



/*----- End of File Browser -------*/


/*--------------------------------
      Gallery
--------------------------------*/

.indent{
	background-color:rgba(0,0,0,0.15);
	*background: url(../images/indent_ie.png) repeat;

	border:none;
	border-top:3px solid #aaa;
	outline:1px solid white;
	
}

.indent fieldset{text-shadow:0px 1px 0px #f9f9f9;}
.indent fieldset h3{margin-bottom: 10px;}

.gallery ul{padding:20px 5px 10px 20px; list-style:none; }
div.main_container .gallery ul li{
	list-style:none;
	float:left;
	padding:0;
	margin:0 7px 7px 0;
	border-bottom:1px solid #aaa;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
div.main_container .gallery ul li a{
	color:#fff;
	font-size:1.2em;
	display:block;
	width:150px;
	line-height:20px;
	background-color:#DFE2E4;
	text-align:center;
	text-shadow:0px 1px 0px #000;
	padding:3px 5px 10px 3px;
	border-left:0;
	border-right:0;
	border-top:0;
	}

	

div.main_container .gallery ul li a img{ display:block; margin:0 0 5px 0; padding:0; border:1px solid #222; }
div.main_container .gallery ul li a span.size{
	display: block;
	color:#999;
	font-size:10px;
	line-height: 15px;

}


.gallery_sorter{margin-bottom:10px; display: block;}
.gallery_sorter fieldset{padding:10px 20px;margin:0; width:40%;}
.gallery_sorter label{margin-right:10px; line-height: 2em; display: block; float: left;}

/*----- End of Gallery -------*/


/*--------------------------------
    Calendar
--------------------------------*/

.fc table{
	margin-bottom: 0;
}

.fc thead tr th{
	line-height: 30px;
}

.fc .fc-agenda-divider{
	background:#333;
	border-color: #000;
}



.fc .fc-agenda-slots tr th{
	border-color: #959BA2;
	color:#555;
	text-shadow: 0 1px 0 #FFFFFF;
	
}

.fc .ui-state-highlight, 
.fc .ui-widget-content .ui-state-highlight, 
.fc .ui-widget-header .ui-state-highlight{
	background-color: #E6ECEF;
}

.fc .fc-event{
	padding: 5px;
	text-shadow: 0 1px 0 #000;
	margin: 2px 0 1px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.fc .fc-event.google{
	border: 1px solid #959BA2;
}

.fc .fc-event a,
.fc-event-skin,
.fc-event-vert .fc-event-bg{
	background: none;
}
.fc .fc-event .fc-event-inner{
	background: none;
	border: none;
	}

.fc .fc-event.google .fc-event-inner span{
	}

ul#calendar_drag_list li{padding: 0;}
ul#calendar_drag_list li a{
	padding: 10px;
	display: block;
	cursor: move;
}

/*----- End of Calendar -------*/



/*--------------------------------
    iPhone and iPad formatting
--------------------------------*/

/*  iPad Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

	#template_options{
		position: relative !important;
	}
	
	#sidebar div.cog{
		line-height:40px !important;
		width:40px !important;
		right:-40px !important;
	}
	
}



/*  iPhone Landscape */
@media screen and (min-width: 321px) and (max-width: 480px)
{

	
	body div.main_container{
	margin:10px 0 10px 1% !important;
	padding:20px 2% 5px !important;
	width:94% !important;
	}
	body div.fullsize{padding:none !important;}
	
	#nav_top {
	margin: -20px -2% 20px;
	}
	
	#nav_top ul li a{
		padding:5px 5px 4px;
		font-size: 1em;
	}
	
	#nav_top ul li a img{
		display:none;
	}
	#template_options{
		position: relative !important;
	}
	
	div.main_container .box, div.main_container .flat_area{
    width: 98% !important;}
    
	#sidebar{display:none !important;}
	#topbar{display:block !important;}
	
	#template_options h3{
	float:none !important;
	display: block !important;
	clear:both !important;}
	
	#template_options div{display: block;}
	
	div.fullsize{padding:0 !important;}
	div.fullsize .box{
	margin:-20px -2% -5px !important;
	padding:0% !important;
	width:104% !important;
	}
	
	body{padding-bottom:0 !important;}
}



/*  iPhone Portrait */
@media screen and (max-width: 320px)
{	
	a.logo{
		width:50px;
	}
	
	#nav_top{display:block;}

	body div.main_container{
	margin:10px 0 10px 1% !important;
	padding:20px 2% 5px !important;
	width:94% !important;
	}
	body div.main_container #nav_top ul li.current:first-child a{
	border-left-width: 1px !important;
	
	}
	
	#nav_top {
	margin: -20px -0px 20px -2%;
	width:104% !important;
	overflow: hidden;
	}
	
	#nav_top ul li{width:100% !important;}
	#nav_top ul li a{
		padding:4px 5% 5px !important;
		font-size: 0.9em;
		display:block;
		width:90%;

	}
	#nav_top ul li ul.dropdown{
	position:absolute;
	width:100%;
	border-width: 1px 0;
	margin-left: 1px;
	}
	
	#nav_top ul li ul.dropdown li a {
		padding:0;
		text-indent:10px;
		display:block;
		width:99%;
		border-left:0;
		border-right:0;
	}

	
	
	#nav_top ul li a img{
	}
	
	#template_options{position: relative !important;}
	
	#template_options h3{
	float:none !important;
	display: block !important;
	clear:both !important;}
	
	#template_options div{display: block;}
	
	#sidebar{display:none !important;}
	#topbar{display:block !important;}
	
	div.main_container .box, div.main_container .flat_area{
    width: 100% !important;}
    
	div.fullsize{padding:0 !important;}
	div.fullsize .box{
	margin:-20px -2% -5px !important;
	padding:0% !important;
	width:104% !important;
	}

	body{padding-bottom:0 !important;}

}

/*----- End of iPhone -------*/


/*--------------------------------
   Flot Graph
--------------------------------*/

.flot{
	width: 100%;
	margin:0 0 5px;
	height:300px;
	overflow: hidden;
	}


/*----- End of Flot -------*/

/*--------------------------------
   Dashboard Setup
--------------------------------*/


div.main_container #dash_gallery ul li a{ width:auto;}
div.main_container #dash_gallery ul li a img{ width:115px;}


#feature_container{
	margin: -10px -10px 0px 0px; 
	width:100%;
}


#feature_container ul.feature_list{
	margin-bottom: 0;
	margin-right: -10px;
}
#feature_container ul.feature_list li{
	display: inline;
	float: left;
}


#feature_container a.features{
	width:116px;
	float:left;
	display: block;
	color:white;
	font-size: 11px;
	position: relative;
	height: 90px;
	margin:0 5px 5px 0;
}

#feature_container a.features:hover{
	color: #fff;
}

#feature_container a.features img{
	display: block;
	width:auto;
	margin:0 auto;
}

#feature_container a.features strong{
    display: block;
    font-weight: normal;
    line-height: 14px;
    text-align: center;
	position: absolute;
	bottom:5px;
	width: 100%;
	text-shadow:0px 1px 1px #000;
}

#feature_container a.features .starred{
	background: url(../images/content/yellow_star.png) no-repeat;
	display: block;
	height: 35px;
	width: 35px;
	position: absolute;
	right:-1px;
	top:0px;
	}
	
#feature_container a.features .blue{
	background: url(../images/content/blue_star.png) no-repeat;
	}
#feature_container a.features .green{
	background: url(../images/content/green_star.png) no-repeat;
	}
#feature_container ul.feature_list li a span.update{
	display:none;
	}

.theme_colour a{	
		border:1px solid #ccc;
		display: inline-block;
		width:10px;
		height:10px;
		margin-right: 3px;
		}

.theme_colour a span{display:none !important;}

.theme_colour a.black{background-color:black;}
.theme_colour a.blue{background-color:#1C5EA0;}
.theme_colour a.navy{background-color:#2b4356;}
.theme_colour a.red{background-color:#7C1F30;}
.theme_colour a.green{background-color:#3d8336;}
.theme_colour a.brown{background-color:#9c451a;}
.theme_colour a.magenta{background-color:#9b6ca6;}

.dashboard_sorter {
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
}	
.dashboard_sorter fieldset {
	    margin: 0;
	    padding: 10px 20px;
	    width: 40%;
}
/*----- End of dashboard setup -------*/



/*--------------------------------
   Corners, Shadows & Highlights
--------------------------------*/



body .text_shadow{text-shadow:0px 1px 1px #000;}

body .text_highlight{text-shadow:0px 1px 0px #fff;}

	
body .round_all,
button,
div.main_container .box h2.box_head.round_all,
#sidebar form#search_side,
div.main_container .box,
.alert,
.indent,
div.main_container .gallery ul li a{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.flat_area h2,
body round_all_small,
.box .block input,
.box .block textarea,
#login_box .LV_validation_message,
.dataTables_wrapper .ui-widget-header select{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
body .round_none{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

body .round_bottom,
#sidebar ul#accordion li:last-child a,
#sidebar ul#accordion li:last-child, 
#sidebar ul#side_links li:last-child a,
#sidebar ul#accordion li ul.drawer li:last-child a,
#sidebar ul#accordion li:last-child ul.drawer,
#nav_top ul li ul.dropdown li:last-child a, #nav_top ul li ul.dropdown,
#nav_top ul li ul.dropdown li:last-child ul.slideout li:last-child,
#nav_top ul li ul.dropdown li:last-child ul.slideout li:last-child a,
#search_bar input.indent,
span.form_tag,
div.main_container .box  ul.content_accordion li:last-child h3.bar,
.dataTables_wrapper .ui-corner-bl,
body div.main_container #nav_top ul li.current:last-child a{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

body .round_top,
#sidebar ul#accordion li:first-child a,
#sidebar ul#accordion li:first-child, 
#sidebar ul#side_links li:first-child a,
div.main_container .box h2.box_head,
.tabs ul.tab_header,
div.main_container .tabs ul.tab_header li a,
.box  ul.no_header, 
.box  ul.no_header li:first-child, 
.box  ul.no_header li:first-child h3,
.dataTables_wrapper .ui-corner-tl,
body div.main_container #nav_top ul li.current:first-child a,
.ui-datepicker .ui-datepicker-header{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

body .round_left,
div.main_container .tabs ul.tab_sider,
div.main_container .tabs ul.tab_sider li a,
.dataTables_wrapper .dataTables_paginate span.first,
.box .no_padding .dataTables_wrapper .ui-corner-tl{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

body .round_right,
.dataTables_wrapper .dataTables_paginate span.last{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

body .round_ynnn,
.fc thead tr th.fc-first{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
}
body .round_nynn
.fc thead tr th.fc-last{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
}
