.output
{
	font-family:Arial;
	font-size: 10pt;
	color:black;
	padding-left: 3px;
	padding-top: 3px;
	border: 1px solid #000000;
	width: 100px;
	background: #fff;
}
.shadow
{
	width:102px;
	position:relative;
	top: 2px;
	left: 2px;
	background: #555;
}
.shadow div{
	position:relative;
	top: -2px;
	left: -2px;
}

