/* Colours:
	Top grad (light): #9e253b
	Bottom grad (darker): #7C1F30
	a link: #C73A3A
	a hover: #f74d6c
	tab bg (dark): #5f0314
 */


a.logo, #login_box a#login_logo{
	background: transparent url(../../images/adminica_logo_red-trans.png) no-repeat;
}

#login_box a#login_logo{
	background-position: 0 -15px;
}

/* Coloured Header Gradients, eg. Sortable Boxes, Tab Boxes, Date-picker, etc. */

body .grad_colour,
.ui-widget-header,
div.main_container #nav_top > ul > li.current > a,
#nav_top ul li ul.dropdown li ul.slideout,
.dataTables_wrapper .ui-corner-tl,
#sidebar ul#accordion li ul.drawer,
div.main_container .box h2.box_head,
.slider .slide-up, .slider .slide-down,
.slider-content .selected .title{

background-color: #9e253b; /* old browsers */

background: -moz-linear-gradient(top, #9e253b 0%, #7C1F30 99%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e253b), color-stop(99%,#7C1F30)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e253b', endColorstr='#7C1F30',GradientType=0 ); /* ie */

border:1px solid #7C1F30;

zoom:1;
}




/* Theme Button and some ON states */


button, button.skin_colour{

	background: #9e253b; /* old browsers */

	background: -moz-linear-gradient(top, #9e253b 0%, #7C1F30 99%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e253b), color-stop(99%,#7C1F30)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e253b', endColorstr='#7C1F30',GradientType=0 ); /* ie */

	border: 1px solid #7C1F30;

	-moz-box-shadow:0px 1px 0px rgba(255,255,255,1),inset 0px 1px 0px rgba(255,255,255,0.2);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,1),	inset 0px 1px 0px rgba(255,255,255,0.2);
	text-shadow:0px -1px 1px rgba(000,000,000,1),0px 1px 0px rgba(255,255,255,0.2)

	zoom:1;
}

button:hover, button.skin_colour:hover,
div.main_container .gallery ul li a:hover{

	background: #7C1F30; /* old browsers */

	background: -moz-linear-gradient(top, #7C1F30 0%, #9e253b 99%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7C1F30), color-stop(99%,#9e253b)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7C1F30', endColorstr='#9e253b',GradientType=0 ); /* ie */

	zoom:1;	
}



/* Links, hovers, tabs*/

div.main_container a, ul#side_links li a, #sidebar h3 a, #topbar h3 a
{
	color:#c73a3a;}
	
div.main_container a:hover, ul#side_links li a:hover,
#sidebar h3 a:hover, #topbar h3 a:hover,
div.main_container .tabs ul.tab_header li a:hover,
div.main_container .tabs ul.tab_sider li a:hover{
	color:#f74d6c;}

#sidebar form#search_side:hover{
border-color:#f74d6c;}


div.main_container .tabs ul.tab_header li a,
div.main_container .tabs ul.tab_sider li a {
    background-color: #5f0314; /* Dark Navy */

}
.dataTables_wrapper .ui-widget-header select,
#sidebar ul#accordion li ul.drawer li a,
.dataTables_wrapper .ui-widget-header input,
#nav_top ul li ul.dropdown li ul.slideout li a,
div.main_container #nav_top ul li.current:first-child a
div.main_container #nav_top ul li.current a {
	border-color: #5f0314;
	}



.dataTables_wrapper .dataTables_paginate span span.ui-state-disabled{
	border-color:#5f0314;
	background-color:#7C1F30;
}

div.main_container .datepicker .ui-state-active{
		background-color:#f74d6c !important;
}

#nav_top ul li a:hover,
#sidebar ul#accordion li a:hover,
#nav_top ul li ul.dropdown li a.has_slide:hover{
	color:#7C1F30;
}

#sidebar ul#accordion li a.ui-state-active{
	color:#7C1F30;}



