/* Colours:
	Top grad (light): #9b6ca6
	Bottom grad (darker): #8d579a
	a link: #ab65b8
	a hover: #d784e6
	tab bg (dark): #4f2858
 */


a.logo, #login_box a#login_logo{
	background: transparent url(../../images/adminica_logo_magenta-trans.png) no-repeat;
}

#login_box a#login_logo{
	background-position: 0 -15px;
}

/* Coloured Header Gradients, eg. Sortable Boxes, Tab Boxes, Date-picker, etc. */

body .grad_colour,
.ui-widget-header,
div.main_container #nav_top > ul > li.current > a,
#nav_top ul li ul.dropdown li ul.slideout,
.dataTables_wrapper .ui-corner-tl,
#sidebar ul#accordion li ul.drawer,
div.main_container .box h2.box_head,
.slider .slide-up, .slider .slide-down,
.slider-content .selected .title{

background-color: #9b6ca6; /* old browsers */

background: -moz-linear-gradient(top, #9b6ca6 0%, #8d579a 99%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b6ca6), color-stop(99%,#8d579a)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b6ca6', endColorstr='#8d579a',GradientType=0 ); /* ie */

border:1px solid #8d579a;

zoom:1;
}




/* Theme Button and some ON states */


button, button.skin_colour{

	background: #9b6ca6; /* old browsers */

	background: -moz-linear-gradient(top, #9b6ca6 0%, #8d579a 99%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b6ca6), color-stop(99%,#8d579a)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b6ca6', endColorstr='#8d579a',GradientType=0 ); /* ie */

	border: 1px solid #8d579a;

	-moz-box-shadow:0px 1px 0px rgba(255,255,255,1),inset 0px 1px 0px rgba(255,255,255,0.2);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,1),	inset 0px 1px 0px rgba(255,255,255,0.2);
	text-shadow:0px -1px 1px rgba(000,000,000,1),0px 1px 0px rgba(255,255,255,0.2)

	zoom:1;
}

button:hover, button.skin_colour:hover,
div.main_container .gallery ul li a:hover{

	background: #8d579a; /* old browsers */

	background: -moz-linear-gradient(top, #8d579a 0%, #9b6ca6 99%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8d579a), color-stop(99%,#9b6ca6)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d579a', endColorstr='#9b6ca6',GradientType=0 ); /* ie */

	zoom:1;	
}



/* Links, hovers, tabs*/

div.main_container a, ul#side_links li a, #sidebar h3 a, #topbar h3 a
{
	color:#ab65b8;}
	
div.main_container a:hover, ul#side_links li a:hover,
#sidebar h3 a:hover, #topbar h3 a:hover,
div.main_container .tabs ul.tab_header li a:hover,
div.main_container .tabs ul.tab_sider li a:hover{
	color:#d784e6;}

#sidebar form#search_side:hover{
border-color:#d784e6;}


div.main_container .tabs ul.tab_header li a,
div.main_container .tabs ul.tab_sider li a {
    background-color: #4f2858; /* Dark Navy */

}
.dataTables_wrapper .ui-widget-header select,
#sidebar ul#accordion li ul.drawer li a,
.dataTables_wrapper .ui-widget-header input,
#nav_top ul li ul.dropdown li ul.slideout li a,
div.main_container #nav_top ul li.current:first-child a
div.main_container #nav_top ul li.current a {
	border-color: #4f2858;
	}



.dataTables_wrapper .dataTables_paginate span span.ui-state-disabled{
	border-color:#4f2858;
	background-color:#8d579a;
}

div.main_container .datepicker .ui-state-active{
		background-color:#d784e6 !important;
}

#nav_top ul li a:hover,
#sidebar ul#accordion li a:hover,
#nav_top ul li ul.dropdown li a.has_slide:hover{
	color:#8d579a;
}

#sidebar ul#accordion li a.ui-state-active{
	color:#8d579a;}



