
/* Colours:
	Top grad (light): #1C5EA0
	Bottom grad (darker): #064792
	a link: #1389ff
	a hover: #52a9ff
	tab bg (dark): #253a55
 */


a.logo, #login_box a#login_logo{
	background: transparent url(../../images/adminica_logo_blue-trans.png) no-repeat;
}
	
#login_box a#login_logo{
	background-position: 0 -15px;
}

/* Coloured Header Gradients, eg. Sortable Boxes, Tab Boxes, Date-picker, etc. */

body .grad_colour,
.ui-widget-header,
div.main_container #nav_top > ul > li.current > a,
#nav_top ul li ul.dropdown li ul.slideout,
.dataTables_wrapper .ui-corner-tl,
#sidebar ul#accordion li ul.drawer,
div.main_container .box h2.box_head,
.slider .slide-up, .slider .slide-down,
.slider-content .selected .title{

background-color: #1C5EA0; /* old browsers */

background: -moz-linear-gradient(top, #1C5EA0 0%, #064792 99%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1C5EA0), color-stop(99%,#064792)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1C5EA0', endColorstr='#064792',GradientType=0 ); /* ie */

border:1px solid #064792;
	
zoom:1;
}




/* Theme Button and some ON states */


button, button.skin_colour{

	background: #1C5EA0; /* old browsers */
	
	background: -moz-linear-gradient(top, #1C5EA0 0%, #064792 99%); /* firefox */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1C5EA0), color-stop(99%,#064792)); /* webkit */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1C5EA0', endColorstr='#064792',GradientType=0 ); /* ie */
		
	border: 1px solid #064792;
		
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,1),inset 0px 1px 0px rgba(255,255,255,0.2);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,1),	inset 0px 1px 0px rgba(255,255,255,0.2);
	text-shadow:0px -1px 1px rgba(000,000,000,1),0px 1px 0px rgba(255,255,255,0.2)
	
	zoom:1;
}

button:hover, button.skin_colour:hover,
div.main_container .gallery ul li a:hover{

	background: #064792; /* old browsers */
	
	background: -moz-linear-gradient(top, #064792 0%, #1C5EA0 99%); /* firefox */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#064792), color-stop(99%,#1C5EA0)); /* webkit */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#064792', endColorstr='#1C5EA0',GradientType=0 ); /* ie */

	zoom:1;	
}



/* Links, hovers, tabs*/

div.main_container a, ul#side_links li a, #sidebar h3 a, #topbar h3 a
{
	color:#1389ff;}
div.main_container a:hover, ul#side_links li a:hover,
#sidebar h3 a:hover, #topbar h3 a:hover,
div.main_container .tabs ul.tab_header li a:hover,
div.main_container .tabs ul.tab_sider li a:hover{
	color:#52a9ff;}
	
#sidebar form#search_side:hover{
border-color:#52a9ff;}


div.main_container .tabs ul.tab_header li a,
div.main_container .tabs ul.tab_sider li a {
    background-color: #253a55; /* Dark Navy */
    
}
.dataTables_wrapper .ui-widget-header select,
#sidebar ul#accordion li ul.drawer li a,
.dataTables_wrapper .ui-widget-header input,
#nav_top ul li ul.dropdown li ul.slideout li a,
div.main_container #nav_top ul li.current:first-child a
div.main_container #nav_top ul li.current a {
	border-color: #253a55;
	}
	

	
.dataTables_wrapper .dataTables_paginate span span.ui-state-disabled{
	border-color:#253a55;
	background-color:#064792;
}

div.main_container .datepicker .ui-state-active{
		background-color:#52a9ff !important;
}

#nav_top ul li a:hover,
#sidebar ul#accordion li a:hover,
#nav_top ul li ul.dropdown li a.has_slide:hover{
	color:#064792;
}

#sidebar ul#accordion li a.ui-state-active{
	color:#064792;}
	


