html{
	height	: auto;
}
body{
	width		: 100%;
	height		: 100%;
	overflow-x	: hidden;
	background	: @bg-body;
	font		: normal @font-size-base/1.3 @font-base;
	color		: @text-color;
}
*{
	box-sizing	: border-box;
}
a{
	text-decoration	: none;
	color			: @blue;
	.transition(all 200ms ease);
}
h1{
	font-family	: @font-open;
	font-size	: @font-size-xxlarge;
	font-weight : 700;
	line-height	: 1.3em;
	padding		: 0;
	margin		: 0;
}
h2, h3, h4{
	font-family	: @font-base;
	line-height : 1.2em;
	padding		: 0;
	margin		: 0 0 0.5em 0;
}
h2{
	font-size	: @font-size-xlarge;
}
h3{
	font-size	: @font-size-large;
}
.layout{
	width		: 100%;
	max-width	: 1200px;
	margin		: 0 auto;
	.clearfix();
}

.col-red{
	color: @red;
}
.col-green{
	color: @green;
}
.col-blue{
	color: @blue;
}

.fotorama__thumb-border{
	border-color: @black !important;
}

.icon-star{
	color: @yellow;

	&:before{
		margin-right: 0;
	}
}

.button-blue{
	.button(@blue);
}
.button-green{
	.button(@green);
}
.button-red{
	.button(@red);
}
.button-light{
	.button(@bg-light-gray, @text-color);

	&:hover{
		border-color: @red;
		color: @red;
	}
}
