/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300);

/* HTML5 display-role reset for older browsers */

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
header nav a.logo img {
  height: 100%;
}
header nav a.contact span {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
header nav a.contact:hover span {
  opacity: 0;
}
.contact-form #mesaj {
  height:250px;
  margin:4px;
  border: 1px solid black;
  border-radius: 4px;
}

.width_inputs{
  max-width:300px;
  width:100%;
  height:30px;
  margin:4px;
  border: 1px solid black;
  border-radius: 4px;
}
@-ms-viewport {
  width: device-width;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
h5, .h5 {
  font-size: 1.25rem;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.pull-left {
  float: left;
}
.mr-auto {
  margin-right: auto !important;
}
.float-sm-right {
  float: right!important;
}
.top-navbar {
  font-size: 12px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  background: #065ABF;
}
.top-navbar a,
.top-navbar a:active,
.top-navbar a:hover,
.top-navbar a:focus,
.top-navbar a:visited {
  color: #fff;
  text-decoration: none;
  padding-left: 1rem;
}
.header {
  padding: 20px 0;
}
.header .facts {
  font-size: 22px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}
section#content {
  padding: 0.6rem 0 1rem 0;
  background: #eeeeee;
}
.heading .location {
  font-size: 15px;
}
.heading .location .fa {
  font-size: 18px;
  color: #065ABF;
}
.list-group {
  margin-bottom: 20px !important;
}
.list-group-item {
  padding: 15px !important;
  margin: 0 !important;
  border: 0 !important;
  border-top: 1px solid #f5f5f5 !important;
  border-radius: 0 !important;
}
.list-group-item:first-child {
  border-top: 0 !important;
}
.list-group-item .fa {
  font-size: 38px;
}
/* END BODY CONTENT */
/*Start Senior Rezervations*/
.destItem {
  float: left;
  width: 31.9%;
  margin: 0px 0px 16px 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.active_img {
  /* background-color: rgba(0, 0, 0, 0.75); */
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}
.destItem .topBox:hover h2 {
  top: 25%;
  width: 210px;
  text-align: center;
  background: none;
  font-size: 28px !important;
}
.destItem .topBox:active h2 {
  top: 25%;
  width: 210px;
  text-align: center;
  background: none;
  font-size: 28px !important;
}
.destItem .topBox:focus  h2 {
  top: 25%;
  width: 210px;
  text-align: center;
  background: none;
  font-size: 28px !important;
}
.search_sus{
  max-width:170px;
  width: 100%;
}
.btn-red {
  color: #FFF;
  padding: 4px 7px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius:5px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #002d62;
  -webkit-box-shadow: 0px 0px 0px 1px #FFF;
  box-shadow: 0px 0px 0px 1px #FFF;
  border: none;
  outline: none;
  background: #d60808;
  background: -moz-linear-gradient(top, #ea5f5f 0%, #d60808 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea5f5f), color-stop(99%,#d60808));
  background: -webkit-linear-gradient(top, #ea5f5f 0%,#d60808 99%);
  background: -o-linear-gradient(top, #ea5f5f 0%,#d60808 99%);
  background: -ms-linear-gradient(top, #ea5f5f 0%,#d60808 99%);
  background: linear-gradient(to bottom, #ea5f5f 0%,#d60808 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea5f5f', endColorstr='#d60808',GradientType=0 );
}
.btn-red:hover {
  color:#fff;
  background: #065abf;
  background: -moz-linear-gradient(top, #4295e6 0%, #065abf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4295e6), color-stop(100%,#065abf));
  background: -webkit-linear-gradient(top, #4295e6 0%,#065abf 100%);
  background: -o-linear-gradient(top, #4295e6 0%,#065abf 100%);
  background: -ms-linear-gradient(top, #4295e6 0%,#065abf 100%);
  background: linear-gradient(to bottom, #4295e6 0%,#065abf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4295e6', endColorstr='#065abf',GradientType=0 );
}
/* start background*/
.bkg-blue { background:#E3EFFF; }
.bkg-red { background:#ffe3e3; }
.bkg-green { background:#E5FBDD; }
.bkg-dark-green { background:#279500; }
.bkg-orange { background:#ffead7; }
.bkg-white { background:#FFF; }
.bkg-grey { background:#F2F2F2; }
/*end background */

/* start pading si margini*/
.pad10 { padding:10px !important; }
.pad10-0 { padding:10px 0 !important; }
.pad0-10 { padding:0 10px !important; }
.pad5 { padding:5px !important; }
.pad5-0 { padding:5px 0 !important; }
.pad0 { padding:0 !important; }
.mar10 { margin:10px !important; }
.mar10-0 { margin:10px 0 !important; }
.mar0-10 { margin:0 10px !important; }
.mar5 { margin:5px !important; }
.mar5-0 { margin:5px 0 !important; }
.mar0 { margin:0 !important; }
/*end pading si margini */


#NEW-destinatie .chapter-title {
  margin: 0 0 7px 0;
  padding: 12px 7px 11px 37px;
  font-size: 20px;
  font-weight: bold;
}
#NEW-destinatie .blue{
  padding:10px;
}
.NEW-search-wide .field {
  float: left;
  margin: 0 10px;
  padding: 0;
}
.newText img{
  width: auto;
  height:auto;
}
#afis_filtru .float-left{

}
.newText{
  padding:10px;
}
.NEW-search-wide .field label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin: 0;
  color: #000;
}
.NEW-search-wide .field select {
  width: 100%;
  padding: 5px;
  border: 1px solid #CCC;
  font-size: 13px;
}
.chn-color-blue {
  background: #e0eeff;
  padding: 8px;
  margin: 0 0 10px 0;
}
.destItem .topBox img {
  max-width: 400px;
  height:400px;
  width:100%;
  z-index: 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.destItem .middleBox {
  border-bottom: 1px solid #D4D4D4;
  padding: 10px 12px;
  font-size: 13px;
  line-height: 17px;
}
.destItem .topBox:hover h2 {
  top: 25%;
  width: 210px;
  text-align: center;
  background: none;
  font-size: 28px !important;
}
b{
  font-weight: bold;
}
.hover {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.destItem .topBox:hover img {
  /*background-color: rgba(0, 0, 0, 0.75);*/
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);


}
.destItem .bottomBox .price .pret {
  display: inline-block;
  padding: 5px 0 0 0;
  font-size: 16px;
  font-weight: 700;
}
.destItem .topBox .over {
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -ms-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
.destItem .topBox:hover .icon-search {
  opacity: 1;
}
.white {
  color: #FFF;
}
.destItem .topBox .icon-search {
  position: absolute;
  bottom: 40px;
  font-size: 26px;
  opacity: 1;
  border: 1px solid #fff;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  left: 0;
  right: 0;
  z-index: 2;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
.destItem h2 {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;
  margin: 0 !important;
  padding: 0 10px 0 8px !important;
  color: #FFF;
  font-size: 24px !important;
  line-height: 36px !important;
  font-weight: normal !important;
  background: #d60808;
  text-shadow: 1px 1px 1px #000;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -ms-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
.icon-search:before {
  content: '\e803';
}
.destItem .topBox {
  position: relative;
}
.link-black {
  color: #333;
  text-decoration: underline;
}

/*End Senior Rezervations*/
/*butoane filtre*/

.filterButtonsTop { margin:10px 5px 15px 5px; padding:0; list-style:none; }
.filterButtonsTop li { margin:5px 3px; padding:0; display:inline-block; }
.filterButtonsTop li a { display:block; padding:0 10px; color:#000; font-size:13px; font-weight:700; line-height:30px; border:1px solid #CCC; text-decoration:none; text-shadow:0 1px #FFF; -webkit-border-radius:4px; border-radius:4px;
background: rgb(240,240,240); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}
.filterButtonsTop li a:hover, .filterButtonsTop li a.sel { color:#FFF; text-shadow:0 1px #ab171e; border-top-color:#af151b; border-bottom-color:#9a1015; border-left-color:#9a1015; border-right-color:#820a0f;
background: rgb(214,8,8); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(214,8,8,1) 0%, rgba(171,23,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,8,8,1)), color-stop(100%,rgba(171,23,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(214,8,8,1) 0%,rgba(171,23,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(214,8,8,1) 0%,rgba(171,23,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(214,8,8,1) 0%,rgba(171,23,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(214,8,8,1) 0%,rgba(171,23,30,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60808', endColorstr='#ab171e',GradientType=0 ); /* IE6-9 */
}
@media (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  }
  @media (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
    .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* END GRID SYSTEM */
/*Calendar*/
.month-wrapper{
  width:100%!important;
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f7f7f9;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-img-top {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}
@media (min-width: 544px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.75rem;
  }
}
@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.75rem;
  }
}
/* END CARD SYSTEM */


/* START MENU CONTENT */
.navbar-bg {
  background-color: #fafafa;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.navbar-brand-desc {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  color: #D60808;
  padding-left: 30px;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  color: #838383;
  padding: 12px 15px;
  border-right: 1px solid #e0e0e0;
}

.nav-link:focus, .nav-link:hover {
  background-color: #f5f5f5;
  color: #616161;
  text-decoration: none;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.navbar-brand {
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none;
}

.navbar-toggleable-md .navbar-brand {
  padding: 10px 0 10px 15px;
}

.navbar-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav li:first-child {
  border-left: 1px solid #e0e0e0;
}

.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-top: 12px;
}

.navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}


#container_date_picker .date-picker-wrapper{
  position:relative;
 }
 #container_date_picker .month-wrapper .next {
  right: 25px;
  top: 10px;
}
#container_date_picker .month-wrapper .prev{
  left: 25px;
  top: 10px;
}
#container_date_picker .date-picker-wrapper .month-wrapper{
  padding:10px;
 }
.date-picker-wrapper .footer{
  padding:0;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}




.navbar-light .navbar-brand,
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover,
.navbar-light .navbar-toggler:focus,
.navbar-light .navbar-toggler:hover {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.show {
  opacity: 1;
}
.collapse.show {
  display: block;
  transition: opacity 4s ease-out;

}

tr.collapse.show {
  display: table-row;
}

tbody.collapse.show {
  display: table-row-group;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.9s ease-in-out;
  -o-transition: height 0.9s ease-in-out;
  transition: height 0.9s ease-in-out;

}
/* END MENU CONTENT */
.breadcrumb-item {
  float: left;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #636c72;
  content: "/";
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}
.breadcrumb-item.active {
  color: #636c72;
}
.breadcrumb ul li { display:inline-block; }
.breadcrumb ul li.sel { padding:0 3px; }
/* .breadcrumb ul li a { display:block; padding:0 15px 0 5px; line-height:28px; height:28px; }
.breadcrumb ul li.sel { padding:0 5px; }

.breadcrumb div { display:inline-block; }
.breadcrumb a { color:#444; text-decoration:underline; }
.breadcrumb a:hover { color:#000; text-decoration:none; }*/
/* END BREADCRUMB CONTENT */
.btn:focus, .btn:hover {
  text-decoration: none;
}
.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}
.btn:active, .btn.active {
  background-image: none;
}
.btn-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}
.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #2aabd2;
}
.btn-info:focus, .btn-info.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
  box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}
.btn-success:focus, .btn-success.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
  box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}
.btn-lg, .btn-group-lg > .btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
.btn-block + .btn-block {
  margin-top: 0.5rem;
}
/* END BUTTON CONTENT */


/* START FILTER DESIGN */

.filter-container .panel {
  background-color: #fff;
  margin-bottom: 20px;
}
.filter-container .panel-title {
  font-size: 16px;
  padding-left: 5px;
  margin: 0;
  text-transform: uppercase;
}
.filter-container .panel a {
  display: block;
  padding: 15px;
  color: #2d3e52;
}
.filter-container .panel a:hover,
.filter-container .panel a:focus {
  color: #2d3e52;
  text-decoration: none;
}
.filter-container .panel .panel-title>a:before {
  display: block;
  content: "\f068";
  font-family: FontAwesome;
  margin-top: -3px;
  line-height: 24px;
  font-size: 10px;
  float: right;
  width: 24px;
  height: 24px;
  text-align: center;
  color: #9e9e9e;
  background: #f5f5f5;
  border-radius: 50%;
}
.filter-container .panel .panel-title>a.collapsed:before {
  content: "\f067";
  color: #fff;
  background: #01b7f2;
}
.filter-container .panel .panel-content {
  padding: 10px 20px 20px;
  border-top: 1px solid #f5f5f5;
}
.filter-container .panel .panel-content form label {
  display: block;
  font-size: 13px;
  margin-bottom: 3px;
  text-transform: uppercase;
}
.filter-container .panel .panel-content form select {
  display: block;
  font-size: 13px;
  margin-bottom: 3px;
  text-transform: uppercase;
}
.filter-container .panel .panel-content form .form-control {
  background-color: #f5f5f5;
  font-size: 13px;
  border: 0;
  border-radius: 0;
}
.filter-container .btn {
  border-radius: 0;
  text-transform: uppercase;
}

/* END FILTER DESIGN */


/* START GRID VIEW DESIGN */
.grid-view .card-img-top {
  width: 100%;
  height: 180px;
  border-radius: 0;
}
.grid-view .early-booking {
  position: absolute;
  background-color: #5cb85c;
  font-size: 10px;
  color: #fff;
  text-align: center;
  line-height: .8rem;
  top: 0;
  left: 0;
  padding: .4rem .6rem;
  text-transform: uppercase;
}
.grid-view .discount {
  position: absolute;
  background-color: #ff3e3e;
  font-size: 16px;
  color: #fff;
  top: 0;
  right: 0;
  padding: .4rem .6rem;
}
.grid-view .card-block {
  padding: 15px;
}
.grid-view .price {
  color: #5cb85c;
  font-size: 1.6667em;
  text-transform: uppercase;
  float: right;
  text-align: right;
  line-height: 1;
  padding-top: 4px;
  display: block;
}
.grid-view .price small {
  display: block;
  color: #838383;
  font-size: 0.5em;
}
.grid-view .title {
  font-size: 1.3333em;
  color: #2d3e52;
  margin-bottom: 10px;
  font-weight: 400;
}
.grid-view .title small {
  color: #838383;
  font-size: 0.6em;
  text-transform: uppercase;
  display: block;
  margin-top: 6px;
}
.grid-view .transport {
  text-align: center;
  font-size: 0.8333em;
  text-transform: uppercase;
  padding: 10px 0;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
.grid-view .transport .fa {
  font-size: 16px;
  color: #2d3e52;
  margin: 0 3px 0 10px;
}
.grid-view .date {
  text-transform: uppercase;
  font-size: 0.8333em;
  line-height: 19px;
  padding: 10px 0;
  padding-bottom: 85px;
}
.grid-view .date span {
  color: #01b7f2;
}
.grid-view .departures {
  border-right: 1px solid #f5f5f5;
}
.grid-view .departures div {
  padding-left: 20px;
}
.grid-view .countries div {
  padding-left: 15px;
}
.grid-view .departures .fa,
.grid-view .countries .fa {
  float: left;
  font-size: 18px;
  color: #01b7f2;
  margin-right: 5px;
  line-height: 1.5rem;
}
.grid-view .card-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  border: 0;
  padding: 15px;
}
.grid-view .info {
  text-align: center;
  font-size: 0.8333em;
  text-transform: uppercase;
}
.grid-view .info .fa {
  font-size: 14px;
  color: #2d3e52;
}
.grid-view .btn {
  font-size: 0.9167em;
  border-radius: 0;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
}

/* END GRID VIEW DESIGN */


/* START BLOCK VIEW DESIGN */

.block-view .card-img-top {
  width: 100%;
  height: 180px;
  border-radius: 0;
}
.block-view .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  text-align: center;
  cursor: default;
}
.block-view .hovereffect .card-img-top {
  height: 220px;
}
.block-view .hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.4);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.block-view .hovereffect:hover .overlay {
  background-color: rgba(1, 183, 242, 0.6);
}
.block-view .hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  letter-spacing: 4px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(90px);
  -ms-transform: translateY(90px);
  transform: translateY(90px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.block-view .hovereffect:hover h2 {
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
}
.block-view .hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: 90px 0 0;
}
.block-view .hovereffect a.info:hover {
  background-color: #fff;
  color: #838383;
}
.block-view .hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
}
.block-view .card-footer {
  padding: 10px 0 0 0;
  background-color: transparent;
  border-top: 1px solid #f5f5f5;
}
.block-view .price-wrapper {
  font-size: 14px;
  color: #838383;
  margin: 0;
  text-transform: uppercase;
}
.block-view .price-wrapper .price {
  font-size: 1.4em;
  color: #5cb85c;
}
/* END BLOCK VIEW DESIGN */

.circuit-content {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
}
.circuit-content .price-table span {
  display: block;
  font-weight: 600;
  text-align: right;
  margin-bottom: 20px;
}
.circuit-content .nav-tabs .nav-link {
  font-weight: 600;
}
.circuit-content .tab-content>.tab-pane {
  border: 1px solid #ddd;
  border-width: 0 1px 1px 1px;
}
.circuit-content .border-box {
  border: 15px solid #f5f5f5;
  margin: 15px;
}
.circuit-content .price-box {
  padding: 20px 0;
}
.circuit-content form label {
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}
.circuit-content form .form-group {
  margin: 0;
}
.circuit-content .btn{
  margin-top: 26px;
  border-radius: 0;
  text-transform: uppercase;
}
.circuit-content .rooms {
  background-color: rgba(91, 192, 222, 0.3);
  margin: 0 15px 15px 15px;
  padding: 15px;
}
.circuit-content .rooms .row {
  margin: 0;
}
.circuit-content .rooms .rooms-details {
  background-color: #fff;
  padding: 10px;
}
.circuit-content .rooms .rooms.details .occupants {
  float: right;
  padding: 5px 0;
}
.circuit-content .program .title {
  font-weight: 700;
  padding-top: 20px;
}
.circuit-content .program .title .red {
  color: #ff3e3e;
}
.circuit-content .program span {
  font-size: 15px;
}
.circuit-content .alert {
  margin-top: 20px;
  margin-bottom: 0;
  border-radius: 0;
}

.sidebar-box {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
}
.sidebar-box .title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
  text-transform: uppercase;
}
.sidebar-box .content {
  padding-top: 15px;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row, .content_avo_detalii .content_avo_detalii_left .content_avo_detalii_pasageri .row, .content_char_book .content_char_book_left .content_char_detalii_facturare .row, .content_char_book .content_char_book_left .content_char_detalii_pasageri .row {
  padding-top: 15px;
}
.sidebar-box .content p {
  font-size: 15px;
  margin-bottom: 10px;
}
.sidebar-box .content p:before {
  content: "\f04b";
  font-family: "FontAwesome";
  margin-right: 10px;
  color: #d9d9d9;
  display: block;
  float: left;
  font-size: 7px;
  line-height: 25px;
}
.content_box .new_check{
  margin-left: 10px;
  width: 13%!important;}
  .box_detalii_nume_prenume .new_check{
  margin-left:20px;
  line-height: 30px;
}
.circuit-sidebar .info {
  letter-spacing: 0.04em;
  font-size: 12px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.circuit-sidebar .info .list {
  display: block;
  color: #838383;
}
.circuit-sidebar .price {
  color: #7db921;
  font-size: 1.6667em;
  text-transform: uppercase;
  text-align: right;
  line-height: 1.75em;
  display: block;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
.circuit-sidebar .price small {
  display: block;
  color: #838383;
  font-size: 0.5em;
  text-transform: uppercase;
}
.circuit-sidebar .btn {
  margin-top: 15px;
  border-radius: 0;
  text-transform: uppercase;
}
.circuit-sidebar .flight-img {
  text-align: center;
}
.circuit-sidebar .flight-title {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
}
.circuit-sidebar .flight p {
  margin-bottom: 5px;
}
.circuit-sidebar .flight .devider {
  border-bottom: 2px dotted #f5f5f5;
  margin: 10px 0;
}
.circuit-sidebar .note {
  display: block;
  font-size: 14px;
}

/*Contact Page*/
.NEW-column-full{
  background:#FFF;
}
.contact-form input{
  margin-left:10px;
}

.contact-list {
  margin:0 0 10px 0; padding:12px 9px !important;
  line-height:1.6em;
  -webkit-border-radius:4px; border-radius:4px;
  border: 1px solid #065ABF ;
}
.contact-list .image-left { float:left; margin-right:10px; }
.contact-left { float:left; width:50%;
  padding: 4px;
  border-radius: 5px;
}
.contact-right { float:right; width:47%; }

#nume::-webkit-input-placeholder{
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-image:url("https://www.ocaziituristice.ro/images/icon_contact_input_name.png");
}
#nume ::-ms-input-placeholder{
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-position: 0 50%;
  background-image:url("https://www.ocaziituristice.ro/images/icon_contact_input_name.png");
}

#nume::-moz-placeholder{
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-image:url("https://www.ocaziituristice.ro/images/icon_contact_input_name.png");
}
/*************************************************** JQUERY STAR RATING ******************************/
div.rating-cancel, div.star-rating { width:17px; height:15px; text-indent:-999em; cursor:pointer; display:inline-block; background:transparent; overflow:hidden; }
div.rating-cancel, div.rating-cancel a { background:url(/images/delete.gif) no-repeat 0 -16px; }
#voting div.rating-cancel, #voting div.rating-cancel a { display:none !important; }
div.star-rating, div.star-rating a { background:url(/images/star.gif) no-repeat 0 0; }
div.rating-cancel a, div.star-rating a { display:block; width:16px; height:100%; background-position:0 0; border:0; }
div.star-rating-on a { background-position:0 -16px !important; }
div.star-rating-hover a { background-position:0 -32px; }
div.star-rating-readonly a { cursor:default !important; }
div.star-rating { background:transparent !important; overflow:hidden !important; }
/*************************************************** JQUERY STAR RATING ******************************/

/*//Section comments*/
#NEW-detaliiOferta .right-serv ul { margin:5px 10px 5px 15px; padding:0; list-style:none; }
#NEW-detaliiOferta .right-serv li { background:url(/images/bulletlist_tabs_links.gif) 0 9px no-repeat; padding:3px 0 3px 12px; }
#NEW-detaliiOferta .right-serv li strong { font-size:110%; }
#NEW-detaliiOferta .right-serv .separator { border-top:1px dotted #999; margin:15px 0 0 0; padding:15px 0 0 0; }
#NEW-detaliiOferta .right-serv .separator2 { border-top:1px dotted #999; margin:5px 0 0 0; padding:5px 0 0 0; }
#NEW-detaliiOferta .review-line { width:100%; max-width:390px; font-size:14px; font-weight:bold; margin:0 0 10px 0; background:url(/images/review_dottedline.png) 0 12px no-repeat; }
#NEW-detaliiOferta .review-line label { padding:0 5px 0 0; cursor:auto; }
#NEW-detaliiOferta .review-line span { padding:0 0 0 5px; }
#NEW-detaliiOferta .review-line label, #NEW-detaliiOferta .review-line span { background:#E3EFFF; }
#NEW-detaliiOferta .tripadvisor { overflow:hidden; width:300px; height:60px; background:url(/images/tripadvisor_logo_transp_340x80-18034-2.png) bottom right no-repeat; background-size:100px; }
#NEW-detaliiOferta .tripadvisor .inside { margin-left:-188px; }
#NEW-detaliiOferta .tripadvisor .inside div { background:none !important; }
#NEW-detaliiOferta .inserts iframe { width:100% !important; height:500px !important; border:none; }
.opinii-Vizitatori { background:#FFF; border:1px solid #CCC; padding:5px; }

.float-left-comments{
  float:left;
}
.reviews { font-size:13px; padding:10px 5px; border-bottom:1px dashed #D0D0D0; }
.reviews .titlu { font-size:15px; font-weight:bold; color:#333; border-bottom:1px dashed #D0D0D0; margin:10px 5px; padding-bottom:5px; }
.reviews .data { font-size:12px; color:#666; font-weight:normal; }
.reviews .util { color:#065abf; }
.reviews .util input { padding:0 7px; color:#333; font-weight:bold; }

.reviews-header {padding:2px 1px; }
.rating { display:block; clear:both; padding:5px 0; }
.rating .camp { float:left; width:130px; margin:0 10px 0 0; }
.rating .nota_img { float:left; margin:4px 0; width:100px; border:1px solid #065abf; background:#FFF; }
.rating .nota_img .inner { display:block; height:10px; background:#5cb85c; }
.rating .nota_txt { float:left; width:35px; margin:0; font-weight:bold; text-align:right; font-size:14px; }
.nota_data{
  text-align: right;
}
#comentarii .clearfix:after {content:"."; display:block; height:0; font-size:0; line-height:0; clear:both; visibility:hidden;}
.comentariu { margin:0 0 10px; padding:0 3px 10px 3px; border-bottom:1px solid #AAA; clear:both; }
.comentariu .nume { float:left; width:150px; }
.comentariu .pareri { float:left; width:100%;max-width:650px; margin:10px 10px 0 30px; }
.comentariu .pareri .plusuri { background:url(/images/review_pos.gif) 0 3px no-repeat; padding:0 0 5px 14px; }
.comentariu .pareri .minusuri { background:url(/images/review_neg.gif) 0 3px no-repeat; padding:0 0 5px 14px; }
.comentariu .nota { float:left; width:100px; font-size:24px; line-height:30px; font-weight:bold; padding:6px 0 0 0; }
.comentariu .nota .nota_img { float:left; width:100px; border:1px solid #065abf; background:#FFF; }
.comentariu .nota .nota_img .inner { display:block; height:10px; background:#5cb85c; }

.votingStars0 { display:block; float:left; width:140px; height:16px; text-indent:-99999px; background:url(/images/votare.gif) -140px 4px no-repeat; }
.votingStars1 { display:block; float:left; width:140px; height:16px; text-indent:-99999px; background:url(/images/votare.gif) -126px 4px no-repeat; }
.votingStars2 { display:block; float:left; width:140px; height:16px; text-indent:-99999px; background:url(/images/votare.gif) -112px 4px no-repeat; }
.votingStars3 { display:block; float:left; width:140px; height:16px; text-indent:-99999px; background:url(/images/votare.gif) -98px 4px no-repeat; }
.votingStars4 { display:block; float:left; width:140px; height:16px; text-indent:-99999px; background:url(/images/votare.gif) -84px 4px no-repeat; }
.votingStars5 { display:block; float:left; width:140px; height:16px; text-indent:-99999px; background:url(/images/votare.gif) -70px 4px no-repeat; }
.votingStars6 { display:block; float:left; width:140px; height:16px; text-indent:-99999px; background:url(/images/votare.gif) -56px 4px no-repeat; }
.votingStars7 { display:block; float:left; width:140px; height:16px; text-indent:-99999px; background:url(/images/votare.gif) -42px 4px no-repeat; }
.votingStars8 { display:block; float:left; width:140px; height:16px; text-indent:-99999px; background:url(/images/votare.gif) -28px 4px no-repeat; }
.votingStars9 { display:block; float:left; width:140px; height:16px; text-indent:-99999px; background:url(/images/votare.gif) -14px 4px no-repeat; }
.votingStars10 { display:block; float:left; width:140px; height:16px; text-indent:-99999px; background:url(/images/votare.gif) 0 4px no-repeat; }
.comentarii-pic { background-color:rgba(255, 255, 255, 0.75); position:absolute; right:15px; top:15px; padding:10px; }
.chenar-nota-comentarii { background:#E3EFFF; padding:6px 8px; margin:-6px 5px 0 0; -webkit-box-shadow:1px 1px 2px 0px #666; box-shadow:1px 1px 2px 0px #666; }

.dreaptaDescopera { background:url(/images/bkg_descopera_dreapta.gif) 0 0 no-repeat; z-index:0; margin:5px 0 10px 0; padding:10px 10px 10px 20px; font-size:16px; font-weight:bold; height:140px; }
.dreaptaDescopera a { color:#d60808; text-decoration:none; line-height:24px; text-shadow:1px 1px 1px #999999; }
.dreaptaDescopera a:hover { color:#00722e; text-decoration:underline; text-shadow:1px 1px 1px #FFFFFF; }

.booking-section {
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
}
.booking-section form label {
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 0.9167em;
}
input.input-text, textarea, span.custom-select {
  padding-left: 15px;
  padding-right: 15px;
  height: 34px;
  width: 100%;
}
.booking-section h3 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: normal;
  color: #2d3e52;
}
.footer .social-icon:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* START VISIBILITY CONTENT */
@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }

}
@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }

}
@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
  .float-left{
    width:100%;
    float:none;
    height: auto;
    padding: 2px;
    text-align: center;
    margin:0 auto;
  }
}
/* END VISIBILITY CONTENT */

/* START FONT AWESOME CONTENT */
@font-face {
  font-family: FontAwesome;
  src:  url('../css/fonts/fontawesome.otf');
        url('../css/fonts/fontawesome-webfont.ttf')format("truetype");
        url('../css/fonts/fontawesome-webfont.woff');
        url('../css/fonts/fontawesome-webfont.woff2');
        url('../css/fonts/fontawesome-webfont.eot');
}

/* END FONT AWESOME CONTENT */
.badge-danger {
  background-color: #d60808;
}
.discount.lm {
  background: rgba(214, 8, 8, 0.75);
}
.discount.bf {
  background: rgba(0, 0, 0, 0.8);
}
.recommended .fa-thumbs-up {
  font-size: 24px;
  color: #279500;
}
section.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}
section.modalWindow {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 999 !important;
  width: 600px;
  min-height: 200px;
  margin-left: -300px;
  background: #FFF;
  alpha:05;
  cursor: default;
}

section.modal.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 997;
  cursor: pointer;
}
section.modalWindow section.modalWrapper {
  margin: 30px;
  border: 1px solid #DADADA;
  padding: 15px;
  text-align: left;
  line-height: 20px !important;
  height: 300px;
}
.closeBtn {
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
}



@media (max-width: 576px) {
  .recommended {
    display: -webkit-inline-box;
    padding: 0;
    margin-bottom: 10px;
  }
  .recommended .fa-thumbs-up {
    font-size: 1rem;
  }
  .recommended p {
    font-size: 1rem;
    vertical-align: 16px;
    padding-left: 5px;
  }
  .recommended p span {
    display: inline-block;
    font-size: 1rem;
  }
}

.trustme-box {
  background: #fff;
  padding: 15px;
  height: 100%;
  margin-bottom: 0;
}
.trustme-box li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #fafafa;
  padding: 10px 0;
}
.trustme-box li:first-child {
  padding-top: 0;
}
.trustme-box li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.trustme-box li .phone {
  color: #D60808;
  font-size: 24px;
  font-weight: 700;
}
.trustme-box li i {
  font-size: 42px;
}
.trustme-box li .fa-volume-control-phone {
  color: #D60808;
}
.trustme-box li .fa-thumbs-up {
  color: #279500;
}
.trustme-box p {
  font-size: 15px;
  margin: 0;
  padding-left: 15px;
}
.hotel .content {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
}
.hotel .free-policy {
  color: #279500;
  font-weight: bold;
}
.hotel .content h4 {
  color: #065ABF;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #065ABF;
}
.hotel .nearby a {
  display: block;
  margin-top: 3%;
}
.hotel .nearby a img {
  float: left;
  height: 80px;
  margin-right: 10px;
  border-radius: .25rem;
}
.hotel .nearby a span {
  display: block;
  color: #333;
}
.fa-star {
  color: #F6AE0B;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

.table tbody + tbody {
  border-top: 2px solid #eceeef;
}

.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #eceeef;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #eceeef;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #dff0d8;
}

.table-hover .table-success:hover {
  background-color: #d0e9c6;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #d0e9c6;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #d9edf7;
}

.table-hover .table-info:hover {
  background-color: #c4e3f3;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #c4e3f3;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fcf8e3;
}

.table-hover .table-warning:hover {
  background-color: #faf2cc;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #faf2cc;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f2dede;
}

.table-hover .table-danger:hover {
  background-color: #ebcccc;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #ebcccc;
}

.thead-inverse th {
  color: #fff;
  background-color: #292b2c;
}

.thead-default th {
  color: #464a4c;
  background-color: #eceeef;
}

.table-inverse {
  color: #fff;
  background-color: #292b2c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  border-color: #fff;
}

.table-inverse.table-bordered {
  border: 0;
}
.table-responsive.table-bordered {
  border: 0;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd !important;
}
/*End Ocazii turistice*/
.red_change_data{
  background: #D60808;
}
.show_card_mobile p{
  font-size:16px;
  text-align: left;
}
.top:hover {
  opacity: 1;
  transition: all ease .3s;
  color:#fff;
  text-decoration: none;
}
/*Rezervari */
.bgallgri {
  background: #eee;
}
.new_input_text label {
  position: absolute;
  cursor: text;
  top: 10px;
  left: 10px;
  font-size: 15px;
  color: #999;
}
.date-picker-wrapper.single-date {
  max-width:600px;
  width:100%;
}

.single-date .month-wrapper table {
  float: none;
  width: 100%;
}

.form-vacant .date-picker-wrapper .month-wrapper table {
  float: left;
  width: 49%;
}
.transition01 {
  transition: all .1s ease-in-out;
}
.right360, ul.box_rez_sumar_top_in li .rez_right {
  float: right;
}
.content_avo_detalii .content_avo_detalii_right .content_avo_detalii_right_content, .content_char_book .content_char_book_right .content_char_book_right_content {
  margin-left: 5%;
  position: absolute;
  top: 0;
  width: 95%;
}
.sticky{
  margin-top:32px;
}
.slideToggleContent {
  color: #0065b8;
  display: inline-block;
  font-size: 15px;
  margin-top: 10px;
}
.box_rez_sumarM .box_rez_sumar_top, .box_rez_sumarM .box_rez_sumar_top .box_rez_sumar_cam_row_link, .box_rez_sumarM .box_rez_sumar_top .box_rez_sumar_top_in_title, .box_rez_sumarM_bat, .content_avo_pret_boxM .avo_sumarM_Box, .content_avo_pret_boxM .info, .content_avo_pret_boxM .pret_total {
  display: none;
}
.content_avo_detalii .content_avo_detalii_right, .content_char_book .content_char_book_right {
  display: block;
  position: relative;
  width: 32%;
  z-index: 1;
  float: right;
}
.content_avo_detalii .content_avo_detalii_left, .content_char_book .content_char_book_left {
  display: block;
  position: relative;
  width: 68%;
  float: left;
}
.box_rez_sumar_bottom .bkg-blue {
	background: #E3EFFF;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
}
.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_4 {
  float: left;
  width: 7%
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_pasageri, .content_char_book .content_char_book_left .content_char_detalii_pasageri {
  margin-bottom: 5px;
  width: 100%;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_pasageri .content_box>.box_obligatoriu, .content_char_book .content_char_book_left .content_char_detalii_pasageri .content_box>.box_obligatoriu {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 12px;
}
.content_box .form-group {
  float: left;
  width: 22%;
}
.content_char_detalii_facturare_box .form-group {
  float: left;
  width: 22%;
  margin-top: 12px;
}
.content_char_book .content_char_book_left .content_char_detalii_pasageri .content_box {
  box-shadow: 0 17px 6px -16px #ccc;
  padding: 35px 25px 25px;
  background: #fff;
  position: relative
}
.new_input_text input,
.submitB {
  -webkit-transition: all .1s ease-in-out

}
#box_rez_sumar_call_input_submit{
  background-color: #025aa5;
  border-color: #01549b;
  color: #fff;
  margin: 10px;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_pasageri .row .box_gen {
  margin-bottom: 15px
}

.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_pasageri .row .box_nume_prenume .box_n_p_1 {
  float: left;
  margin-right: 2%;
  width: 12%
}

.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_pasageri .row .box_nume_prenume .box_n_p_2 {
  float: left;
  width: 86%
}

.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_pasageri .row .box_nume_prenume .box_n_p_2_1 {
  float: left;
  width: 49%;
  margin-right: 2%
}

.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_pasageri .row .box_nume_prenume .box_n_p_2_2 {
  float: left;
  width: 49%
}

.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_1 {
  float: left;
  font-size: 16px;
  margin-right: 1%;
  position: relative;
  top: 9px;
  color: #666;
  width: 12%
}
.content_box .form-group.new_check {
	margin-right: 1%;
	margin-top: 5px;
}

.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2 {
  float: left;
  width: 85%
}


.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_1,
.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_2,
.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_3 {
  float: left;
  width: 29%;
  margin-right: 2%
}
.new_input_text>.field-validation-error, .new_input_text>.necesar_box {
  color: red;
  display: none;
  font-size: 15px;
  padding-top: 3px;
}
.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_4 {
  float: left;
  width: 7%
}

.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_email_telefon>.input,
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_nume_prenume>.input,
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_oras_tara>.input,
.content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_email_telefon>.input,
.content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_nume_prenume>.input,
.content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_oras_tara>.input {
  float: left;
  margin-right: 2%;
  width: 49%
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare,
.content_char_book .content_char_book_left .content_char_detalii_facturare {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  padding: 5px 25px 25px;
  position: relative;
  box-shadow: 0 17px 6px -16px #ccc
}
.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata,
.content_char_book .content_char_book_left .content_char_metode_plata {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  padding: 25px 0;
  box-shadow: 0 17px 6px -16px #ccc
}

.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row,
.content_char_book .content_char_book_left .content_char_metode_plata>.row {
  margin: 0 25px
}
.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata,
.content_char_book .content_char_book_left .content_char_metode_plata {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  padding: 25px 0;
  box-shadow: 0 17px 6px -16px #ccc
}

.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row,
.content_char_book .content_char_book_left .content_char_metode_plata>.row {
  margin: 0 25px
}

.content_avo_detalii .content_avo_detalii_left .row .row_info {
  border-top: 1px dashed #dfdfdf;
  color: #666;
  font-size: 14px;
  padding: 10px 0 15px
}

.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row_active,
.content_char_book .content_char_book_left .content_char_metode_plata>.row_active {
  border: 1px solid #5bc0de;
  border-radius: 5px;
  /*background: #5bc0de;*/
}
#final_rezervare{
  background-color: #025aa5;
  border-color: #01549b;
  color:#fff;
  margin:10px 0;
  width: 100%;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row:hover,
.content_char_book .content_char_book_left .content_char_metode_plata>.row:hover {
   border: 1px solid#5bc0de;
  border-radius: 5px;
  
 /* background: #5bc0de*/
}

.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row .row_in,
.content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in {
  padding: 15px
}

.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row .row_in_child,
.content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in_child {
  padding: 7px 10px 0;
  margin: 0 10px
}

.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row .row_in_child_info,
.content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in_child_info {
  font-size: 16px;
  margin-top: 10px;
  padding-left: 25px;
  color: #666;
  font-weight: 400
}

.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row .row_in_child_info a,
.content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in_child_info a {
  color: #0b3cb5
}

.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row .row_in_left,
.content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in_left {
  font-size: 18px;
  float: left;
  width: 55%;
  font-weight: 700;
  color: #333
}

.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row .row_in_right,
.content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in_right {
  float: right;
  width: 40%;
  font-size: 14px;
  color: #666
}
.box_rez_sumar, .box_rez_sumarM {
  font-size: 15px;
  padding: 0 20px 12px;
  background: #fff;
  box-shadow: 0 17px 6px -16px #ccc;
}
ul.box_rez_sumar_top_in li {
  border-top: 1px dashed #ccc;
  padding: 9px 0;
  color: #666;
  overflow: hidden;
}
ul.box_rez_sumar_top_in li:first-child {
	border-top: 0;
}
.new_check>label {
  position: relative;
  padding-left: 25px;
  padding-top:5px;
  cursor: pointer
}
.new_check .input_none  input[type=radio]{
  display: block;
}
#avoBookForm .pret_buton_rezerva, #bookFrm .pret_buton_rezerva {
  text-align: right;
  margin-top: 20px;
}
.pret_buton_rezerva .button-red {
	margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    width: 100%;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_termeni_conditii, .content_char_book .content_char_book_left .content_char_termeni_conditii {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0 17px 6px -16px #ccc;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_termeni_conditii>.row_active, .content_char_book .content_char_book_left .content_char_termeni_conditii>.row_active {
  border-bottom: solid 1px #ccc;
  border-radius: 5px;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_termeni_conditii>.row .row_in, .content_char_book .content_char_book_left .content_char_termeni_conditii>.row .row_in {
  padding: 15px 25px;
  font-size: 18px;
}

.box_asigurare_top_left {
  float: left;
  border: 1px solid #ddd;
  width: 49%;
  padding: 10px;
  border-radius: 3px;
}
.box_asigurare_top_left_left {
  float: left;
}
.box_asigurare_top_left_right {
  float: right;
}
.asigurare_info {
  border-top: 1px solid #ddd;
  color: #666;
  font-size: 15px;
  margin: 13px 0 0;
  padding: 13px 0 5px;
}
.box_asigurare_top_right {
  float: right;
  border: 1px solid #ddd;
  width: 49%;
  padding: 10px;
  border-radius: 3px;
}
.new_check>label:after,
.new_check>label:before {
  font-family: 'FontAwesome';
  font-size: 19px;
  position: absolute;
  top: 2px;
  left: 0;
  color: #0275d8;
}
.hide {
  display: none;
}
.new_check>label:before {
  content: "\f096";
  font-family: 'FontAwesome';

}

.input_none input[type=checkbox] {
  display: none;
}
.input_none  input[type=radio] {
  display: none;
}




.bgautoalb input[type=checkbox]+label, input[type=radio]+label {
  cursor: pointer;
}
.new_check>label:after {
  content: "\f046";
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  transition: all .5s;
  color: #000;
  top: 2px;
  font-family: 'FontAwesome';
}
.rez_tpb_left {
  color: #389338;
  float: left;
  font-size: 18px;
  line-height: 30px;
}
.rez_tpb_right {
  color: #389338;
  float: right;
  font-size: 34px;
  line-height: 27px;
}

.rez_total_price_box {
  border-top: 1px dashed #ccc;
  margin: 9px 0 0;
  overflow: hidden;
  padding: 10px 0 0;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_asigurare>.row, .content_char_book .content_char_book_left .content_char_asigurare>.row {
  padding: 20px 25px;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_asigurare>.row,
.content_char_book .content_char_book_left .content_char_asigurare>.row {
  padding: 20px 25px
}
.new_check>input[type=checkbox]:checked+label:after, .new_check>input[type=radio]:checked+label:after, .new_check input[type=radio]:checked + label:after, .new_check input.used + label:after {
  max-width: 25px;
  opacity: 1;
}
#content_char_detalii_facturare_pf_on .box_detalii_nume_prenume .input.new_input_text {
	width: 29% !important;
	margin-right: 2% !important;
	float: left;
}
.box_detalii_nume_prenume .form-title {
	float: left;
    font-size: 16px;
    margin-right: 1%;
    position: relative;
    top: 9px;
    color: #666;
    width: 12%;
}
.box_detalii_nume_prenume .form-wrapper {
	float: left;
    width: 85%;
}
.box_detalii_nume_prenume .form-group {
	margin-top: 0;
}
.box_detalii_nume_prenume .form-group.new_check {
	margin-top: 5px;
	margin-left: 10px;
    width: 13%!important;
    margin-right: 1%;
}
.box_detalii_nume_prenume .form-group.new_check label {
	line-height: normal !important;
    padding-top: 3px !important;
    padding-left: 20px;
    padding-right: 5px;
}
.content_char_servicii_optionale {
	box-shadow: 0 17px 6px -16px #ccc;
    padding: 25px;
    background: #fff;
    position: relative;
    font-size: 16px;
}
.cards-logo {
	margin-top: 10px;
}
.cards-logo li img {
	max-width: 100%;
	max-height: 40px;
}
.conditii-wrapper h2 {
	font-size: 18px;
    font-weight: 700;
    color: #333;
}
.conditii-wrapper ul li {
	font-size: 16px;
    color: #666;
    font-weight: 400;
    margin-bottom: 10px;
}
.bubble-asigurari-small {
	position: absolute;
    top: -60px;
    right: 0;
    padding: 7px 10px;
    margin: 13px 0 0 0;
    background: #ED1C24;
    border-radius: 10px;
    text-shadow: none !important;
    text-align: center;
    font-weight: 700;
}
.bubble-asigurari-small:after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -10px;
    right: 15px;
    border-width: 10px 10px 0;
    border-color: #ED1C24 transparent;
}
.old-price.text-right {
	float: right;
}
.box_rez_sumar_top_in {
	margin: 0;
}
.box_rez_sumar_top_in li:first	-child {
	border-top: 0;
}
.box_rez_sumar_call_text {
	margin-bottom: 20px;
    box-shadow: 0 17px 6px -16px #ccc;
    padding: 25px;
    background: #fff;
    position: relative;
    font-size: 18px;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_asigurare,
.content_avo_detalii .content_avo_detalii_left .content_avo_discount,
.content_char_book .content_char_book_left .content_char_asigurare,
.content_char_book .content_char_book_left .content_char_discount {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0 17px 6px -16px #ccc
}
.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row .row_in_left small,
.content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in_left small {
  font-size: 15px;
  display: block;
  padding-left: 25px;
  margin-top: 10px;
  color: #666;
  font-weight: 400
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_pasageri .title:after, .content_char_book .content_char_book_left .content_char_detalii_pasageri .title:after {
  /*border-left: 10px solid transparent;*/
  /*border-bottom: 10px solid #fff;*/
  /*border-right: 10px solid transparent;*/
  /*bottom: 0;*/
  /*content: "";*/
  /*position: absolute;*/
  /*left: 35px;*/
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare_box,
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_left_in .linkDetaliiOpen_box,
.content_char_book .content_char_book_left .content_char_detalii_facturare_box {
  display: none
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare_box.new_active,
.content_char_book .content_char_book_left .content_char_detalii_facturare_box.new_active {
  display: block
}
.content_avo_detalii .content_avo_detalii_left .avo_detalii_facturare_type_box .avo_detalii_facturare_type_box_box, .content_char_book .content_char_book_left .char_detalii_facturare_type_box .char_detalii_facturare_type_box_box {
  color: #0065b8;
  cursor: pointer;
  float: right;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 15px;
  text-decoration: underline;
}
.new_active {
  display: block!important;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_email_telefon>.input:nth-child(2),
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_nume_prenume>.input:nth-child(2),
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_oras_tara>.input:nth-child(2),
.content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_email_telefon>.input:nth-child(2),
.content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_nume_prenume>.input:nth-child(2),
.content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_oras_tara>.input:nth-child(2) {
  margin-right: 0
}

.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_pasageri .row .box_data_nasterii_text {
  font-size: 15px;
  color: #666;
  line-height: 18px;
  float: left;
  margin-right: 10px;
  position: relative;
  top: 6px
}
.bgallgri .row{
  display: block;
  margin:0;
}
.new_input_text {
  position: relative;
}
.box_asigurare_bottom {
  padding: 3px 0 5px 5px;
}
.new_input_text input {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 18px;
  padding: 7px 10px;
  width: 100%;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out
}
.detalii_avo_over_box_header, .detalii_char_over_box_header {
  color: #0275d8;
  font-size: 23px;
  line-height: 30px;
  padding: 12px 0 0;
  position: relative;
}
.content_avo_detalii .content_avo_detalii_left .avo_detalii_facturare_type_box, .content_char_book .content_char_book_left .char_detalii_facturare_type_box {
  position: absolute;
  right: 0;
  bottom: 100%;
}
.new_input_text input.used~label,
.new_input_text input:focus~label {
  font-size: 13px;
  left: 0;
  top: -16px;
  color: #666
}

.new_input_text>.field-validation-error,
.new_input_text>.necesar_box {
  color: red;
  display: none;
  font-size: 15px;
  padding-top: 3px
}

.new_input_text>.field-validation-error {
  display: block
}

.new_input_text input:focus,
.new_input_text input:hover {
  border: 1px solid #065ABF;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_pasageri .title span, .content_char_book .content_char_book_left .content_char_detalii_pasageri .title span {
  color: #333;
  font-size: 18px;
  margin: 10px;
  font-weight: bold;
}

.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_pasageri .content_box {
  box-shadow: 0 17px 6px -16px #ccc;
  padding: 35px;
  background: #fff;
  position: relative
}


.content_box .form-group .form-control{
  font-size: 15px;
  color:#999;
}

#preturiOnline .float-left.w520 {
	width: 60%;
	font-size: 1.1em;
    line-height: 1.3em;
}
#preturiOnline .float-left.w520 .bold {
	font-weight: 700;
}
#preturiOnline .chenar.chn-color-blue .call-center {
    float: left;
    background: url(/images/icon_call-center.png) left center no-repeat;
    padding: 0 0 0 58px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
#preturiOnline .call-center .tit {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
#preturiOnline .call-center span {
    display: block;
    padding: 2px 0;
}
#preturiOnline .call-center .tel {
    font-size: 24px;
    font-weight: bold;
}
#preturiOnline .call-center .prg {
    font-size: 11px;
    padding: 0;
}
#preturiOnline .CERE-detalii-NEW2 {
    margin: 0;
    display: block;
    width: 177px;
    height: 37px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0 !important;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#preturiOnline .CERE-detalii-NEW2:hover {
	text-decoration: none;
	color: #fff;
    background-color: #449d44;
    border-color: #419641;
}
.trust .modal-box .close {
	display: none;
}
.content_char_cupon .new_check {
	padding: 20px 25px;
	background: #fff;
}
.content_char_cupon .new_check a.link-black {
	text-decoration: none;
	font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
    display: inline-block;
}
.content_char_cupon .new_check a.link-black:hover {
	text-decoration: underline;
}
.content_char_cupon .new_check #cod_cupon {
	border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 18px;
    padding: 7px 10px;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.content_char_cupon .new_check #coupon-rezervare {
	font-size: 16px;
    color: #666;
    font-weight: 400;
    margin-bottom: 10px;
}
.content_char_cupon .new_check #coupon-rezervare .red {
	color: inherit;	
}
/**** sejururi responsive ****/
.sejururi {
	padding: 20px;
    background: #FFF;
    border: 1px solid #DDD;
    margin-bottom: 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.main-subtitle {
	font-size: 22px;
	margin-top: 10px;
}
.filter-wrapper {
	float: left;
	width: 25%;
	position: relative;
}
.filter-wrapper .filters {
	position: relative;
}
#info-filters {
    position: absolute;
    z-index: 2;
    top: -55px;
    width: 300px;
    height: 115px;
    padding: 15px;
    border: 2px solid #d60808;
    background: #fff9f6;
    -webkit-box-shadow: 2px 2px 4px 1px #333;
    box-shadow: 2px 2px 4px 1px #333;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    left: 100%;
}
#info-filters:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 40px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 24px solid #d60808;
}
#info-filters .line1 {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    display: block;
    margin: 0 0 10px 0;
}
#info-filters .line2 {
    font-size: 13px;
    line-height: 18px;
    display: block;
}
.result-list {
	float: right;
	width: 73.5%;
}
.location-filters ul {
	/*text-align: center;*/
	margin: 20px 0 0;
}
.location-filters ul li {
	display: inline-block;
}
.location-filters ul li {
	margin-bottom: 10px;
}
.location-filters ul li:not(:last-child) {
	margin-right: 10px;
}
.location-filters ul li a {
	padding: 10px 15px;
	font-size: 16px;
	color: #000;
	border: 1px solid #0275d8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
    display: block;
}
.location-filters ul li a:hover {
	background: #0275d8;
	color: #fff;
	text-decoration: none;
}
.filter-wrapper .filters .titlu {
	font-size: 16px;
    line-height: 36px;
    font-weight: bold;
}
.filter-wrapper .delete-filters li,
.filter-wrapper .item ul li a {
    position: relative;
    padding-left: 25px;
    padding-top: 5px;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}
.filter-wrapper .item ul li {
	padding: 5px 0;
}
.filter-wrapper .item ul li a:before {
	content: "\f096";
	font-family: 'FontAwesome';
    font-size: 19px;
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    overflow: hidden;
    color: #000;
}
.filter-wrapper .delete-filters li:after,
.filter-wrapper .item ul li a.sel:before {
	font-family: 'FontAwesome';
    font-size: 19px;
    position: absolute;
    top: 2px;
    left: 0;
	content: "\f046";
    width: 20px;
    overflow: hidden;
    color: #000;
}

.filter-wrapper .item {
	padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.filter-wrapper .item .heading {
	font-size: 15px;
	font-weight: 600;
	background: #eee;
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
}
.filter-wrapper .item .heading:after {
	font-family: 'FontAwesome';
    font-size: 20px;
    position: absolute;
    top: 8px;
    right: 0;
	content: "\f106";
    width: 20px;
    color: #000;
}
.filter-wrapper .item .heading.collapsed:after{
	content: "\f107";
}
.filter-wrapper .item ul {
	margin: 0;
}
.filter-wrapper .star-rating {
	height: 27px;
}
.filter-wrapper .item.weather-link,
.filter-wrapper .item.partners {
	border: none;
	margin: 0;
	padding: 0;
}
.filter-wrapper .item.weather-link .picture {
	margin-bottom: 20px;
}
.filter-wrapper .item.weather-link .picture img {
	width: 100%;
}
.filter-wrapper .item.weather-link .articles div {
	margin-bottom: 10px;
}
.filter-wrapper .item.partners img {
	display: block;
	margin: auto;
}
.filter-wrapper .item.weather-link a {
	font-size: 14px;
}
.ofVizitate .prod {
	width: 25%;
	float: left;
	padding: 0 10px;
	overflow: hidden;
	margin-bottom: 20px;
}
.ofVizitate .prod .link-blue {
	width: 100%;
    display: block;
    height: 100%;
    overflow: hidden;
}
.ofVizitate .prod .titlu a {
	font-size: 15px;
    font-weight: 600;
    color: #000;
}
.ofVizitate .prod .poza_localitate img {
	max-width: 100%;
	height: 85%;
	margin: auto;
}
.item-holder {
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
    margin-bottom: 20px;
}
.afisare-oferta .normal {
	position: relative;
}
.afisare-oferta .normal .show-prices-button {
	position: absolute;
	bottom: 0;
	right: 0;
}
.afisare-oferta .normal .show-prices-button a:hover {
	text-decoration: none;
}
.afisare-oferta .normal .show-prices-button h3 {
	margin: 0;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 3px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #279500;
    border-color: #1c6c00;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.afisare-oferta .bold {
	font-weight: 600;
}
.afisare-oferta .normal .show-prices-button h3:hover {
	background: #1c6c00;
}
.afisare-oferta .hotel-name {
	margin-bottom: 10px;
	padding-right: 100px;
}
.afisare-oferta .hotel-name a {
	font-size: 30px;
    font-weight: 600;
} 
.afisare-oferta .hotel-name a .grey2 {
	color: #666;
}
.afisare-oferta .float-left {
	width: 40%;
	padding-right: 20px;
}
.afisare-oferta .float-left .poza {
	position: relative;
	float: left;
	display: block;
}
.afisare-oferta .float-right {
	width: 60%;	
	padding-bottom: 55px;
	font-size: 18px;
}
.afisare-oferta .comision_reducere {
	position: absolute;
    z-index: 1;
    bottom: 20px;
    right: -10px;
    padding: 10px 30px;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.afisare-oferta .comision_reducere:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 0;
	border-color: #b30707 transparent transparent transparent;
	content: '';
	position: absolute;
	right: 0;
	bottom: -10px;
}
.afisare-oferta .early-booking {
	position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: url(/images/new_icon_earlybooking.png) no-repeat;
    background-size: 100%;
    z-index: 1;
}
.afisare-oferta .comision_reducere {
	background: #d60808;
}
.pad10.article.bigger-12em.text-justify {
	font-size: 16px;
}
.pad10.article.bigger-12em.text-justify img {
	width: 30%;
	margin-right: 10px;
}
.pad10.article.bigger-12em.text-justify .ofVizitate .prod {
	height: 225px !important;
}
.pad10.article.bigger-12em.text-justify .ofVizitate .prod img {
	width: auto;
	margin: 0;
}
.show-filters {
	display: none;
}
.stele-mari-5 { width:110px; height:20px; background:url(/images/stele_mari.gif) 0 0 no-repeat; display:inline-block; }
.stele-mari-4 { width:88px; height:20px; background:url(/images/stele_mari.gif) -22px 0 no-repeat; display:inline-block; }
.stele-mari-3 { width:66px; height:20px; background:url(/images/stele_mari.gif) -44px 0 no-repeat; display:inline-block; }
.stele-mari-2 { width:44px; height:20px; background:url(/images/stele_mari.gif) -66px 0 no-repeat; display:inline-block; }
.stele-mari-1 { width:22px; height:20px; background:url(/images/stele_mari.gif) -88px 0 no-repeat; display:inline-block; }
.all_inclusive_span {
    background: url(/images/allinclusive_back.png) 0 0 no-repeat;
    display: block;
    width: 100%;
    height: 100%;
}
.hotel-name #rightdiv_hotel_all {
	width: 80px;
    height: 55px;
    position: absolute;
    right: 0;
    top: 0;
}
.city-airports {
	position: relative;
}
.city-airports .titlu {
	position: absolute;
    left: 0;
    top: 10px;
    padding: 10px 10px 10px 20px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    max-width: 90%;
}
.city-airports .titlu span {
	font-size: 11px;
}
.city-airports .titlu:before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 0;
	border-color: transparent #000000 transparent transparent;
	position: absolute;
    bottom: -10px;
    left: 0;
}
.city-airports .image {
	min-height: 100%;
	min-width: 100%;
}
.city-airports .description {
	position: absolute;
    right: 0;
    bottom: 10px;
    width: auto;
    padding: 10px 20px 10px 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
}
.city-airports .description:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 0;
	border-color: #000000 transparent transparent transparent;
	position: absolute;
    bottom: -10px;
    right: 0;
}
#rating .bold {
	font-weight: 600;
}
#leftdiv_hotel .concept {
    line-height: 28px;
    padding: 0 0 0 35px;
    margin: 0 5px;
    background: url(/images/icon_thumbsup.png) left top no-repeat;
    background-size: 28px;
}
.airplane-image {
	padding: 0 10px;
    color: #279500;
    font-size: 20px !important;
}
.distant-image {
	padding: 0 7px;
}
.most-important-locations .prod {
	height: 200px;
}
.most-important-locations .prod .image {
	display: block;
    margin: auto;
    min-width: auto;
}
.most-important-locations h3 {
	margin-bottom: 25px;
}
.sejururi .sejururi {
	border: 0;
	box-shadow: none;
	padding: 0 0 20px;
}
.show-mobile {
	display: none;
}
.scroll-to-filters {
	position: absolute;
    bottom: -70px;
    width: 100%;
    left: 0;
}
.scroll-to-filters .scroll-filter {
	display: none;
	position: fixed;
	top: 10px;
	margin: 0;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 3px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #279500;
    border: 1px solid #1c6c00;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    width: 20%;
    max-width: 280px;
    z-index: 999;
}
#observatii {
	font-size: 16px;
    color: #666;
    font-weight: 400;
    resize: none;
    border: 1px solid #0275d8;
}


@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .content_box .form-group {
    margin-top:12px;
    width:40%;
  }
  .content_avo_detalii .content_avo_detalii_right .content_avo_detalii_right_content, .content_char_book .content_char_book_right .content_char_book_right_content {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
  .new_input_text input {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 18px;
    padding: 7px 10px;
    width: 100%;
    margin-top: 10px;
  }
  .content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_1, .content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_2, .content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_3 {
    float: none;
    width: 100%;
    margin-right: 2%;
    margin-top: 16px;
  }
  .content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_1 {
    float: none;
    font-size: 16px;
    margin-right: 2%;
    position: relative;
    top: 1px;
    color: #666;
    width: 100%;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .new_input_text label {
    top: 19px;
  }
  .box_asigurare_top_left {
    float: none;
    width: 100%;
  }
  .box_asigurare_top_right {
    float: none;
    width: 100%;
  }
  .content_avo_detalii .content_avo_detalii_left .avo_detalii_facturare_type_box, .content_char_book .content_char_book_left .char_detalii_facturare_type_box {
    position: relative;
    right: 0;
    bottom: 100%;
  }
  .content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_email_telefon>.input, .content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_nume_prenume>.input, .content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_oras_tara>.input, .content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_email_telefon>.input, .content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_nume_prenume>.input, .content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_oras_tara>.input {
    float: none;
    margin-right: 2%;
    width: 100%;
  }
  .content_avo_detalii .content_avo_detalii_left, .content_char_book .content_char_book_left {
    width: 100%;
    display: block;

  }
  .content_avo_detalii .content_avo_detalii_right, .content_char_book .content_char_book_right {
    display: block;
    position: relative;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .destItem .topBox .icon-search{
    opacity: 1;
    border: 2px solid #fff;
    margin: 0 auto;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.7);
    width: 50%;
    left: 0;
    right: 0;
  }
  .destItem .topBox:hover .icon-search{
    pointer-events: none !important;
  }
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .destItem .topBox:hover img :active{
    /*background-color: rgba(0, 0, 0, 0.75);*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none /*only to disable context menu on long press*/

  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .hidden-sm-down {
    display: none !important;
  }
  .contact-left {
    float: none;
    width: 100%;
  }
  .pad20 {
    margin-top: 40px;
  }
  .contact .pad20{
    margin-top:0;
  }
  .contact-right{
    float:none;
    width: 100%;
  }
}


@media screen and (max-width: 680px) {
  .breadcramb_social, .date-picker-wrapper .month-wrapper table.month2, .destinatii_lista_noastra_ul, .rg-thumbs {
    display: none;
  }
  .destItem {
    width: 48%;
  }
  .date-picker-wrapper .month-wrapper .prev {
    font-size: 20px!important;
    left: 7%;
    top: 19px;
  }
  .date-picker-wrapper .month-wrapper {
    padding: 10px!important;
  }
  .date-picker-wrapper .month-wrapper .next {
    font-size: 20px!important;
    right: 7%;
    top: 19px;
  }


  .date-picker-wrapper .month-wrapper table {
    /*float: left;*/
    /*width: 100%!important;*/
  }
  #container_date_picker table tr{
    display: table-row;
  }
  .width_inputs{
    max-width:300px;
    width:90%;
  }
  .content_char_detalii_facturare_box .form-group {
    float: none;
    width: 40%;
    margin-top: 12px;
  }
  .contact-form label{
    margin:10px;
  }
  #container_date_picker td{
    display: table-cell;
    font-size:16px;
  }
  .no_marginp{
    padding:0;
  }
  .hide_desktop{
    display: block;
    font-size: 16px;
  }
  header nav a.logo{
    margin:0;
    height: 60px;
    width:55%;
  }
  .hide_mobile{
    display: none;
  }
  .card_mobile{
    display: none;
  }
  .full_width_mobile{
    width:100%;
  }


  table {
    border: 0;
  }

  table thead {
    /*display: none;*/
  }

 .offers_tables  tr {
    margin-bottom: 10px;
    display: block;
    padding:0;
    border-bottom: 2px solid #ddd;
  }

 .offers_tables  td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }


  .hotel table th, .table td {
    padding: 0.6rem;
    text-align: center;
    width: 100%!important;
    border-top: 1px solid #eceeef;
  }

  .badge {
    font-weight: 600;
    line-height: 1;
    color: #fff;
    width: 106px;
    margin: 10px auto;
    font-size: 10px!important;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
  }


}
@media screen and (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .search_sus{
    max-width:95%;
  }
  .destItem {
    width: 96%;
    margin:0 0 10px 10px;
    text-align: center;
  }
  .form-vacant .date-picker-wrapper .month-wrapper {
    padding: 0px!important;
  }

  .date-picker-wrapper .month-wrapper table td, .date-picker-wrapper .month-wrapper table td div{
    max-width:48px;
    width:100%;
  }
  .content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row .row_in_left, .content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in_left {
    font-size: 18px;
    float: left;
    width: 100%;
  }
  .content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row .row_in_right, .content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in_right {
    float: right;
    width: 100%;
    font-size: 14px;
    color: #666;
  }
  .content_box .form-group {
    margin-top: 12px;
    width: 100%;
  }
  .date-picker-wrapper .month-wrapper table .day {
    color: #c2c2c2;
    cursor: default;
    font-family: Arial,sans-serif;
    font-size: 14px;
    max-width: 100%;
    height: 40px;
    line-height: 26px;
    padding-left: 11px;
    width: 50px;
  }
  .content_char_detalii_facturare_box .form-group {
    width: 100%;
  }
  .content_char_book_left table td{
    padding: 10px;
    display: table-cell;
  }
  .content_char_book_left table tr{
    display: table-row;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 490px) {
  .modal-box .title {
    font-size: 14px;
  }
  .destItem .topBox .icon-search{
    background-color:rgba(0, 0, 0, 0.7);
    width: 100%;

  }
  .destItem {
  margin:5px;
  }
  #container_date_picker .date-picker-wrapper {
    position: fixed;
  }
  .form-vacant .date-picker-wrapper .month-wrapper table {
    float: none;
     width: 100%;
  }
 .form-vacant .date-picker-wrapper.single-date {
    max-width: 340px;
    width: 100%;
  }
  .chd-ages {
    text-align: center;
    margin: 0;
    bottom: 132px;
    position: absolute;
  }
  .nota_data {
    float: right;
    max-width: 240px;
    width:100%;
    text-align: left;
  }

  .form-inline {
    position: relative;
  }
  .comentariu .nota {
    float: right;
    width: 100%;
    text-align: right;
    line-height: 15px;
  }
  #select_mobile{
    padding-bottom:100px;
  }
  .trustme li .phone{
    font-size: 18px;
  }
  #NEW-detaliiOferta .review-line {
    width: 200px;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
    background: none;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  header nav {
    font-size: 22px;
  }
  header nav a:not(.logo):not(.menu) {
    float: none;
    width: 100%;
    padding: 5px 0 5px 20px;
  }
  .card-block  .table td{
    max-width: 250px;
    width:100%;
  }


  .search-box {
    margin-top: 63px;
    width: 100%;
  }
  .search-box input[type="text"] {
    width: auto;
  }
  .card-block{
    padding:0;
  }
  .hotel,
  .visited,
  .newsletter {
    padding: 10px;
  }
  .hotel h1 .icon-star {
    font-size: 18px;
  }
  .hotel .address {
    font-size: 13px;
  }
  .hotel .recommended i[class^="icon-"],
  .hotel .recommended p {
    font-size: 13px;
    vertical-align: middle;
  }
  .hotel .recommended i[class^="icon-"] span,
  .hotel .recommended p span {
    font-size: 13px;
  }
  .hotel #map {
    height: 100vw;
  }
  .hotel .nearby h3 {
    font-size: 18px;
  }
  .hotel .nearby a {
    width: 100%;
    margin-left: 0 !important;
  }
  .visited ul li {
    width: 100%;
    margin-right: 0;
  }
  .visited ul li .title {
    font-size: 14px;
  }
  .footer_info ul li {
    width: 100%;
    margin-right: 0;
    padding-left: 5px;
  }
  .footer_info ul li .title {
    font-size: 14px;
  }
  .date-picker-wrapper .month-wrapper table .day{
    width: 50px;
    text-align: center;
    max-width: 100%;
  }

}
@media screen and (max-width: 390px){
  .date-picker-wrapper .month-wrapper table .day {
    width: 37px;
    text-align: center;
    max-width: 100%;
  }

  .date-picker-wrapper .month-wrapper table td, .date-picker-wrapper .month-wrapper table td div {
    max-width: 50px;
  }
  .rating .camp {
    float: left;
    max-width: 80px;
    margin: 0 10px 0 0;
    width: 100%;
  }
  header nav a.logo {
    width: 70%;
  }
}
@media screen and (max-width: 370px){
  .date-picker-wrapper .month-wrapper table .day {
    width: 47px;
    text-align: center;
    max-width: 100%;
  }

  .date-picker-wrapper .month-wrapper table td, .date-picker-wrapper .month-wrapper table td div {
    max-width: 50px;
  }
  .rating .camp {
    float: left;
    max-width: 80px;
    margin: 0 10px 0 0;
    width: 100%;
  }
  header nav a.logo {
    width: 70%;
  }
}

/**** hotel and reservation page mobile fixes ****/
@media screen and (max-width: 991px) {
	.hide_mobile {
		display: none;
	}
	.hide_desktop {
		display: block;
	}
	header {
		height: 88px;
	}
	header nav {
		top: 1px;
		left: -10px;
		right: -10px;
		width: auto;
	}
	.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_1,
	.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2 {
		width: 100% ;
	}
	.content_box .form-group.new_check {
		width: 100% !important;
		margin: 10px 0 0;
		float: none;
	}
	.content_box .form-group.new_check label {
		margin-bottom: 0;
	}
	.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2 .form-group {
		margin-top: 20px;
	}
	.content_char_detalii_pasageri .content_box .row:not(:nth-child(5)) .box_nume_prenume {
		border-bottom: 1px dashed #ccc;
		padding-bottom: 20px;
	}
	.box_detalii_nume_prenume .form-title {
		width: 100%;
		margin: 0;
		float: none;
		margin-bottom: 10px;
	}
	.box_detalii_nume_prenume .form-wrapper {
		width: 100%;
		float: none;
	}
	.box_detalii_nume_prenume .form-group.new_check {
		width: 100% !important;
		margin: 0;
	}
	#content_char_detalii_facturare_pf_on .box_detalii_nume_prenume .input.new_input_text {
		width: 49% !important;
	}
	#content_char_detalii_facturare_pf_on .box_detalii_nume_prenume .input.new_input_text:nth-child(3) {
		margin: 0 !important;
	}
	.content_char_detalii_facturare_box .form-group {
		clear: both;
		float: none;
	}
	.content_char_detalii_facturare_box .form-group:nth-child(4) {
		padding-top: 22px;
		margin: 0;
	}
	.new_input_text input.used~label, 
	.new_input_text input:focus~label {
		top: -5px;
	}
	.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_1, 
	.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_2, 
	.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_3 {
		margin-top: 10px;
	}
	.content_char_book .content_char_book_left .content_char_detalii_facturare .row {
		padding: 0;
	}
	.content_char_detalii_facturare .input.new_input_text {
		margin-top: 12px;
	}
	.content_char_detalii_facturare .form-wrapper .input.new_input_text { 
		margin-top: 0;
	}
	.content_char_detalii_facturare_box 	.content_char_detalii_pasageri_notificare {
		margin-top: 20px;
		height: 15px;
	}
	.content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in_child_info {
		margin: 0;
		padding: 0;
	}
	.search-box {
		width: 100%;
		margin-top: 10px;
	}
	.chd-ages {
		margin-left: 0;
	}
	td.hide_mobile {
		display: none !important;
	}
	.offers_tables span.smaller-09em.blue.underline.pointer {
		display: inline-block;
		margin-top: 15px;
	}
	#NEW-detaliiOferta #comentarii .expandable .float-left.pad20 {
		width: 100% !important;
		margin: 0 !important;
	}
	#NEW-detaliiOferta #comentarii .expandable .float-left {
		padding: 0 !important;
		height: auto !important;
		width: 100% !important;
	}
	#NEW-detaliiOferta #comentarii .expandable .float-left #add-review {
		margin: 30px 0;
	}
	.comentariu .pareri {
		margin: 10px 10px 0 0;
	}
	#comentarii .float-left {
		height: auto;
	}
	.float-left #add-review {
		margin: 0;
	}
	.prosicontra.float-right {
		float: left;
	}
	
	.filter-wrapper {
		width: 100vw;
		float: none;
		position: absolute;
		z-index: 10;
		left: -100vw;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	.filter-wrapper.opened {
		left: 0;
	}
	.result-list {
		width: 100%;
		float: none;
		-webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
		display: block;
	}
	.result-list.removed {
		display: none;
	}
	.show-mobile {
		display: block;
	}
	.show-filters {
		display: block;
		margin: 0;
		padding: 10px 20px;
		font-size: 20px;
		border-radius: 3px;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		background: #279500;
		border: 1px solid #1c6c00;
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		width: 100%;
	}
	.afisare-oferta .float-left {
		float: left;
	}
	.afisare-oferta .float-left img {
		max-width: 100%;
	}
	.ofVizitate .prod {
		width: 50%;
	}
	.ofVizitate .prod .image {
		max-width: 100%;
		max-width: 100%;
	}
	.afisare-oferta .hotel-name a {
		font-size: 18px;
	}
	.afisare-oferta .hotel-name {
		padding: 0;	
	}
	.afisare-oferta .float-right {
		font-size: 16px;
	}
	.afisare-oferta .float-left .poza {
		display: inline-block;
	}
	.mobile-all-inclusive {
		position: absolute;
		top: 20px;
		right: 0;
	}
	.mobile-all-inclusive .all_inclusive_span {
		background: #279500;
		right: -10px;
		position: relative;
	}
	.mobile-all-inclusive .all_inclusive_span:before {
		content: 'ALL INCLUSIVE';
		display: block;
		position: relative;
		padding: 10px 20px 10px 10px;
		width: 130px;
		background: transparent;
		font-size: 18px;
		color: #fff;
		font-weight: 600;
	}
	.mobile-all-inclusive .all_inclusive_span:after {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 0;
		border-color: #1b6102 transparent transparent transparent;
	    position: absolute;
		right: 0;
		bottom: -10px;
	}
	#rightdiv_hotel_all .all_inclusive_span {
		display: none;
	}
	.most-important-locations .prod .image {
		min-width: 100%;
	}
	.chn-blue {
		display: none;
	}
	#rating {
		font-size: 16px;
	}
	#info-filters {
		display: none;
	}
	.top {
		bottom: 4.5em;
	}
}

@media screen and (max-width: 600px) {
	.afisare-oferta .float-left {
		float: none;
		width: 100%;
		padding: 0 0 20px;
	}
	.afisare-oferta .float-left .poza {
		float: none;
	}
	.afisare-oferta .float-right {
		width: 100%;
	}
	.ofVizitate .prod {
		width: 100%;
		max-height: 200px;
	}
	.afisare-oferta .normal .show-prices-button {
		left: 50%;
		right: auto;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		min-width: 180px;
	}
	.pad10.article.bigger-12em.text-justify img {
		width: 100%;
		margin: 0 !important;
	}
}
  
