/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
strong {
 font-weight: bold;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  height: auto;
}
body {
  overflow-x: hidden;
  background: #FFF;
  font: normal 12px Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #065ABF;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.layout {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
header {
  border-bottom: 1px solid #DDD;
  background: -moz-linear-gradient(top, #065ABF 0, #065ABF 25px, #FFF calc(26px), #FFF 100%);
  background: -webkit-linear-gradient(top, #065ABF 0, #065ABF 25px, #FFF calc(26px), #FFF 100%);
  background: linear-gradient(to bottom, #065ABF 0, #065ABF 25px, #FFF calc(26px), #FFF 100%);
  zoom: 1;
}
header:before {
  content: '';
  display: block;
}
header:after {
  content: '';
  display: table;
  clear: both;
}
header .tagline {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  line-height: 25px;
}
header .top-nav {
  float: right;
}

header .top-nav a {
  display: inline-block;
  margin: 0 0 0 20px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 11px;
  line-height: 25px;
}
header .top-nav a:hover {
  color: #FFF;
}
header nav {
  font: 700 18px 'Open Sans Condensed', sans-serif;
  text-align: center;
  zoom: 1;
}
header nav:before {
  content: '';
  display: block;
}
header nav:after {
  content: '';
  display: table;
  clear: both;
}

header nav a:hover {
  color: #065ABF;
}
header nav a.contact {
  float: right;
  text-align: right;
  width: 150px;
  padding: 0;
  position: relative;
  overflow: hidden;
}
header nav a.contact:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: .1s,opacity .1s;
  -moz-transition: .1s,opacity .1s;
  -o-transition: .1s,opacity .1s;
  transition: .1s,opacity .1s;
  content: attr(data-hover);
  -webkit-transform: translate(0, -150%);
  -moz-transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  -o-transform: translate(0, -150%);
  transform: translate(0, -150%);
}
.pad20 {
 padding:10px;
}
header nav a.contact:hover:before {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
  transition-delay: .1s;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #EDEDED;
  font: normal 13px/1.3 Arial, sans-serif;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
  padding-left: 0;
}
a {
  color: #0275d8;
  text-decoration: none;
}

a:focus, a:hover {
  color: #014c8c;
  text-decoration: underline;
}
img {
  vertical-align: middle;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, .h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3em;
  padding: 0;
  margin: 0;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}
h6, .h6 {
  font-size: 1rem;
}
.pull-right {
  float: right;
}
.form-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position:relative;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.heading h1,
.heading h2 {
  font-size: 1.6667em;
  line-height: 1.25em;
  margin-bottom: 10px;
  color: #2d3e52;
}
.blue {
  color: #065abf;
}
.green {
	color: #279500;
}
.pad20 { padding:20px !important; }
.pad15 { padding:15px !important; }
.red{
  color:red;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
 #comentarii  .float-left{
    width:100%;
    float:none;
  }
  .no_marginp{
    width:900px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
  .no_marginp {
    padding:0;
    margin:0;
  }
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
  }
@media (min-width: 576px) {
.col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }.col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  }
  
  @media (min-width: 768px) {
  .col-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    }
 }
 @media (min-width: 992px) {
  .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  }
  /* START CARD SYSTEM */
.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
@media (min-width: 576px) {
  .card-deck {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-deck .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card-deck .card:not(:first-child) {
    margin-left: 15px;
  }
  .card-deck .card:not(:last-child) {
    margin-right: 15px;
  }
}
#container_date_picker{
  bottom:3px;
}
.newsletter {
  background: url(../images/global-map.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:0;
  padding: 50px 0;
}
.newsletter .m-title {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  line-height: 1.2em;
  margin: 0;
}
.newsletter .m-title em {
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
}
.newsletter form input[type=text], .newsletter form input[type=email] {
  background-color: #f5f5f5;
  height: 43px;
  font-size: 15px;
  padding: 0 15px;
  border: 0;
  width: 100%;
}
.newsletter .btn {
  line-height: 1.60;
}
.newsletter .form-group {
  margin-top: 15px;
}
.collapse {
  display: none;
}
* START BREADCRUMB CONTENT */
.breadcrumb {
  font-size: 13px;
  line-height: 18px;
  float: left;
  width: 70%;
  height: 35px;
  margin-top: 10px;
  padding: 7px 10px;
  background: #F7F7F7;
  -webkit-border-radius: 5px;
  border-radius: 5px;

}
.breadcrumb::after {
  display: block;
  content: "";
  clear: both;
}
/* START BUTTON CONTENT */
.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0 !important;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
  margin-top:10px;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.circuit .card {
  border: 0 !important;
  border-radius: 0 !important;
  margin-bottom: 20px !important;
}
.block-view .card-block {
  padding: 15px;
}
.block-view .title {
  font-size: 17px;
  color: #2d3e52;
  margin-top: 6px;
  text-transform: uppercase;
}
.block-view .description {
  font-size: 15px;
  color: #838383;
  padding-top: 10px;
}
.block-view .btn {
  margin-top: 3px;
  text-transform: uppercase;
}
.circuit-content .price-table .table td, .table th {
  text-align: center;
}
.trustme li p,
.recommended p {
  width: 70%;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom:0;
}
.clear{
  clear:both;
}
#comentarii .float-left {
  float:left;
  width: 33%;
  height: 180px;
  padding: 10px;
  margin-left: 2px;
}
.float-left{
  float:left;
}
.float-left #add-review{
  max-width: 300px;
  width:100%;
  margin: 0 0 0 55px;
  height: 30px;
}
#comentarii .clear {content:"."; display:block; height:0; font-size:0; line-height:0; clear:both; visibility:hidden;}
.float-right {float:right;}
input.input-text, select, textarea, span.custom-select {
  background: #f5f5f5;
  border: none;
  line-height: normal;
}
.footer {
  padding: 30px 0;
}
.footer h2 {
  font-size: 22px;
  line-height: 1.25em;
  font-weight: normal;
  color: #2d3e52;
  margin-bottom: 20px;
}
.footer ul {
  padding: 0;
}
.footer li {
  list-style: none;
  display: table;
}
.footer ul.triangle li:before {
  content: "\f04b";
  font-family: "FontAwesome";
  margin-right: 10px;
  margin-top: 8px;
  color: #d9d9d9;
  display: block;
  float: left;
  font-size: 7px;
}
.footer .social-icon {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
#facebook-icon {
  color: #3b5998;
}
#google-icon {
  color: #dd4b39;
}
#twitter-icon {
  color: #55acee;
}
#pinterest-icon {
  color: #cb2027;
}
#rss-icon {
  color: #ff6600;
}
.contact-details .contact-phone {
  color: #2d3e52;
  font-size: 24px;
}
.contact-details .contact-address {
  display: block;
  color: #2d3e52;
}
.contact-details i {
  color: #01b7f2;
}
footer .copyright {
  font-size: 14px;
  border-top: 1px solid #e0e0e0;
  padding: 10px 0;
  margin: 15px 0 0;
}
.text-primary {
  color: #065abf;
}
.text-success {
  color: #279500;
}
.text-danger {
  color: #d60808;
}

.old-price {
  display: block;
  margin: 5px 0 -3px 0;
  text-decoration: line-through;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}
.current-price {
  display: block;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}
.badge {
  display: inline-block;
  padding: 0.50em .6em;
  font-size: 81%;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}
.badge-success {
  background-color: #279500;
}
.discount {
  position: absolute;
  top: 0px;
  left: 15px;
  max-width: 170px;
  padding: 7px 10px 3px;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.discount.eb {
  background: rgba(39, 149, 0, 0.75);
}
.recommended {
  display: flex;
  padding: 0 15px;
  margin-top: -15px;
}
.recommended p {
  font-size: 17px;
  font-weight: 700;
  padding-left: 10px;
  margin: 0;
}
.recommended p span {
  display: block;
  color: #065ABF;
  font-size: 22px;
}
.hotel h1 .stars {
  font-size: 22px;
}
.hotel .nearby {
  flex-direction: column;
}
.hotel .thumb {
  float: left;
  margin: 0 10px 0 0;
  height: 60px;
  border-radius: .25rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.price-box {
  background-color: #efffe9;
  padding: .75rem 1.25rem;
  margin-top: 20px;
  border: 1px solid #279500;
}
.price-box h4 {
  color: #D60808;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 0.75rem;
  text-align: left;
  width:auto;
  border-top: 1px solid #eceeef;
}
.table-responsive {
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table {
  border-collapse: collapse !important;
}
.table td,
.table th {
  background-color: #fff !important;
}
.table.offers_tables td {
	background: none !important;
}
table {
  border: 1px solid #ccc;
  width: 100%;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  border: 1px solid #ddd;
  padding: 5px;
}

table th, table td {
  padding: 10px;
  text-align: center;
}

table th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
.hide_desktop{
  display: none;
}
.top {
  bottom: .5em;
  right: .5em;
  color: #ffffff;
  background: #466581;
  display: none;
  opacity: 0.75;
  z-index: 11;
  padding: 1.3em .5em .25em;
  border-radius: 9999px;
  position: fixed;
  font-size: 12px;
  text-align: center;
  width: 60px;
  height: 60px;
  text-decoration: none;
  transition: all ease .3s;
}
.chd-ages {
  text-align: center;
  margin: 10px   auto;
}
.clear {
  clear: both;
}
.trustme .modal-btn {
	color: #0275d8;
    cursor: pointer;
}
.chd-ages {
	margin: 10px 0px 0px 360px;
}
