.homepage-header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
}
#homepage-video {
    width: 100vw;
    min-height: 70vh;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
}
#homepage-video video,
#homepage-video .homepage-image {
	position: absolute;
    top: 0;
    min-height: 100%;
    min-width: 100%;
}
.homepage-content {
    background: #EDEDED;
}
.video-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    top: 0;
}
.advanced-search {
    position: relative;
    padding-right: 16px;
    z-index: 10;
    padding-top: 110px;
}
.advanced-search-container .chapter-title {
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
}
.advanced-search-container #afis_filtru {
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    border: 1px solid #000;
}
.advanced-search-container label {
    display: block;
    font-size: 14px;
    font-weight: 600;
}
.advanced-search-container .btn {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #279500;
    border-color: #1c6c00;
    color: #fff;
    width: 100%;
    margin-top: 24px;
}
.advanced-search-container .form-control .placeholder {
    font-style: italic;
    font-size: 14px;
}
.advanced-search-container .form-control.input-replace {
    cursor: text;
}
.advanced-search-container .form-control.input-replace.active {
	-moz-box-shadow: inset 0 0 10px #065ABF;
    -webkit-box-shadow: inset 0 0 10px #065ABF;
    box-shadow: inset 0 0 10px #065ABF;
}
.search-box-wrapper {
    -moz-box-shadow: inset 0 0 10px #000;
    -webkit-box-shadow: inset 0 0 10px #000;
    box-shadow: inset 0 0 7px #000;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px 0 0;
    margin-top: 20px;
}
.advanced-search-options .option-column {
    width: 20%;
    float: left;
    padding: 0 10px;
}
.advanced-search-options .option-column .option {
    margin-bottom: 15px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.advanced-search-options .option-column .option:hover,
.advanced-search-options .option-column .option.active {
    background: #fff;
    color: #000;
}
.option-column-fix {
    width: 80%;
    float: left;
    padding: 0 10px;
}
.advanced-search-options .search-box-wrapper .nav.nav-tabs.tabs-left {
	width: 20%;
    float: left;
    display: block;
}
.advanced-search-options .search-box-wrapper .nav.nav-tabs.tabs-left .option-column {
	width: 100%;
	float: none;
}
.advanced-search-options .search-box-wrapper .tab-content {
    float: left;
    width: 80%;
}
.tab-content>.tab-pane {
    display: none;
    visibility: hidden;
    padding: 0 10px;
}
.tab-content>.tab-pane .tab-pane-wrapper {
	background: #fff;
	padding: 10px 0 0;
	margin-bottom: 15px;
}
.tab-content>.tab-pane .tab-pane-wrapper h4 {
	font-size: 15px;
    padding: 0 15px;
    font-style: italic;
    margin-bottom: 20px;
} 
.tab-content>.active {
    display: block;
    visibility: visible;
}
.advanced-search-options .search-box-wrapper .tab-content .option-column {
	width: 25%;
}
.advanced-search-options .search-box-wrapper .tab-content .option-column .option {
	color: #000;
}
.advanced-search-options .search-box-wrapper .tab-content .option-column .option.active,
.advanced-search-options .search-box-wrapper .tab-content .option-column .option:hover {
	color: #fff;
	background: #000;
}
.last-seen-section {
	padding-top: 20px;
	background: #fff;
}
.homepage-boxes .subtitle {
	color: #065ABF;
    margin-top: 0px;
    padding-bottom: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3em;
}
.homepage-boxes .ofVizitate .prod {
	position: relative;
	height: 520px;
}
.homepage-boxes .ofVizitate .prod .prod-bg {
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
    background-position: center;
}
.homepage-boxes .ofVizitate .prod .titlu {
	position: absolute;
    left: 0;
    top: 10px;
    padding: 10px 10px 10px 20px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    max-width: 90%;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.homepage-boxes.last-seen-section .ofVizitate .prod .titlu {
	background: #d9534f;
}
.homepage-boxes .ofVizitate .prod:hover .titlu,
.homepage-boxes .ofVizitate .prod.show-mobile .titlu {
	opacity: 0;
}
.homepage-boxes .ofVizitate .prod .titlu:before {
	content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent #000000 transparent transparent;
    position: absolute;
    bottom: -10px;
    left: 0;
 }
.homepage-boxes .ofVizitate .prod .prod-overlay {
	position: absolute;
    top: 20px;
    left: 30px;
    right: 30px;
    bottom: 40px;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    opacity: 0;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.homepage-boxes .ofVizitate .prod:hover .prod-bg,
.homepage-boxes .ofVizitate .prod.show-mobile .prod-bg {
	-webkit-box-shadow: 5px 5px 5px 0px rgba(217, 83, 79, 0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(217, 83, 79, 0.3);
    box-shadow: 5px 5px 5px 0px rgba(217, 83, 79, 0.3);
}
.homepage-boxes .ofVizitate .prod:hover .prod-overlay,
.homepage-boxes .ofVizitate .prod.show-mobile .prod-overlay {
	opacity: 1;
}
.homepage-boxes .ofVizitate .prod .prod-overlay a:hover {
	text-decoration: none;
}
.homepage-boxes .ofVizitate .prod .prod-overlay .price span {
	font-size: 35px;
    font-weight: 600;
}
.homepage-boxes .ofVizitate .prod .prod-overlay a .overlay-text {
	transform: translateY(-50%);
    top: 50%;
    position: relative;
}
.homepage-boxes .ofVizitate .prod .prod-overlay a .overlay-text h3 {
	font-weight: 600;
}
.homepage-boxes .ofVizitate.single-column .prod,
.promoted-destionations .ofVizitate.columns-1 .prod,
.litoral .ofVizitate.columns-1 .prod {
	width: 100%;
}
.homepage-boxes .ofVizitate.two-columns .prod,
.promoted-destionations .ofVizitate.columns-2 .prod,
.promoted-destionations .ofVizitate.columns-6 .prod:nth-child(5),
.promoted-destionations .ofVizitate.columns-6 .prod:nth-child(6),
.litoral .ofVizitate.columns-2 .prod {
	width: 50%;
}
.last-seen-section .ofVizitate.three-columns .prod:first-child,
.promoted-destionations .ofVizitate.columns-3 .prod:first-child,
.promoted-destionations .ofVizitate.columns-5 .prod:nth-child(5),
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(5),
.litoral .ofVizitate.columns-3 .prod:first-child {
	width: 100%;
}
.last-seen-section .ofVizitate.three-columns .prod:nth-child(2),
.last-seen-section .ofVizitate.three-columns .prod:nth-child(3),
.promoted-destionations .ofVizitate.columns-3 .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-3 .prod:nth-child(3),
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(6),
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(7),
.litoral .ofVizitate.columns-3 .prod:nth-child(2),
.litoral .ofVizitate.columns-3 .prod:nth-child(3) {
	width: 50%;
}
.last-seen-section .ofVizitate.three-columns .prod,
.promoted-destionations .ofVizitate.columns-3 .prod,
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(5),
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(6),
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(7),
.litoral .ofVizitate.columns-3 .prod {
	height: 320px;
}
.last-seen-section .ofVizitate.three-columns .prod .prod-bg,
.promoted-destionations .ofVizitate.columns-3 .prod .prod-bg,
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(5) {
	height: 300px;
}
.last-seen-section .ofVizitate.more-columns .prod:first-child,
.promoted-destionations .ofVizitate.columns-4 .prod:nth-child(4),
.promoted-destionations .ofVizitate.columns-5 .prod:nth-child(4),
.promoted-destionations .ofVizitate.columns-6 .prod:nth-child(4),
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(4),
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(4),
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(5),
.litoral .ofVizitate.columns-4 .prod:nth-child(4),
.litoral .ofVizitate.columns-5 .prod:nth-child(4),
.litoral .ofVizitate.columns-5 .prod:nth-child(5) {
	width: 40%;
}
.last-seen-section .ofVizitate.more-columns .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-4 .prod:first-child,
.promoted-destionations .ofVizitate.columns-5 .prod:first-child,
.promoted-destionations .ofVizitate.columns-6 .prod:first-child,
.promoted-destionations .ofVizitate.columns-7 .prod:first-child,
.promoted-destionations .ofVizitate.columns-8 .prod:first-child,
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(6),
.litoral .ofVizitate.columns-4 .prod:first-child,
.litoral .ofVizitate.columns-5 .prod:first-child {
	width: 60%;
	margin-bottom: 10px;
}
.last-seen-section .ofVizitate.more-columns .prod:nth-child(2) .prod-bg,
.promoted-destionations .ofVizitate.columns-4 .prod:first-child .prod-bg,
.promoted-destionations .ofVizitate.columns-5 .prod:first-child .prod-bg,
.promoted-destionations .ofVizitate.columns-6 .prod:first-child .prod-bg,
.promoted-destionations .ofVizitate.columns-7 .prod:first-child .prod-bg,
.promoted-destionations .ofVizitate.columns-8 .prod:first-child .prod-bg {
	height: 240px;
}
.last-seen-section .ofVizitate.more-columns .prod:nth-child(3),
.last-seen-section .ofVizitate.more-columns .prod:nth-child(4),
.promoted-destionations .ofVizitate.columns-4 .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-4 .prod:nth-child(3),
.promoted-destionations .ofVizitate.columns-5 .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-5 .prod:nth-child(3),
.promoted-destionations .ofVizitate.columns-6 .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-6 .prod:nth-child(3),
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(3),
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(3),
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(7),
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(8),
.litoral .ofVizitate.columns-4 .prod:nth-child(2),
.litoral .ofVizitate.columns-4 .prod:nth-child(3),
.litoral .ofVizitate.columns-5 .prod:nth-child(2),
.litoral .ofVizitate.columns-5 .prod:nth-child(3) {
	width: 30%;
}
.last-seen-section .ofVizitate.more-columns .prod:nth-child(2),
.last-seen-section .ofVizitate.more-columns .prod:nth-child(3),
.last-seen-section .ofVizitate.more-columns .prod:nth-child(4),
.promoted-destionations .ofVizitate.columns-4 .prod:first-child,
.promoted-destionations .ofVizitate.columns-4 .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-4 .prod:nth-child(3),
.promoted-destionations .ofVizitate.columns-5 .prod:first-child,
.promoted-destionations .ofVizitate.columns-5 .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-5 .prod:nth-child(3),
.promoted-destionations .ofVizitate.columns-6 .prod:first-child,
.promoted-destionations .ofVizitate.columns-6 .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-6 .prod:nth-child(3),
.promoted-destionations .ofVizitate.columns-7 .prod:first-child,
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(3),
.promoted-destionations .ofVizitate.columns-8 .prod:first-child,
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(3),
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(6),
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(7),
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(8),
.litoral .ofVizitate.columns-4 .prod:first-child,
.litoral .ofVizitate.columns-4 .prod:nth-child(2),
.litoral .ofVizitate.columns-4 .prod:nth-child(3),
.litoral .ofVizitate.columns-5 .prod:first-child,
.litoral .ofVizitate.columns-5 .prod:nth-child(2),
.litoral .ofVizitate.columns-5 .prod:nth-child(3),
.litoral .ofVizitate.columns-5 .prod:nth-child(4),
.litoral .ofVizitate.columns-5 .prod:nth-child(5) {
	height: 250px;
}
.last-seen-section .ofVizitate.more-columns .prod:nth-child(2) .prod-bg,
.last-seen-section .ofVizitate.more-columns .prod:nth-child(3) .prod-bg,
.last-seen-section .ofVizitate.more-columns .prod:nth-child(4) .prod-bg,
.promoted-destionations .ofVizitate.columns-4 .prod:first-child .prod-bg,
.promoted-destionations .ofVizitate.columns-4 .prod:nth-child(2) .prod-bg,
.promoted-destionations .ofVizitate.columns-4 .prod:nth-child(3) .prod-bg,
.promoted-destionations .ofVizitate.columns-5 .prod:first-child .prod-bg,
.promoted-destionations .ofVizitate.columns-5 .prod:nth-child(2) .prod-bg,
.promoted-destionations .ofVizitate.columns-5 .prod:nth-child(3) .prod-bg,
.promoted-destionations .ofVizitate.columns-6 .prod:first-child .prod-bg,
.promoted-destionations .ofVizitate.columns-6 .prod:nth-child(2) .prod-bg,
.promoted-destionations .ofVizitate.columns-6 .prod:nth-child(3) .prod-bg,
.promoted-destionations .ofVizitate.columns-7 .prod:first-child .prod-bg,
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(2) .prod-bg,
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(3) .prod-bg,
.promoted-destionations .ofVizitate.columns-8 .prod:first-child .prod-bg,
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(2) .prod-bg,
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(3) .prod-bg,
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(6) .prod-bg,
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(7) .prod-bg,
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(8) .prod-bg,
.litoral .ofVizitate.columns-4 .prod:first-child .prod-bg,
.litoral .ofVizitate.columns-4 .prod:nth-child(2) .prod-bg,
.litoral .ofVizitate.columns-4 .prod:nth-child(3) .prod-bg,
.litoral .ofVizitate.columns-5 .prod:first-child .prod-bg,
.litoral .ofVizitate.columns-5 .prod:nth-child(2) .prod-bg,
.litoral .ofVizitate.columns-5 .prod:nth-child(3) .prod-bg,
.litoral .ofVizitate.columns-5 .prod:nth-child(4) .prod-bg,
.litoral .ofVizitate.columns-5 .prod:nth-child(5) .prod-bg {
	height: 240px;
}
.last-seen-section .ofVizitate.more-columns .prod:nth-child(2) .prod-overlay,
.last-seen-section .ofVizitate.more-columns .prod:nth-child(3) .prod-overlay,
.last-seen-section .ofVizitate.more-columns .prod:nth-child(4) .prod-overlay,
.promoted-destionations .ofVizitate.columns-4 .prod:first-child .prod-overlay,
.promoted-destionations .ofVizitate.columns-4 .prod:nth-child(2) .prod-overlay,
.promoted-destionations .ofVizitate.columns-4 .prod:nth-child(3) .prod-overlay,
.promoted-destionations .ofVizitate.columns-5 .prod:first-child .prod-overlay,
.promoted-destionations .ofVizitate.columns-5 .prod:nth-child(2) .prod-overlay,
.promoted-destionations .ofVizitate.columns-5 .prod:nth-child(3) .prod-overlay,
.promoted-destionations .ofVizitate.columns-6 .prod:first-child .prod-overlay,
.promoted-destionations .ofVizitate.columns-6 .prod:nth-child(2) .prod-overlay,
.promoted-destionations .ofVizitate.columns-6 .prod:nth-child(3) .prod-overlay,
.promoted-destionations .ofVizitate.columns-7 .prod:first-child .prod-overlay,
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(2) .prod-overlay,
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(3) .prod-overlay,
.promoted-destionations .ofVizitate.columns-8 .prod:first-child .prod-overlay,
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(2) .prod-overlay,
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(3) .prod-overlay,
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(6) .prod-overlay,
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(7) .prod-overlay,
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(8) .prod-overlay,
.litoral .ofVizitate.columns-4 .prod:first-child .prod-overlay,
.litoral .ofVizitate.columns-4 .prod:nth-child(2) .prod-overlay,
.litoral .ofVizitate.columns-4 .prod:nth-child(3) .prod-overlay,
.litoral .ofVizitate.columns-5 .prod:first-child .prod-overlay,
.litoral .ofVizitate.columns-5 .prod:nth-child(2) .prod-overlay,
.litoral .ofVizitate.columns-5 .prod:nth-child(3) .prod-overlay,
.litoral .ofVizitate.columns-5 .prod:nth-child(4) .prod-overlay,
.litoral .ofVizitate.columns-5 .prod:nth-child(5) .prod-overlay {
	bottom: 30px;
}
.promoted-destionations {
	background: #EDEDED;
	padding-top: 20px;
}
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(3) {
	margin-bottom: 5px;
}
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(4) {
	margin-bottom: 0;
}
.promoted-destionations .ofVizitate.columns-4 .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-5 .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-6 .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(2),
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(2),
.litoral .ofVizitate.columns-4 .prod:nth-child(2),
.litoral .ofVizitate.columns-5 .prod:nth-child(2) {
	clear: left;
}
.promoted-destionations .ofVizitate.columns-4 .prod:nth-child(4),
.promoted-destionations .ofVizitate.columns-5 .prod:nth-child(4),
.promoted-destionations .ofVizitate.columns-6 .prod:nth-child(4),
.promoted-destionations .ofVizitate.columns-7 .prod:nth-child(4),
.promoted-destionations .ofVizitate.columns-8 .prod:nth-child(4),
.litoral .ofVizitate.columns-4 .prod:nth-child(4),
.litoral .ofVizitate.columns-5 .prod:nth-child(4) {
	margin-top: -260px;
}
.litoral .ofVizitate.columns-5 .prod:nth-child(4) {
	margin-bottom: 0;
}
.homepage-boxes.promoted-destionations .ofVizitate .prod .titlu {
	background: rgba(255, 102, 0, 1);
}
.homepage-boxes.promoted-destionations .ofVizitate .prod:hover .prod-bg {
	-webkit-box-shadow: 5px 5px 5px 0px rgba(255, 102, 0, 0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(255, 102, 0, 0.3);
    box-shadow: 5px 5px 5px 0px rgba(255, 102, 0, 0.3);
}
.homepage-boxes.litoral .ofVizitate .prod .titlu{
	background: #55acee;
}
.homepage-boxes.litoral .ofVizitate .prod:hover .prod-bg {
	-webkit-box-shadow: 5px 5px 5px 0px rgba(85, 172, 238, 0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(85, 172, 238, 0.3);
    box-shadow: 5px 5px 5px 0px rgba(85, 172, 238, 0.3);
}
.litoral {
	background: #fff;
	padding-top: 20px;
}
.circuite {
	padding-top: 20px;
}
.homepage-boxes.circuite .ofVizitate .prod {
	width: 33.33%;
}
.homepage-boxes.circuite .ofVizitate .prod .titlu {
	background: #5cb85c;
}
.homepage-boxes.circuite .ofVizitate .prod:hover .prod-bg {
	-webkit-box-shadow: 5px 5px 5px 0px rgba(92, 184, 92, 0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(92, 184, 92, 0.3);
    box-shadow: 5px 5px 5px 0px rgba(92, 184, 92, 0.3);
}
.funfacts-section {
	padding: 60px 0;
	background-image: url('/images/beach_mic.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}
.funfacts-section .subtitle {
	color: #fff;
	margin-bottom: 30px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.funfacts-section .column {
	float: left;
	color: #fff;
}
.funfacts-section .column .fact-wrapper {
	padding: 20px;
	text-align: center;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}
.funfacts-section .column:first-child .fact-wrapper {
	background: rgba(217, 83, 79, 0.85);
}
.funfacts-section .column:nth-child(2) .fact-wrapper {
	background: rgba(255, 102, 0, 0.85);
}
.funfacts-section .column:nth-child(3) .fact-wrapper {
	background: rgba(85, 172, 238, 0.85);
}
.funfacts-section .column:nth-child(4) .fact-wrapper {
	background: rgba(92, 184, 92, 0.85);
}
.funfacts-section .column .fact-wrapper .fact-content {
	top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.funfacts-section .column .fact-wrapper .fact-content .fact-icon {
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.funfacts-section .column .fact-wrapper .fact-content .fact-text {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
	min-height: 45px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
 
 
@media screen and (max-width: 991px) {
	header nav {
		top: 0;
		width: auto;
	}
	.advanced-search {
		margin: 60px 0 30px 0;
		padding: 0;
		z-index: 1;
	}
	.advanced-search-container .chapter-title {
		padding: 20px 0 20px 20px;
		font-size: 25px;
	}
	.homepage-content {
		top: auto;
	}
	#afis_filtru .form-group {
		margin-bottom: 10px;
	}
	.last-seen-section {
		padding-top: 20px;
	}
	.homepage-boxes .ofVizitate .prod {
		width: 100% !important;
		height: 205px;
		max-height: none;
		margin-top: 0 !important;
		margin-bottom: 10px !important;	
	}
	.homepage-boxes .ofVizitate .prod .prod-bg {
		width: 100% !important;
		height: 200px;
	}
	.homepage-boxes .ofVizitate .prod .prod-overlay {
		bottom: 25px;
		z-index: -1;
	}
	.homepage-boxes .ofVizitate .prod:hover .prod-overlay {
		z-index: 1;
	}
}
