.modal-overlay{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	display: none;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.modal-box{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 540px;
	margin: -270px 0 0 -400px;
	background: @white;
	border: 1px solid @border;
	z-index: 1001;
	overflow: auto;

	.title{
		position: relative;
		padding: 10px;
		background: @bg-body;
		border-bottom: 1px solid @border;
		text-align: center;
		font-size: @font-size-large;
		font-weight: 700;

		.close{
			float: right;
			display: inline-block;
			padding: 10px;
			margin: -10px;
			font-size: @font-size-large;
			color: @gray;
			cursor: pointer;

			i:before{
				margin-right: 0;
			}
		}
	}

	.content{
		padding: 15px;
	}
}

#map-modal{
	width: 100%;
	height: 100%;
}

@media (max-width: @desktop) {
	.modal-box{
		top: 1%;
		left: 1%;
		width: 98%;
		height: 98%;
		margin: 0;
	}
}

@media (max-width: @tablet) {


}

@media (max-width: @mobile) {
	.modal-box{
		.title{
			font-size: @font-size-medium;
		}
	}
}
