/* HTML5 display-role reset for older browsers */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.icon-heart:before {
  content: '\e800';
}
.icon-home:before {
  content: '\e801';
}
.icon-group:before {
  content: '\e802';
}
/*.icon-search:before {*/
  /*content: '\e803';*/
/*}*/
.icon-menu:before {
  content: '\e804';
}
.icon-star:before {
  content: '\e805';
}
.icon-location:before {
  content: '\e806';
}
.icon-down-open:before {
  content: '\e807';
}
.icon-up-open:before {
  content: '\e808';
}
.icon-thumbs-up-alt:before {
  content: '\f164';
}
.icon-volume-control-phone:before {
  content: '\f2a0';
}

html {
  height: auto;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #EDEDED;
  font: normal 13px/1.3 Arial, sans-serif;
  color: #333;
}
/** {
  box-sizing: border-box;
}*/
a {
  text-decoration: none;
  color: #065ABF;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

h2,
h3,
h4 {
  font-family: Arial, sans-serif;
  line-height: 1.2em;
  padding: 0;
  margin: 0 0 0.5em 0;
}

.layout {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  zoom: 1;
}
.layout:before {
  content: '';
  display: block;
}
.layout:after {
  content: '';
  display: table;
  clear: both;
}

.icon-star {
  color: #F6AE0B;
}
.icon-star:before {
  margin-right: 0;
}

.button-blue {
  display: inline-block;
  text-align: center;
  background: #0275d8;
  border: 1px solid #054797;
  color: #FFF;
  font-size: 14px;
  cursor:pointer;
  line-height: 28px;
  padding: 0 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.button-blue:hover {
  background: #076de7;
}
.button-green {
  display: inline-block;
  text-align: center;
  background: #279500;
  border: 1px solid #1c6c00;
  color: #FFF;
  font-size: 14px;
  line-height: 28px;
  padding: 0 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.button-green:hover {
  background: #32be00;
}
.button-red {
  display: inline-block;
  text-align: center;
  background: #D60808;
  border: 1px solid #af0707;
  color: #FFF;
  font-size: 14px;
  line-height: 28px;
  padding: 0 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.button-red:hover {
  background: #f61111;
}
.button-light {
  display: inline-block;
  text-align: center;
  background: #F7F7F7;
  border: 1px solid #e3e3e3;
  color: #333;
  font-size: 14px;
  line-height: 28px;
  padding: 0 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.button-light:hover {
  background: #ffffff;
}
.button-light:hover {
  border-color: #D60808;
  color: #D60808;
}

/* header */
header {
  margin-bottom: 10px;
  border-bottom: 1px solid #DDD;
  background: -moz-linear-gradient(top, #065ABF 0, #065ABF 25px, #FFF 25px, #FFF 100%);
  background: -webkit-linear-gradient(top, #065ABF 0, #065ABF 25px, #FFF 25px, #FFF 100%);
  background: linear-gradient(to bottom, #065ABF 0, #065ABF 25px, #FFF 25px, #FFF 100%);
  zoom: 1;
}
header:before {
  content: '';
  display: block;
}
header:after {
  content: '';
  display: table;
  clear: both;
}
header .tagline {
  font-size: 12px;
  line-height: 25px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.75);
}
header .top-nav {
  float: right;
}
header .top-nav a {
  font-size: 12px;
  line-height: 25px;
  display: inline-block;
  margin: 0 0 0 20px;
  color: rgba(255, 255, 255, 0.75);
}
header .top-nav a:hover {
  color: #FFF;
}
header .top-nav a .icon-group:before {
  font-size: 1.2em;
}
header nav {
  font: 700 18px 'Open Sans Condensed', sans-serif;
  position: relative;
  text-align: center;
  zoom: 1;
}
header nav:before {
  content: '';
  display: block;
}
header nav:after {
  content: '';
  display: table;
  clear: both;
}
header nav a {
  line-height: 50px;
  margin: 5px 0;
  padding: 0 5px;
float:left;
  color: #000;
}
header nav a:hover {
  color: #065ABF;
}
header nav a.logo {
  float: left;
  width: 240px;
  height: 40px;
  margin: 10px 0;
  padding: 0;
}
header nav a.logo img,
header nav a.logo svg {
  width: 100%;
  height: 100%;
}
header nav a.contact {
  float: right;
  width: 125px;
  padding: 0;
  text-align: right;
  color: #065ABF;
}
header nav a.contact span {
  color: #D60808;
}
header nav a.menu {
  font-size: 30px;
  line-height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 65px;
  height: 60px;
  margin: 0;
  padding: 9px 0 11px;
  color: #FFF;
  background: #065ABF;
}
header nav a.menu :before {
  margin: 0;
}
header .logo .primary {
  fill: #065ABF;
}
header .logo .secondary {
  fill: #279500;
}
header .logo .emblem {
  fill: none;
  stroke: #065ABF;
  stroke-width: 5;
}
footer {
  border-top: 1px solid #DDD;
  background: #FFF;
  padding: 15px 0;
}
.breadcrumb {
  font-size: 13px;
  line-height: 18px;
  float: left;
  width: 70%;
  height: 35px;
  margin-bottom: 10px;
  padding: 7px 10px;
  background: #F7F7F7;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.breadcrumb a .icon-home {
  font-size: 18px;
}
.breadcrumb a .icon-home:before {
  margin-right: 0;
}
.breadcrumb a:hover {
  text-decoration: underline;
  color: #054a9c;
}
.breadcrumb a:after {
  font: 700 18px/18px 'Open Sans Condensed', sans-serif;
  position: relative;
  top: 2px;
  display: inline-block;
  margin-left: 5px;
  content: '>';
  cursor: auto;
  text-decoration: none;
  color: #333;
}

/* header final */
@media (max-width: 1280px) and (min-width: 901px) {
  .layout {
    padding: 0 10px;
  }
}
@media (max-width: 1200px) {
  .right-column .trustme li i[class^="icon-"],
  .right-column .recommended i[class^="icon-"] {
    font-size: 4vw;
  }
  .right-column .trustme li p {
    font-size: 1.15vw;
  }
  .right-column .trustme li .phone {
    font-size: 3vw;
  }
  .right-column .recommended p {
    font-size: 1.4vw;
  }
  .right-column .recommended p span {
    font-size: 1.85vw;
  }
}

@media (max-width: 1165px) and (min-width: 1024px) {
  header nav {
    font-size: 16px;
  }
  header nav a.logo {
    width: 180px;
    height: 30px;
  }
}

@media (max-width: 1023px) and (min-width: 901px) {
  header nav {
    top: 55px;
    height: 90px;
    text-align: left;
  }
  header nav a {
    line-height: 30px;
    margin: 0;
  }
  header nav a.logo,
  header nav a.contact {
    line-height: 50px;
    margin-top: -50px;
  }
  header + div {
    position: relative;
    z-index: 1;
  }
}
@media (max-width: 1024px) {
  .visited ul li {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 20px;
  }
  .visited ul li:nth-child(2n) {
    margin-right: 0;
  }
  .visited ul li .title {
    font-size: 18px;
  }
  .visited ul li p {
    height: 65px;
  }
  .newsletter form label {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .newsletter form label i[class^='icon-'],
  .newsletter form label span {
    font-size: 18px;
  }
  .newsletter form label span {
    display: inline-block;
    float: none;
  }
  .newsletter form label span:before {
    content: " - ";
  }
  .newsletter form input[type='text'] {
    width: 23%;
    margin-right: 2%;
  }
  .newsletter form input[type='email'] {
    width: 33%;
    margin-right: 2%;
  }
  .newsletter form input[class^='button-'] {
    width: 15%;
    cursor: pointer;
  }
}

@media (max-width: 900px) {
  header {
    height: 61px;
    background: none;
  }
  header .tagline,
  header .top-nav {
    display: none;
  }
  header nav {
    font-size: 22px;
    position: absolute;
    overflow-y: hidden;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.93);
    z-index: 999;
  }
  header nav a {
    display: block;
    margin: 0;
    text-align: left;
    border-top: 1px solid #DDD;
  }
  header nav a:not(.logo):not(.menu) {
    float: none;
    width: 100%;
    padding: 5px 0 5px 20px;
    text-align: left;
  }
  header nav a.logo {
    float: none;
    margin: 10px 0 10px 10px;
    border: none;
  }
  header nav a.menu {
    display: block;
    text-align: center;
    border: none;
  }
  header nav a.contact {
    padding: 0 6px;
    text-align: left;
  }
  header nav.expand {
    height: auto;
    border-bottom: 1px solid #DDD;
  }
  .breadcrumb {
    display: none;
  }
  .search-box {
    float: none;
    margin-bottom: 10px;
    width: 95%;
    margin-top:40px;
    margin-right: auto;
    margin-left: auto;
  }
  .trust {
    display: none;
  }
  .trust.bottom {
    display: block;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
  .trust.bottom .trustme {
    background: none;
    border: none;
    zoom: 1;
  }
  .trust.bottom .trustme:before {
    content: '';
    display: block;
  }
  .trust.bottom .trustme:after {
    content: '';
    display: table;
    clear: both;
  }
  .trust.bottom .trustme li {
    float: none;
    width: 100%;
    padding: 10px 0;
  }
  .trust.bottom .trustme li:nth-last-child(2) {
    border-bottom: 0;
  }
  .hotel,
  .visited,
  .comments,
  .newsletter {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .hotel .clear {
    zoom: 1;
    display: block;
  }
  .hotel .clear:before {
    content: '';
    display: block;
  }
  .hotel .clear:after {
    content: '';
    display: table;
    clear: both;
  }
  .hotel .left-column,
  .hotel .right-column {
    width: 100%;
    margin: 0;
  }
  .hotel .recommended {
    display: block;
    margin-bottom: 10px;
    zoom: 1;
  }
  .hotel .recommended:before {
    content: '';
    display: block;
  }
  .hotel .recommended:after {
    content: '';
    display: table;
    clear: both;
  }
  .hotel .recommended i[class^="icon-"],
  .hotel .recommended p {
    float: left;
    font-size: 14px;
  }
  .hotel .recommended p {
    width: auto;
  }
  .hotel .recommended p span {
    display: inline-block;
    font-size: 14px;
  }
  .hotel .expand.icon:before {
    content: '\e807';
  }
  .hotel .expand.icon.open:before {
    content: '\e808';
  }
  .hotel .expandable {
    display: none;
  }
  .hotel .description .details {
    width: 100%;
  }
  .hotel .description .facilities,
  .hotel .description .facilities-extra {
    width: 56%;
    margin-left: 0;
    margin-right: 4%;
  }
  .hotel .description .facilities-extra {
    width: 40%;
    margin-left: 0;
    margin-right: 0;
  }
  .hotel .description .room-details li {
    width: 100%;
    margin-right: 0;
  }
  .hotel #map {
    height: 500px;
    width: 100%;
  }
  .hotel .map {
    display: block;
    height: auto;
  }
  .hotel .nearby {
    width: 100%;
    height: auto;
    margin: 0;
    display: inline-block;
    zoom: 1;
  }
  .hotel .nearby:before {
    content: '';
    display: block;
  }
  .hotel .nearby:after {
    content: '';
    display: table;
    clear: both;
  }
  .hotel .nearby h3 {
    width: 100%;
    height: auto;
    font-size: 22px;
    color: #065ABF;
    border-bottom: 1px solid #065ABF;
    margin-top: 20px;
    padding-bottom: 10px;
  }
  .hotel .nearby a {
    float: left;
    width: 48%;
    height: auto;
    margin-top: 10px;
  }
  .hotel .nearby a:nth-of-type(2n) {
    margin-left: 4%;
  }
  .hotel .nearby a img {
    height: 75px;
  }

}

@media (max-width: 670px) and (min-width: 551px) {
  .trustme li p {
    font-size: 2.1vw;
  }
  .trustme li .phone {
    margin-top: 0;
    font-size: 5.4vw;
  }
  .trustme li i[class^=icon-] {
    font-size: 7.5vw;
  }
  .hotel .description .facilities,
  .hotel .description .facilities-extra {
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 550px) {
  .trust.bottom .trustme li {
    float: none;
    width: 100%;
  }
  .hotel .description .facilities,
  .hotel .description .facilities-extra {
    width: 100%;
    margin-right: 0;
  }
  .newsletter form label span {
    display: none;
  }
  .newsletter form input[type='text'] {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 10px;
  }
  .newsletter form input[type='text']:nth-of-type(2n) {
    margin-right: 0;
  }
  .newsletter form input[type='email'] {
    width: 65%;
    margin-right: 2%;
  }
  .newsletter form input[class^='button-'] {
    width: 33%;
  }
}
@media (max-width: 400px) {
  .newsletter form input[type='text'],
  .newsletter form input[type='email'] {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 10px;
  }
  .newsletter form input[class^='button-'] {
    width: 50%;
  }

}
@media (max-width: 900px) and (orientation: landscape) {
  .hotel #map {
    height: 45vw;
  }
}

@media (max-width: 1024px) {
  .modal-box {
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    margin: 0;
  }

}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.form-group {
  float:left;
  width: 15%;
}
/* inceput -din fisierul ocaziituristice.css*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
strong {
 font-weight: bold;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  height: auto;
}
body {
  overflow-x: hidden;
  background: #FFF;
  font: normal 12px Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #065ABF;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.layout {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

header nav a.logo img {
  height: 100%;
}
header nav a.contact {
  float: right;
  text-align: right;
  width: 150px;
  padding: 0;
  position: relative;
  overflow: hidden;
}
header nav a.contact span {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
header nav a.contact:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: .1s,opacity .1s;
  -moz-transition: .1s,opacity .1s;
  -o-transition: .1s,opacity .1s;
  transition: .1s,opacity .1s;
  content: attr(data-hover);
  -webkit-transform: translate(0, -150%);
  -moz-transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  -o-transform: translate(0, -150%);
  transform: translate(0, -150%);
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
@-ms-viewport {
  width: device-width;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #EDEDED;
  font: normal 13px/1.3 Arial, sans-serif;
  color: #333;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
  padding-left: 0;
}
a {
  color: #0275d8;
  text-decoration: none;
}
img {
  vertical-align: middle;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h2, .h2 {
  font-size: 2rem;
}

h6, .h6 {
  font-size: 1rem;
}

.pull-right {
  float: right;
}

.blue {
  color: #065abf;
}
/* start background*/
.bkg-blue { background:#E3EFFF; }
.bkg-red { background:#ffe3e3; }
.bkg-green { background:#E5FBDD; }
.bkg-dark-green { background:#279500; }
.bkg-orange { background:#ffead7; }
.bkg-white { background:#FFF; }
.bkg-grey { background:#F2F2F2; }
/*end background */

/* start pading si margini*/
.pad20 { padding:20px !important; }
.pad15 { padding:15px !important; }
.pad10 { padding:10px !important; }
.pad10-0 { padding:10px 0 !important; }
.pad0-10 { padding:0 10px !important; }
.pad5 { padding:5px !important; }
.pad5-0 { padding:5px 0 !important; }
.pad0 { padding:0 !important; }
.mar10 { margin:10px !important; }
.mar10-0 { margin:10px 0 !important; }
.mar0-10 { margin:0 10px !important; }
.mar5 { margin:5px !important; }
.mar5-0 { margin:5px 0 !important; }
.mar0 { margin:0 !important; }
/*end pading si margini */

.red{
  color:red;
}
b{
  font-weight: bold;
}
.white {
  color: #FFF;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
.link-black {
  color: #333;
  text-decoration: underline;
}

/* START GRID SYSTEM */
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
 #comentarii  .float-left{
    width:100%;
    float:none;
  }
  .no_marginp{
    width:900px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
  .no_marginp {
    padding:0;
    margin:0;
  }
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* END GRID SYSTEM */
/*Calendar*/
.month-wrapper{
  width:100%!important;
}
/* START CARD SYSTEM */
.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f7f7f9;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-img-top {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}
@media (min-width: 576px) {
  .card-deck {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-deck .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card-deck .card:not(:first-child) {
    margin-left: 15px;
  }
  .card-deck .card:not(:last-child) {
    margin-right: 15px;
  }
}
@media (min-width: 544px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.75rem;
  }
}
@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.75rem;
  }
}
/* END CARD SYSTEM */
/* START BREADCRUMB CONTENT */
.breadcrumb {
  font-size: 13px;
  line-height: 18px;
  float: left;
  width: 70%;
  height: 35px;
  margin-top: 10px;
  padding: 7px 10px;
  background: #F7F7F7;
  -webkit-border-radius: 5px;
  border-radius: 5px;

}


.breadcrumb::after {
  display: block;
  content: "";
  clear: both;
}
.breadcrumb-item {
  float: left;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #636c72;
  content: "/";
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}
.breadcrumb-item.active {
  color: #636c72;
}
.breadcrumb ul li { display:inline-block; }
.breadcrumb ul li.sel { padding:0 3px; }
/* .breadcrumb ul li a { display:block; padding:0 15px 0 5px; line-height:28px; height:28px; }
.breadcrumb ul li.sel { padding:0 5px; }

.breadcrumb div { display:inline-block; }
.breadcrumb a { color:#444; text-decoration:underline; }
.breadcrumb a:hover { color:#000; text-decoration:none; }*/
/* END BREADCRUMB CONTENT */

.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row, .content_avo_detalii .content_avo_detalii_left .content_avo_detalii_pasageri .row, .content_char_book .content_char_book_left .content_char_detalii_facturare .row, .content_char_book .content_char_book_left .content_char_detalii_pasageri .row {
  padding-top: 15px;
}
.content_box .new_check{
  margin-left: 10px;
  width: 13%!important;}

.box_detalii_nume_prenume .new_check{
  margin-left:20px;
  line-height: 30px;
}
.clear{
  clear:both;
}
input.input-text, textarea, span.custom-select {
  padding-left: 15px;
  padding-right: 15px;
  height: 34px;
  width: 100%;
}
input.input-text, select, textarea, span.custom-select {
  background: #f5f5f5;
  border: none;
  line-height: normal;
}

.footer {
  padding: 30px 0;
}
.footer h2 {
  font-size: 22px;
  line-height: 1.25em;
  font-weight: normal;
  color: #2d3e52;
  margin-bottom: 20px;
}
.footer ul {
  padding: 0;
}
.footer li {
  list-style: none;
  display: table;
}
.footer ul.triangle li:before {
  content: "\f04b";
  font-family: "FontAwesome";
  margin-right: 10px;
  margin-top: 8px;
  color: #d9d9d9;
  display: block;
  float: left;
  font-size: 7px;
}
.footer .social-icon {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.footer .social-icon:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
#facebook-icon {
  color: #3b5998;
}
#google-icon {
  color: #dd4b39;
}
#twitter-icon {
  color: #55acee;
}
#pinterest-icon {
  color: #cb2027;
}
#rss-icon {
  color: #ff6600;
}
.contact-details .contact-phone {
  color: #2d3e52;
  font-size: 24px;
}
.contact-details .contact-address {
  display: block;
  color: #2d3e52;
}
.contact-details i {
  color: #01b7f2;
}
footer .copyright {
  font-size: 14px;
  border-top: 1px solid #e0e0e0;
  padding: 10px 0;
  margin: 15px 0 0;
}

.old-price {
  display: block;
  margin: 5px 0 -3px 0;
  text-decoration: line-through;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
table {
  border: 1px solid #ccc;
  width: 100%;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  border: 1px solid #ddd;
  padding: 5px;
}

table th, table td {
  padding: 10px;
  text-align: center;
}

.top {
  bottom: .5em;
  right: .5em;
  color: #ffffff;
  background: #466581;
  display: none;
  opacity: 0.75;
  z-index: 11;
  padding: 1.3em .5em .25em;
  border-radius: 9999px;
  position: fixed;
  font-size: 12px;
  text-align: center;
  width: 60px;
  height: 60px;
  text-decoration: none;
  transition: all ease .3s;
}
.top:hover {
  opacity: 1;
  transition: all ease .3s;
  color:#fff;
  text-decoration: none;
}
.chd-ages {
  text-align: center;
  margin: 10px   auto;
}
.transition01 {
  transition: all .1s ease-in-out;
}
.content_avo_detalii .content_avo_detalii_right .content_avo_detalii_right_content, .content_char_book .content_char_book_right .content_char_book_right_content {
  margin-left: 5%;
  position: absolute;
  top: 0;
  width: 95%;
}
.sticky{
  margin-top:32px;
}
.content_avo_detalii .content_avo_detalii_right, .content_char_book .content_char_book_right {
  display: block;
  position: relative;
  width: 32%;
  z-index: 1;
  float: right;
}
.content_avo_detalii .content_avo_detalii_left, .content_char_book .content_char_book_left {
  display: block;
  position: relative;
  width: 68%;
  float: left;
}
.box_rez_sumar_bottom .bkg-blue {
	background: #E3EFFF;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
}
.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_4 {
  float: left;
  width: 7%
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_pasageri, .content_char_book .content_char_book_left .content_char_detalii_pasageri {
  margin-bottom: 5px;
  width: 100%;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_pasageri .content_box>.box_obligatoriu, .content_char_book .content_char_book_left .content_char_detalii_pasageri .content_box>.box_obligatoriu {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 12px;
}
.content_box .form-group {
  float: left;
  width: 22%;
}
.content_char_detalii_facturare_box .form-group {
  float: left;
  width: 22%;
  margin-top: 12px;
}
.content_char_book .content_char_book_left .content_char_detalii_pasageri .content_box {
  box-shadow: 0 17px 6px -16px #ccc;
  padding: 35px 25px 25px;
  background: #fff;
  position: relative
}
.new_input_text input,
.submitB {
  -webkit-transition: all .1s ease-in-out

}
.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_1 {
  float: left;
  font-size: 16px;
  margin-right: 1%;
  position: relative;
  top: 9px;
  color: #666;
  width: 12%
}
.content_box .form-group.new_check {
	margin-right: 1%;
	margin-top: 5px;
}

.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2 {
  float: left;
  width: 85%
}


.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_1,
.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_2,
.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_3 {
  float: left;
  width: 29%;
  margin-right: 2%
}
.new_input_text>.field-validation-error, .new_input_text>.necesar_box {
  color: red;
  display: none;
  font-size: 15px;
  padding-top: 3px;
}
.clear {
  clear: both;
}
.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_4 {
  float: left;
  width: 7%
}

.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_email_telefon>.input,
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_nume_prenume>.input,
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_oras_tara>.input,
.content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_email_telefon>.input,
.content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_nume_prenume>.input,
.content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_oras_tara>.input {
  float: left;
  margin-right: 2%;
  width: 49%
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare,
.content_char_book .content_char_book_left .content_char_detalii_facturare {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  padding: 5px 25px 25px;
  position: relative;
  box-shadow: 0 17px 6px -16px #ccc
}
.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata,
.content_char_book .content_char_book_left .content_char_metode_plata {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  padding: 25px 0;
  box-shadow: 0 17px 6px -16px #ccc
}

.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row,
.content_char_book .content_char_book_left .content_char_metode_plata>.row {
  margin: 0 25px
}
.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata,
.content_char_book .content_char_book_left .content_char_metode_plata {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  padding: 25px 0;
  box-shadow: 0 17px 6px -16px #ccc
}

.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row,
.content_char_book .content_char_book_left .content_char_metode_plata>.row {
  margin: 0 25px
}

.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row .row_in,
.content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in {
  padding: 15px
}

.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row .row_in_child_info,
.content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in_child_info {
  font-size: 16px;
  margin-top: 10px;
  padding-left: 25px;
  color: #666;
  font-weight: 400
}
.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row .row_in_left,
.content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in_left {
  font-size: 18px;
  float: left;
  width: 55%;
  font-weight: 700;
  color: #333
}

.content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row .row_in_right,
.content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in_right {
  float: right;
  width: 40%;
  font-size: 14px;
  color: #666
}
.box_rez_sumar, .box_rez_sumarM {
  font-size: 15px;
  padding: 0 20px 12px;
  background: #fff;
  box-shadow: 0 17px 6px -16px #ccc;
}
ul.box_rez_sumar_top_in li {
  border-top: 1px dashed #ccc;
  padding: 9px 0;
  color: #666;
  overflow: hidden;
}
ul.box_rez_sumar_top_in li:first-child {
	border-top: 0;
}
.new_check>label {
  position: relative;
  padding-left: 25px;
  padding-top:5px;
  cursor: pointer
}

#avoBookForm .pret_buton_rezerva, #bookFrm .pret_buton_rezerva {
  text-align: right;
  margin-top: 20px;
}
.pret_buton_rezerva .button-red {
	margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    width: 100%;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_termeni_conditii, .content_char_book .content_char_book_left .content_char_termeni_conditii {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0 17px 6px -16px #ccc;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_termeni_conditii>.row_active, .content_char_book .content_char_book_left .content_char_termeni_conditii>.row_active {
  border-bottom: solid 1px #ccc;
  border-radius: 5px;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_termeni_conditii>.row .row_in, .content_char_book .content_char_book_left .content_char_termeni_conditii>.row .row_in {
  padding: 15px 25px;
  font-size: 18px;
}

.new_check>label:after,
.new_check>label:before {
  font-family: 'FontAwesome';
  font-size: 19px;
  position: absolute;
  top: 2px;
  left: 0;
  color: #0275d8;
}
.new_check>label:before {
  content: "\f096";
  font-family: 'FontAwesome';

}

/*.input_none input[type=checkbox] {
  display: none;
}*/
.input_none input[type=checkbox] {
visibility: hidden; height: 0;"
}
.input_none  input[type=radio] {
  display: none;
}
/*.input_none  input[type=radio] {
	visibility: hidden; height: 0;width: 0;
}*/

.bgautoalb input[type=checkbox]+label, input[type=radio]+label {
  cursor: pointer;
}
.new_check>label:after {
  content: "\f046";
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  transition: all .5s;
  color: #000;
  top: 2px;
  font-family: 'FontAwesome';
}
.rez_tpb_left {
  color: #389338;
  float: left;
  font-size: 18px;
  line-height: 30px;
}
.rez_tpb_right {
  color: #389338;
  float: right;
  font-size: 34px;
  line-height: 27px;
}

.rez_total_price_box {
  border-top: 1px dashed #ccc;
  margin: 9px 0 0;
  overflow: hidden;
  padding: 10px 0 0;
}

.new_check>input[type=checkbox]:checked+label:after, .new_check>input[type=radio]:checked+label:after, .new_check input[type=radio]:checked + label:after, .new_check input.used + label:after {
  max-width: 25px;
  opacity: 1;
}
#content_char_detalii_facturare_pf_on .box_detalii_nume_prenume .input.new_input_text {
	width: 29% !important;
	margin-right: 2% !important;
	float: left;
}
.box_detalii_nume_prenume .form-title {
	float: left;
    font-size: 16px;
    margin-right: 1%;
    position: relative;
    top: 9px;
    color: #666;
    width: 12%;
}
.box_detalii_nume_prenume .form-wrapper {
	float: left;
    width: 85%;
}
.box_detalii_nume_prenume .form-group {
	margin-top: 0;
}
.box_detalii_nume_prenume .form-group.new_check {
	margin-top: 5px;
	margin-left: 10px;
    width: 13%!important;
    margin-right: 1%;
}
.box_detalii_nume_prenume .form-group.new_check label {
	line-height: normal !important;
    padding-top: 3px !important;
    padding-left: 20px;
    padding-right: 5px;
}
.content_char_servicii_optionale {
	box-shadow: 0 17px 6px -16px #ccc;
    padding: 25px;
    background: #fff;
    position: relative;
    font-size: 16px;
}
.cards-logo {
	margin-top: 10px;
}
.cards-logo li img {
	max-width: 100%;
	max-height: 40px;
}
.conditii-wrapper h2 {
	font-size: 18px;
    font-weight: 700;
    color: #333;
}
.conditii-wrapper ul li {
	font-size: 16px;
    color: #666;
    font-weight: 400;
    margin-bottom: 10px;
}
.bubble-asigurari-small {
	position: absolute;
    top: -60px;
    right: 0;
    padding: 7px 10px;
    margin: 13px 0 0 0;
    background: #ED1C24;
    border-radius: 10px;
    text-shadow: none !important;
    text-align: center;
    font-weight: 700;
}
.bubble-asigurari-small:after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -10px;
    right: 15px;
    border-width: 10px 10px 0;
    border-color: #ED1C24 transparent;
}
.old-price.text-right {
	float: right;
}
.box_rez_sumar_top_in {
	margin: 0;
}
.box_rez_sumar_top_in li:first	-child {
	border-top: 0;
}
.box_rez_sumar_call_text {
	margin-bottom: 20px;
    box-shadow: 0 17px 6px -16px #ccc;
    padding: 25px;
    background: #fff;
    position: relative;
    font-size: 18px;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare_box,
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_left_in .linkDetaliiOpen_box,
.content_char_book .content_char_book_left .content_char_detalii_facturare_box {
  display: none
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare_box.new_active,
.content_char_book .content_char_book_left .content_char_detalii_facturare_box.new_active {
  display: block
}
.content_avo_detalii .content_avo_detalii_left .avo_detalii_facturare_type_box .avo_detalii_facturare_type_box_box, .content_char_book .content_char_book_left .char_detalii_facturare_type_box .char_detalii_facturare_type_box_box {
  color: #0065b8;
  cursor: pointer;
  float: right;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 15px;
  text-decoration: underline;
}
.new_active {
  display: block!important;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_email_telefon>.input:nth-child(2),
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_nume_prenume>.input:nth-child(2),
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_oras_tara>.input:nth-child(2),
.content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_email_telefon>.input:nth-child(2),
.content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_nume_prenume>.input:nth-child(2),
.content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_oras_tara>.input:nth-child(2) {
  margin-right: 0
}

.bgallgri .row{
  display: block;
  margin:0;
}
.new_input_text {
  position: relative;
}

.new_input_text input {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 18px;
  padding: 7px 10px;
  width: 100%;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out
}
.detalii_avo_over_box_header, .detalii_char_over_box_header {
  color: #0275d8;
  font-size: 23px;
  line-height: 30px;
  padding: 12px 0 0;
  position: relative;
}
.content_avo_detalii .content_avo_detalii_left .avo_detalii_facturare_type_box, .content_char_book .content_char_book_left .char_detalii_facturare_type_box {
  position: absolute;
  right: 0;
  bottom: 100%;
}
.new_input_text input.used~label,
.new_input_text input:focus~label {
  font-size: 13px;
  left: 0;
  top: -16px;
  color: #666
}

.new_input_text>.field-validation-error,
.new_input_text>.necesar_box {
  color: red;
  display: none;
  font-size: 15px;
  padding-top: 3px
}

.new_input_text>.field-validation-error {
  display: block
}

.new_input_text input:focus,
.new_input_text input:hover {
  border: 1px solid #065ABF;
}
.content_avo_detalii .content_avo_detalii_left .content_avo_detalii_pasageri .title span, .content_char_book .content_char_book_left .content_char_detalii_pasageri .title span {
  color: #333;
  font-size: 18px;
  margin: 10px;
  font-weight: bold;
}
.content_box .form-group .form-control{
  font-size: 15px;
  color:#999;
}
.content_char_cupon .new_check {
	padding: 20px 25px;
	background: #fff;
}
.content_char_cupon .new_check a.link-black {
	text-decoration: none;
	font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
    display: inline-block;
}
.content_char_cupon .new_check #coupon-rezervare {
	font-size: 16px;
    color: #666;
    font-weight: 400;
    margin-bottom: 10px;
}
.underline {
    border-bottom: 1px solid;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.button-red {
    display: inline-block;
    text-align: center;
    background: #D60808;
    border: 1px solid #af0707;
    color: #FFF;
    font-size: 16px;
    line-height: 28px;
    padding: 0 15px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.button-red:hover {
    border: 1px solid #279500;
    background: #279500;
    background: -moz-linear-gradient(top, #54c22d 0%, #279500 100%);
    background: -webkit-linear-gradient(top, #54c22d 0%,#279500 100%);
    background: -o-linear-gradient(top, #54c22d 0%,#279500 100%);
    background: -ms-linear-gradient(top, #54c22d 0%,#279500 100%);
    background: linear-gradient(top, #54c22d 0%,#279500 100%);
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
#observatii {
	font-size: 16px;
    color: #666;
    font-weight: 400;
    resize: none;
    border: 1px solid #0275d8;
}

@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
 
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .content_box .form-group {
    margin-top:12px;
    width:40%;
  }
  .content_avo_detalii .content_avo_detalii_right .content_avo_detalii_right_content, .content_char_book .content_char_book_right .content_char_book_right_content {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
  .new_input_text input {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 18px;
    padding: 7px 10px;
    width: 100%;
    margin-top: 10px;
  }
  .content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_1, .content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_2, .content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_3 {
    float: none;
    width: 100%;
    margin-right: 2%;
    margin-top: 16px;
  }
  .content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_1 {
    float: none;
    font-size: 16px;
    margin-right: 2%;
    position: relative;
    top: 1px;
    color: #666;
    width: 100%;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .new_input_text label {
    top: 19px;
  }
  .box_asigurare_top_left {
    float: none;
    width: 100%;
  }
  .box_asigurare_top_right {
    float: none;
    width: 100%;
  }
  .content_avo_detalii .content_avo_detalii_left .avo_detalii_facturare_type_box, .content_char_book .content_char_book_left .char_detalii_facturare_type_box {
    position: relative;
    right: 0;
    bottom: 100%;
  }
  .content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_email_telefon>.input, .content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_nume_prenume>.input, .content_avo_detalii .content_avo_detalii_left .content_avo_detalii_facturare .row .box_detalii_oras_tara>.input, .content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_email_telefon>.input, .content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_nume_prenume>.input, .content_char_book .content_char_book_left .content_char_detalii_facturare .row .box_detalii_oras_tara>.input {
    float: none;
    margin-right: 2%;
    width: 100%;
  }
  .content_avo_detalii .content_avo_detalii_left, .content_char_book .content_char_book_left {
    width: 100%;
    display: block;

  }
  .content_avo_detalii .content_avo_detalii_right, .content_char_book .content_char_book_right {
    display: block;
    position: relative;
    width: 100%;
  }
  #coupon-page .form-content{
	width: 100%;
  }
  .coupon-info{
	width: 100%;
	margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .destItem .topBox .icon-search{
    opacity: 1;
    border: 2px solid #fff;
    margin: 0 auto;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.7);
    width: 50%;
    left: 0;
    right: 0;
  }
  .destItem .topBox:hover .icon-search{
    pointer-events: none !important;
  }
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .destItem .topBox:hover img :active{
    /*background-color: rgba(0, 0, 0, 0.75);*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none /*only to disable context menu on long press*/

  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .hidden-sm-down {
    display: none !important;
  }
  .contact-left {
    float: none;
    width: 100%;
  }
  .pad20 {
    margin-top: 40px;
  }
  .contact .pad20{
    margin-top:0;
  }
  .contact-right{
    float:none;
    width: 100%;
  }
  .testimonals-left.float-left{
  width: 100%;
  }
  .article{
	margin-top: 0 !important;
  }
  #timeline .item{
	width: 100%;
  }
  #about-us .about-left-column,
  #about-us .testimonials .testimonials-left, #about-us .testimonials .testimonials-right,
  #about-us .testimonials .testimonials-left, #about-us .testimonials .testimonials-left,
  #about-us .about-story {
    width: 100%;
	}
  #about-us .about-right-column {
    width: 100%;
    text-align: center;
  }
  #timeline{
	background: transparent;
  }
  .coupon-info{
	width: 100%;
	margin-top: 20px;
  }
  .NEW-calculeaza .item2 .left2{
	width: auto;
  }
  
  .NEW-calculeaza .item2 input[type="text"],
  .NEW-calculeaza .item2 .left,
  .NEW-calculeaza .item2 .left2,
  .NEW-calculeaza .item2 .right2 {
    width: auto;
}
}
@media screen and (max-width: 680px) {
  .breadcramb_social, .date-picker-wrapper .month-wrapper table.month2, .destinatii_lista_noastra_ul, .rg-thumbs {
    display: none;
  }
  .destItem {
    width: 48%;
  }
  .date-picker-wrapper .month-wrapper .prev {
    font-size: 20px!important;
    left: 7%;
    top: 19px;
  }
  .date-picker-wrapper .month-wrapper {
    padding: 10px!important;
  }
  .date-picker-wrapper .month-wrapper .next {
    font-size: 20px!important;
    right: 7%;
    top: 19px;
  }


  .date-picker-wrapper .month-wrapper table {
    /*float: left;*/
    /*width: 100%!important;*/
  }
  #container_date_picker table tr{
    display: table-row;
  }
  .width_inputs{
    max-width:300px;
    width:90%;
  }
  .content_char_detalii_facturare_box .form-group {
    float: none;
    width: 40%;
    margin-top: 12px;
  }
  .contact-form label{
    margin:10px;
  }
  #container_date_picker td{
    display: table-cell;
    font-size:16px;
  }
  .no_marginp{
    padding:0;
  }
  .hide_desktop{
    display: block;
    font-size: 16px;
  }
  header nav a.logo{
    margin:0;
    height: 60px;
    width:55%;
  }
  .hide_mobile{
    display: none;
  }
  .card_mobile{
    display: none;
  }
  .full_width_mobile{
    width:100%;
  }


  table {
    border: 0;
  }

  table thead {
    /*display: none;*/
  }

 .offers_tables  tr {
    margin-bottom: 10px;
    display: block;
    padding:0;
    border-bottom: 2px solid #ddd;
  }

 .offers_tables  td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }


  .hotel table th, .table td {
    padding: 0.6rem;
    text-align: center;
    width: 100%!important;
    border-top: 1px solid #eceeef;
  }

  .badge {
    font-weight: 600;
    line-height: 1;
    color: #fff;
    width: 106px;
    margin: 10px auto;
    font-size: 10px!important;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
  }
  
  .NEW-calculeaza .item2 input[type="text"],
  .NEW-calculeaza .item2 .left,
  .NEW-calculeaza .item2 .left2,
  .NEW-calculeaza .item2 .right2 {
    width: auto;
}

  .NEW-calculeaza .form-terms,
  .NEW-calculeaza .form-bottom-button{
	padding: 0;
	}


}
@media screen and (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .search_sus{
    max-width:95%;
  }
  .destItem {
    width: 96%;
    margin:0 0 10px 10px;
    text-align: center;
  }
  .form-vacant .date-picker-wrapper .month-wrapper {
    padding: 0px!important;
  }

  .date-picker-wrapper .month-wrapper table td, .date-picker-wrapper .month-wrapper table td div{
    max-width:48px;
    width:100%;
  }
  .content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row .row_in_left, .content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in_left {
    font-size: 18px;
    float: left;
    width: 100%;
  }
  .content_avo_detalii .content_avo_detalii_left .content_avo_metode_plata>.row .row_in_right, .content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in_right {
    float: right;
    width: 100%;
    font-size: 14px;
    color: #666;
  }
  .content_box .form-group {
    margin-top: 12px;
    width: 100%;
  }
  .date-picker-wrapper .month-wrapper table .day {
    color: #c2c2c2;
    cursor: default;
    font-family: Arial,sans-serif;
    font-size: 14px;
    max-width: 100%;
    height: 40px;
    line-height: 26px;
    padding-left: 11px;
    width: 50px;
  }
  .content_char_detalii_facturare_box .form-group {
    width: 100%;
  }
  .content_char_book_left table td{
    padding: 10px;
    display: table-cell;
  }
  .content_char_book_left table tr{
    display: table-row;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .NEW-calculeaza .item2 .right2,
  #NEW-destinatie h2{
	font-size: 15px;
  }
  
  .comments{
    width: auto;
    margin-right: auto;
    margin-left: auto;
	}
	
	.discount{
	max-width: initial;
	}
	.coupon .inner .discount{
	float:none;
	display: inherit;
	}
}
@media screen and (max-width: 490px) {
  .modal-box .title {
    font-size: 14px;
  }
  .destItem .topBox .icon-search{
    background-color:rgba(0, 0, 0, 0.7);
    width: 100%;

  }
  .destItem {
  margin:5px;
  }
  #container_date_picker .date-picker-wrapper {
    position: fixed;
  }
  .form-vacant .date-picker-wrapper .month-wrapper table {
    float: none;
     width: 100%;
  }
 .form-vacant .date-picker-wrapper.single-date {
    max-width: 340px;
    width: 100%;
  }
  .chd-ages {
    text-align: center;
    margin: 0;
    bottom: 132px;
    position: absolute;
  }
  .nota_data {
    float: right;
    max-width: 240px;
    width:100%;
    text-align: left;
  }

  .form-inline {
    position: relative;
  }
  .comentariu .nota {
    float: right;
    width: 100%;
    text-align: right;
    line-height: 15px;
  }
  #select_mobile{
    padding-bottom:100px;
  }
  .trustme li .phone{
    font-size: 18px;
  }
  #NEW-detaliiOferta .review-line {
    width: 200px;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
    background: none;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  header nav {
    font-size: 22px;
  }
  header nav a:not(.logo):not(.menu) {
    float: none;
    width: 100%;
    padding: 5px 0 5px 20px;
  }
  .card-block  .table td{
    max-width: 250px;
    width:100%;
  }

  .search-box {
    margin-top: 63px;
    width: 100%;
  }
  .search-box input[type="text"] {
    width: auto;
  }
  .card-block{
    padding:0;
  }
  .hotel,
  .visited,
  .newsletter {
    padding: 10px;
  }
  .hotel h1 .icon-star {
    font-size: 18px;
  }
  .hotel .address {
    font-size: 13px;
  }
  .hotel .recommended i[class^="icon-"],
  .hotel .recommended p {
    font-size: 13px;
    vertical-align: middle;
  }
  .hotel .recommended i[class^="icon-"] span,
  .hotel .recommended p span {
    font-size: 13px;
  }
  .hotel #map {
    height: 100vw;
  }
  .hotel .nearby h3 {
    font-size: 18px;
  }
  .hotel .nearby a {
    width: 100%;
    margin-left: 0 !important;
  }
  .visited ul li {
    width: 100%;
    margin-right: 0;
  }
  .visited ul li .title {
    font-size: 14px;
  }
  .footer_info ul li {
    width: 100%;
    margin-right: 0;
    padding-left: 5px;
  }
  .footer_info ul li .title {
    font-size: 14px;
  }
  .date-picker-wrapper .month-wrapper table .day{
    width: 50px;
    text-align: center;
    max-width: 100%;
  }
  #timeline .item .year-left{
	margin-left: 75px !important;
	margin-top: 10px;
  }
  
   #timeline .item .year-right{
	margin-right: 75px !important;
	margin-top: 10px;
  }
  
  #timeline .item .text{
  width: 100%;
  }

}
@media screen and (max-width: 390px){
  .date-picker-wrapper .month-wrapper table .day {
    width: 37px;
    text-align: center;
    max-width: 100%;
  }

  .date-picker-wrapper .month-wrapper table td, .date-picker-wrapper .month-wrapper table td div {
    max-width: 50px;
  }
  .rating .camp {
    float: left;
    max-width: 80px;
    margin: 0 10px 0 0;
    width: 100%;
  }
  header nav a.logo {
    width: 70%;
  }
   header{
	margin-bottom: 35px;
  }

}
@media screen and (max-width: 370px){
  .date-picker-wrapper .month-wrapper table .day {
    width: 47px;
    text-align: center;
    max-width: 100%;
  }

  .date-picker-wrapper .month-wrapper table td, .date-picker-wrapper .month-wrapper table td div {
    max-width: 50px;
  }
  .rating .camp {
    float: left;
    max-width: 80px;
    margin: 0 10px 0 0;
    width: 100%;
  }
  header nav a.logo {
    width: 70%;
  }
 
}
/**** hotel and reservation page mobile fixes ****/
@media screen and (max-width: 991px) {
	.hide_mobile {
		display: none;
	}
	.hide_desktop {
		display: block;
	}
	header {
		height: 88px;
	}
	header nav {
		top: 1px;
		left: -10px;
		right: -10px;
		width: auto;
	}
	.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_1,
	.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2 {
		width: 100% ;
	}
	.content_box .form-group.new_check {
		width: 100% !important;
		margin: 10px 0 0;
		float: none;
	}
	.content_box .form-group.new_check label {
		margin-bottom: 0;
	}
	.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2 .form-group {
		margin-top: 20px;
	}
	.content_char_detalii_pasageri .content_box .row:not(:nth-child(5)) .box_nume_prenume {
		border-bottom: 1px dashed #ccc;
		padding-bottom: 20px;
	}
	.box_detalii_nume_prenume .form-title {
		width: 100%;
		margin: 0;
		float: none;
		margin-bottom: 10px;
	}
	.box_detalii_nume_prenume .form-wrapper {
		width: 100%;
		float: none;
	}
	.box_detalii_nume_prenume .form-group.new_check {
		width: 100% !important;
		margin: 0;
	}
	#content_char_detalii_facturare_pf_on .box_detalii_nume_prenume .input.new_input_text {
		width: 49% !important;
	}
	#content_char_detalii_facturare_pf_on .box_detalii_nume_prenume .input.new_input_text:nth-child(3) {
		margin: 0 !important;
	}
	.content_char_detalii_facturare_box .form-group {
		clear: both;
		float: none;
	}
	.content_char_detalii_facturare_box .form-group:nth-child(4) {
		padding-top: 22px;
		margin: 0;
	}
	.new_input_text input.used~label, 
	.new_input_text input:focus~label {
		top: -5px;
	}
	.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_1, 
	.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_2, 
	.content_char_book .content_char_book_left .content_char_detalii_pasageri .row .box_nume_prenume .box_n_p_2_3 {
		margin-top: 10px;
	}
	.content_char_book .content_char_book_left .content_char_detalii_facturare .row {
		padding: 0;
	}
	.content_char_detalii_facturare .input.new_input_text {
		margin-top: 12px;
	}
	.content_char_detalii_facturare .form-wrapper .input.new_input_text { 
		margin-top: 0;
	}
	.content_char_detalii_facturare_box 	.content_char_detalii_pasageri_notificare {
		margin-top: 20px;
		height: 15px;
	}
	.content_char_book .content_char_book_left .content_char_metode_plata>.row .row_in_child_info {
		margin: 0;
		padding: 0;
	}
	.search-box {
		width: 100%;
		margin-top: 10px;
	}
	.chd-ages {
		margin-left: 0;
	}
	td.hide_mobile {
		display: none !important;
	}
	.offers_tables span.smaller-09em.blue.underline.pointer {
		display: inline-block;
		margin-top: 15px;
	}
	#NEW-detaliiOferta #comentarii .expandable .float-left.pad20 {
		width: 100% !important;
		margin: 0 !important;
	}
	#NEW-detaliiOferta #comentarii .expandable .float-left {
		padding: 0 !important;
		height: auto !important;
		width: 100% !important;
	}
	#NEW-detaliiOferta #comentarii .expandable .float-left #add-review {
		margin: 30px 0;
	}
	.comentariu .pareri {
		margin: 10px 10px 0 0;
	}
	#comentarii .float-left {
		height: auto;
	}
	.float-left #add-review {
		margin: 0;
	}
	.prosicontra.float-right {
		float: left;
	}
	
	.filter-wrapper {
		width: 100vw;
		float: none;
		position: absolute;
		z-index: 10;
		left: -100vw;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	.filter-wrapper.opened {
		left: 0;
	}
	.result-list {
		width: 100%;
		float: none;
		-webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
		display: block;
	}
	.result-list.removed {
		display: none;
	}
	.show-mobile {
		display: block;
	}
	.show-filters {
		display: block;
		margin: 0;
		padding: 10px 20px;
		font-size: 20px;
		border-radius: 3px;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		background: #279500;
		border: 1px solid #1c6c00;
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		width: 100%;
	}
	.afisare-oferta .float-left {
		float: left;
	}
	.afisare-oferta .float-left img {
		max-width: 100%;
	}
	.ofVizitate .prod {
		width: 50%;
	}
	.ofVizitate .prod .image {
		max-width: 100%;
		max-width: 100%;
	}
	.afisare-oferta .hotel-name a {
		font-size: 18px;
	}
	.afisare-oferta .hotel-name {
		padding: 0;	
	}
	.afisare-oferta .float-right {
		font-size: 16px;
	}
	.afisare-oferta .float-left .poza {
		display: inline-block;
	}
	.mobile-all-inclusive {
		position: absolute;
		top: 20px;
		right: 0;
	}
	.mobile-all-inclusive .all_inclusive_span {
		background: #279500;
		right: -10px;
		position: relative;
	}
	.mobile-all-inclusive .all_inclusive_span:before {
		content: 'ALL INCLUSIVE';
		display: block;
		position: relative;
		padding: 10px 20px 10px 10px;
		width: 130px;
		background: transparent;
		font-size: 18px;
		color: #fff;
		font-weight: 600;
	}
	.mobile-all-inclusive .all_inclusive_span:after {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 0;
		border-color: #1b6102 transparent transparent transparent;
	    position: absolute;
		right: 0;
		bottom: -10px;
	}
	#rightdiv_hotel_all .all_inclusive_span {
		display: none;
	}
	.most-important-locations .prod .image {
		min-width: 100%;
	}
	.chn-blue {
		display: none;
	}
	#rating {
		font-size: 16px;
	}
	#info-filters {
		display: none;
	}
	.top {
		bottom: 4.5em;
	}
	
	#coupon-page .form-inputs,
	#coupon-page .form-inputs {
		width: 100%
	}
	
	.comments{
    width: auto;
    margin-right: auto;
    margin-left: auto;
	}
}

@media screen and (max-width: 600px) {
	.afisare-oferta .float-left {
		float: none;
		width: 100%;
		padding: 0 0 20px;
	}
	.afisare-oferta .float-left .poza {
		float: none;
	}
	.afisare-oferta .float-right {
		width: 100%;
	}
	.ofVizitate .prod {
		width: 100%;
		max-height: 200px;
	}
	.afisare-oferta .normal .show-prices-button {
		left: 50%;
		right: auto;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		min-width: 180px;
	}
	.pad10.article.bigger-12em.text-justify img {
		width: 100%;
		margin: 0 !important;
	}
	.comments{
    width: auto;
    margin-right: auto;
    margin-left: auto;
	}
}
