@media (max-width: @tablet) {
	header {
		height: 61px;
		background: none;

		.tagline, .top-nav {
			display: none;
		}

		nav {
			font-size: @font-size-xlarge;
			position: absolute;
			overflow-y: hidden;
			width: 100%;
			height: 60px;
			background: fade(@white, 93%);
			z-index: 999;

			a {
				display: block;
				margin: 0;
				text-align: left;
				border-top: 1px solid @border;

				&:not(.logo):not(.menu) {
					float: left;
					width: 50%;
					padding: 5px 0 5px 20px;
				}

				&.logo {
					float: none;
					margin: 10px 0 10px 10px;
					border: none;
				}

				&.menu {
					display: block;
					text-align: center;
					border: none;
				}

				&.contact {
					padding: 0 6px;
					text-align: left;
				}
			}

			&.expand {
				height: auto;
				border-bottom: 1px solid @border;
			}
		}
	}

	.breadcrumb{
		display: none;
	}

	.search-box {
		float: none;
		margin-bottom: 10px;
		.center-box(95%);
	}

	.trust{
		display: none;

		&.bottom{
			display: block;
			.center-box(95%);

			.trustme{
				background: none;
				border: none;
				.clearfix();

				li{
					float: left;
					width: 50%;
					padding: 10px 0;

					&:nth-last-child(2){
						border-bottom: 0;
					}
				}
			}
		}
	}

	.hotel, .visited, .comments, .newsletter{
		.center-box(95%);
	}

	.hotel{
		.clear{
			.clearfix();
			display: block;
		}

		.left-column, .right-column{
			width: 100%;
			margin: 0;
		}

		.recommended{
			display: block;
			margin-bottom: 10px;
			.clearfix();

			i[class^="icon-"], p{
				float: left;
				font-size: @font-size-medium;
			}

			p{
				width: auto;

				span{
					display: inline-block;
					font-size: @font-size-medium;
				}
			}
		}

		.expand{
			&.icon{
				&:before{
					content: '\e807';
				}
				&.open:before{
					content: '\e808';
				}
			}
		}
		.expandable{
			display: none;
		}

		.description{
			.details{
				width: 100%;
			}
			.facilities, .facilities-extra{
				width: 56%;
				margin-left: 0;
				margin-right: 4%;
			}
			.facilities-extra{
				width: 40%;
				margin-left: 0;
				margin-right: 0;
			}
			.room-details{
				li{
					width: 100%;
					margin-right: 0;
				}
			}
		}

		#map{
			height: 500px;
			width: 100%;
		}

		.map{
			display: block;
			height: auto;
		}

		.nearby{
			width: 100%;
			height: auto;
			margin: 0;
			display: block;
			.clearfix();

			h3{
				width: 100%;
				height: auto;
				font-size: @font-size-xlarge;
				color: @blue;
				border-bottom: 1px solid @blue;
				margin-top: 20px;
				padding-bottom: 10px;
			}
			a{
				float: left;
				width: 48%;
				height: auto;
				margin-top: 10px;

				&:nth-of-type(2n){
					margin-left: 4%;
				}
				img{
					height: 75px;
				}
			}
		}
	}
}

@media (max-width: 670px) and (min-width: 551px) {
	.trustme{
		li{
			p{
				font-size: 2.1vw;
			}
			.phone{
				margin-top: 0;
				font-size: 5.4vw;
			}
			i[class^=icon-]{
				font-size: 7.5vw;
			}
		}
	}
	.hotel{
		.description{
			.facilities, .facilities-extra{
				width: 100%;
				margin-right: 0;
			}
		}
	}
}

@media (max-width: 550px) {
	.trust{
		&.bottom{
			.trustme{
				li{
					float: none;
					width: 100%;
				}
			}
		}
	}
	.hotel{
		.description{
			.facilities, .facilities-extra{
				width: 100%;
				margin-right: 0;
			}
		}
	}
	.newsletter{
		form{
			label{
				span{
					display: none;
				}
			}
			input{
				&[type='text']{
					width: 49%;
					margin-right: 2%;
					margin-bottom: 10px;

					&:nth-of-type(2n){
						margin-right: 0;
					}
				}
				&[type='email']{
					width: 65%;
					margin-right: 2%;
				}
				&[class^='button-']{
					width: 33%;
				}
			}
		}
	}
}
