
/* HTML5 display-role reset for older browsers */
/*article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}*/
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'fontello';
  src: url('../css/fonts/fontello.eot?15409922');
  src: url('../css/fonts/fontello.eot?15409922#iefix') format('embedded-opentype'),
  url('../css/fonts/fontello.woff2?15409922') format('woff2'), url('../css/fonts/fontello.woff?15409922') format('woff'), url('../css/fonts/fontello.ttf?15409922') format('truetype'), url('../css/fonts/fontello.svg?15409922#fontello') format('svg');
}
/*[class^='icon-']:before,*/
/*[class*=' icon-']:before {*/
  /*font-family: 'fontello';*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
  /*font-variant: normal;*/
  /*line-height: 1em;*/
  /*display: inline-block;*/
  /*width: 1em;*/
  /*margin-right: .3em;*/
  /*text-align: center;*/
  /*text-decoration: inherit;*/
  /*text-transform: none;*/
  /*speak: none;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
/*}*/

html {
  height: auto;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #EDEDED;
  font: normal 13px/1.3 Arial, sans-serif;
  color: #333;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #065ABF;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #E74C3C;
}

.layout {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  zoom: 1;
}
.layout:before {
  content: '';
  display: block;
}
.layout:after {
  content: '';
  display: table;
  clear: both;
}
.col-red {
  color: #D60808;
}
.col-green {
  color: #279500;
}
.col-blue {
  color: #065ABF;
}
.fotorama__thumb-border {
  border-color: #000 !important;
}
.icon-star {
  color: #F6AE0B;
}
.icon-star:before {
  margin-right: 0;
}
.button-blue {
  display: inline-block;
  text-align: center;
  background: #0275d8;
  border: 1px solid #054797;
  color: #FFF;
  font-size: 14px;
  cursor:pointer;
  line-height: 28px;
  padding: 0 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.button-blue:hover {
  background: #076de7;
}
.button-green {
  display: inline-block;
  text-align: center;
  background: #279500;
  border: 1px solid #1c6c00;
  color: #FFF;
  font-size: 14px;
  line-height: 28px;
  padding: 0 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.button-green:hover {
  background: #32be00;
}
.button-red {
  display: inline-block;
  text-align: center;
  background: #D60808;
  border: 1px solid #af0707;
  color: #FFF;
  font-size: 14px;
  line-height: 28px;
  padding: 0 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.button-red:hover {
  background: #f61111;
}
.button-light {
  display: inline-block;
  text-align: center;
  background: #F7F7F7;
  border: 1px solid #e3e3e3;
  color: #333;
  font-size: 14px;
  line-height: 28px;
  padding: 0 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.button-light:hover {
  background: #ffffff;
}
.button-light:hover {
  border-color: #D60808;
  color: #D60808;
}

footer {
  border-top: 1px solid #DDD;
  background: #FFF;
  padding: 15px 0;
}
.breadcrumb {
  font-size: 13px;
  line-height: 18px;
  float: left;
  width: 70%;
  height: 35px;
  margin-bottom: 10px;
  padding: 7px 10px;
  background: #F7F7F7;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.breadcrumb a .icon-home {
  font-size: 18px;
}
.breadcrumb a .icon-home:before {
  margin-right: 0;
}
.breadcrumb a:hover {
  text-decoration: underline;
  color: #054a9c;
}
.breadcrumb a:after {
  font: 700 18px/18px 'Open Sans Condensed', sans-serif;
  position: relative;
  top: 2px;
  display: inline-block;
  margin-left: 5px;
  content: '>';
  cursor: auto;
  text-decoration: none;
  color: #333;
}

.trustme li,
.recommended {
  display: flex;
  align-items: center;
  justify-content: center;
}
.trustme li i[class^="icon-"],
.recommended i[class^="icon-"] {
  font-size: 52px;
}
.trustme li .icon-thumbs-up-alt,
.recommended .icon-thumbs-up-alt {
  color: #279500;
}

.trustme {
  background: #F7F7F7;
  border: 1px solid #DDD;
  height: 100%;
}
.trustme li {
  height: 16.67%;
  border-bottom: 1px solid #DDD;
}
.trustme li:last-child {
  border-bottom: none;
}
.trustme li .icon-volume-control-phone {
  color: #D60808;
}
.trustme li .phone {
  display: block;
  margin-top: 5px;
  color: #D60808;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.trust {
  display: block;
}
.trust.bottom {
  display: none;
  background: #FFF;
  border: 1px solid #DDD;
  margin-bottom: 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}


.hotel .clear {
  display: flex;
}
.hotel .left-column {
  width: 70%;
}
.hotel .right-column {
  width: 28%;
  margin-left: 2%;
}
/*.hotel .recommended i[class^="icon-"] {
  color: #279500;
}
.hotel .recommended p {
  font-size: 16.8px;
  font-weight: 700;
}
.hotel .recommended p span {
  display: block;
  color: #065ABF;
  font-size: 22px;
}*/
.hotel .images.left-column {
  position: relative;
}

.hotel .expand {
  position: relative;
  padding-right: 20px;
  cursor: pointer;
}
.hotel .expand.icon:before {
  position: absolute;
  top: 0;
  right: 3px;
  font-family: 'fontello';
  font-size: 14px;
  content: '\e808';
  color: #065ABF;
}
.hotel .expand.icon.open:before {
  content: '\e807';
}
.hotel .expandable {
  margin-top: 10px;
}
.hotel .description {
  zoom: 1;
}
.hotel .description:before {
  content: '';
  display: block;
}
.hotel .description:after {
  content: '';
  display: table;
  clear: both;
}
.hotel .description p {
  margin-bottom: 10px;
}

.hotel .description h3 {
  text-indent: 5%;
  font-size:120%;
  font-weight:bold;
}
.description{
  display: block;
  width:100%;
  
}
.hotel .info 
{font-size:80%;
color:#036;
	}
.hotel .description .details {
  float: left;
  max-width: 350px;
  width: 100%;
  margin-bottom: 10px;
  text-align: justify;
  text-indent: 5%;
}
.hotel .description .facilities,
.hotel .description .facilities-extra {
  float: left;
  max-width: 350px;
  width: 100%;
  margin-left: 2%;
  text-align: justify;
  text-indent: 5%;
}
.facilities-extra span{
  display: block;
}
.hotel .description .facilities:before,
.hotel .description .facilities-extra:before {
  content: '';
  display: block;
}
.hotel .description .facilities:after,
.hotel .description .facilities-extra:after {
  content: '';
  display: table;
  clear: both;
}
.hotel .description .facilities li,
.hotel .description .facilities-extra li {
  margin-bottom: 2px;
}
.hotel .description .room-details li {
  float: left;
  width: 48%;
  margin-right: 4%;
  margin-bottom: 20px;
}
.hotel .description .room-details li:nth-child(2n) {
  margin-right: 0;
}

.visited h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}
.visited ul {
  zoom: 1;
}
.visited ul:before {
  content: '';
  display: block;
}
.visited ul:after {
  content: '';
  display: table;
  clear: both;
}
.visited ul li {
  float: left;
  width: 23.5%;
  margin-right: 2%;
}
.visited ul li:nth-child(4n) {
  margin-right: 0;
}
.visited ul li a,
.visited ul li span {
  display: inline-block;
  margin-bottom: 5px;
}
.visited ul li .title {
  font-size: 14px;
  font-weight: 700;
}
.visited ul li p {
  height: 102px;
  margin-bottom: 10px;
  zoom: 1;
}
.visited ul li p:before {
  content: '';
  display: block;
}
.visited ul li p:after {
  content: '';
  display: table;
  clear: both;
}
.visited ul li .thumb {
  float: left;
  margin: 0 5px 0 0;
}
.visited ul li .thumb img {
  width: 60px;
}
.visited ul li a[class^='button'] {
  width: 50%;
}
.footer_info {
  margin-bottom: 20px;
}
.footer_info h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}
.footer_info ul {
  zoom: 1;
}
.footer_info ul:before {
  content: '';
  display: block;
}
.footer_info ul:after {
  content: '';
  display: table;
  clear: both;
}
.footer_info ul li {
  float: left;
  width: 23.5%;
  margin-right: 2%;
}
.footer_info ul li:nth-child(4n) {
  margin-right: 0;
}
.footer_info ul li a,
.footer_info ul li span {
  display: inline-block;
  margin-bottom: 5px;
}
.footer_info ul li .title {
  font-size: 18px;
  font-weight: 700;
  color: #065ABF;
  padding-bottom: 10px;
}
.footer_info ul li p {
  height: 102px;
  margin-bottom: 10px;
  zoom: 1;
}
.footer_info ul li p:before {
  content: '';
  display: block;
}
.footer_info ul li p:after {
  content: '';
  display: table;
  clear: both;
}
.footer_info ul li .thumb {
  float: left;
  margin: 0 5px 0 0;
}
.footer_info ul li .thumb img {
  width: 60px;
}
.footer_info ul li a[class^='button'] {
  width: 50%;
}
/*.newsletter {*/
  /*border: 1px solid #3be200;*/
  /*background: #d6ffc8;*/
/*}*/
/*.newsletter form {*/
  /*zoom: 1;*/
/*}*/
/*.newsletter form:before {*/
  /*content: '';*/
  /*display: block;*/
/*}*/
/*.newsletter form:after {*/
  /*content: '';*/
  /*display: table;*/
  /*clear: both;*/
/*}*/
/*.newsletter form label,*/
/*.newsletter form input,*/
/*.newsletter form span,*/
/*.newsletter form div {*/
  /*display: block;*/
  /*float: left;*/
/*}*/
/*.newsletter form label {*/
  /*width: 25%;*/
  /*font-size: 16px;*/
  /*line-height: 16px;*/
  /*text-align: left;*/
/*}*/
/*.newsletter form label span {*/
  /*font-size: 13px;*/
/*}*/
/*.newsletter form label i[class^='icon-'] {*/
  /*float: left;*/
  /*font-size: 30px;*/
/*}*/
/*.newsletter form label i[class^='icon-']:before {*/
  /*margin-right: 5px;*/
/*}*/
/*.newsletter form div {*/
  /*width: 75%;*/
/*}*/
/*.newsletter form div#form_errors {*/
  /*color: #D60808;*/
  /*font-weight: 700;*/
/*}*/
/*.newsletter form input[type='text'],*/
/*.newsletter form input[type='email'] {*/
  /*padding: 0 15px;*/
  /*border: 1px solid #DDD;*/
  /*font-size: 14px;*/
  /*line-height: 30px;*/
  /*height: 30px;*/
  /*-webkit-border-radius: 5px;*/
  /*border-radius: 5px;*/
  /*-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);*/
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);*/
/*}*/
/*.newsletter form input[type='text']::-webkit-input-placeholder,*/
/*.newsletter form input[type='email']::-webkit-input-placeholder {*/
  /*color: #333;*/
/*}*/
/*.newsletter form input[type='text']::-moz-placeholder,*/
/*.newsletter form input[type='email']::-moz-placeholder {*/
  /*color: #333;*/
  /*opacity: 1;*/
/*}*/
/*.newsletter form input[type='text']:-ms-input-placeholder,*/
/*.newsletter form input[type='email']:-ms-input-placeholder {*/
  /*color: #333;*/
/*}*/
/*.newsletter form input[type='text']:-moz-placeholder,*/
/*.newsletter form input[type='email']:-moz-placeholder {*/
  /*color: #333;*/
/*}*/
/*.newsletter form input[type='text'] {*/
  /*width: 17%;*/
  /*margin-right: 2%;*/
/*}*/
/*.newsletter form input[type='email'] {*/
  /*width: 25%;*/
  /*margin-right: 2%;*/
/*}*/
/*.newsletter form input[class^='button-'] {*/
  /*width: 10%;*/
  /*cursor: pointer;*/
/*}*/
@media (max-width: 1280px) and (min-width: 901px) {
  .layout {
    padding: 0 10px;
  }
}
@media (max-width: 1200px) {
  .right-column .trustme li i[class^="icon-"],
  .right-column .recommended i[class^="icon-"] {
    font-size: 4vw;
  }
  .right-column .trustme li p {
    font-size: 1.15vw;
  }
  .right-column .trustme li .phone {
    font-size: 3vw;
  }
  .right-column .recommended p {
    font-size: 1.4vw;
  }
  .right-column .recommended p span {
    font-size: 1.85vw;
  }
}
@media (max-width: 1165px) and (min-width: 1024px) {
  header nav {
    font-size: 16px;
  }
  header nav a.logo {
    width: 180px;
    height: 30px;
  }
}
@media (max-width: 1023px) and (min-width: 901px) {
  header nav {
    top: 55px;
    height: 90px;
    text-align: left;
  }
  header nav a {
    line-height: 30px;
    margin: 0;
  }
  header nav a.logo,
  header nav a.contact {
    line-height: 50px;
    margin-top: -50px;
  }
  header + div {
    position: relative;
    z-index: 1;
  }
}
@media (max-width: 1024px) {
  .visited ul li {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 20px;
  }
  .visited ul li:nth-child(2n) {
    margin-right: 0;
  }
  .visited ul li .title {
    font-size: 18px;
  }
  .visited ul li p {
    height: 65px;
  }
  .newsletter form label {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .newsletter form label i[class^='icon-'],
  .newsletter form label span {
    font-size: 18px;
  }
  .newsletter form label span {
    display: inline-block;
    float: none;
  }
  .newsletter form label span:before {
    content: " - ";
  }
  .newsletter form input[type='text'] {
    width: 23%;
    margin-right: 2%;
  }
  .newsletter form input[type='email'] {
    width: 33%;
    margin-right: 2%;
  }
  .newsletter form input[class^='button-'] {
    width: 15%;
    cursor: pointer;
  }
}

@media (max-width: 670px) and (min-width: 551px) {
  .trustme li p {
    font-size: 2.1vw;
  }
  .trustme li .phone {
    margin-top: 0;
    font-size: 5.4vw;
  }
  .trustme li i[class^=icon-] {
    font-size: 7.5vw;
  }
  .hotel .description .facilities,
  .hotel .description .facilities-extra {
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 550px) {
  .trust.bottom .trustme li {
    float: none;
    width: 100%;
  }
  .hotel .description .facilities,
  .hotel .description .facilities-extra {
    width: 100%;
    margin-right: 0;
  }
  .newsletter form label span {
    display: none;
  }
  .newsletter form input[type='text'] {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 10px;
  }
  .newsletter form input[type='text']:nth-of-type(2n) {
    margin-right: 0;
  }
  .newsletter form input[type='email'] {
    width: 65%;
    margin-right: 2%;
  }
  .newsletter form input[class^='button-'] {
    width: 33%;
  }
}

@media (max-width: 400px) {
  .newsletter form input[type='text'],
  .newsletter form input[type='email'] {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 10px;
  }
  .newsletter form input[class^='button-'] {
    width: 50%;
  }

}
@media (max-width: 900px) and (orientation: landscape) {
  .hotel #map {
    height: 45vw;
  }
}

@media (max-width: 1024px) {
  .modal-box {
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    margin: 0;
  }

}




 .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 15px;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}




/*# sourceMappingURL=test_1.css.map */

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}


.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

/*

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}*/


.form-group {
  float:left;
  width: 15%;
}

