.dhtmlwindow{
position: absolute;
border: 1px solid #065abf;
visibility: hidden;
background-color: white;
font-size:0.9em;
}

.drag-handle{ /*CSS for Drag Handle*/
padding: 3px 6px;
height:24px;
/*background-color: #CA0000;*/
color: white;
font-size:1.2em;
font-weight:bold;
line-height:150%;
cursor: move;
overflow: hidden;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}

.drag-handle .drag-controls{ /*CSS for controls (min, close etc) within Drag Handle*/
position: absolute;
right: 4px;
top: 2px;
cursor: hand;
cursor: pointer;
}

* html .drag-handle{ /*IE6 and below CSS hack. Width must be set to 100% in order for opaque title bar to render*/
width: 100%;
}


.drag-contentarea{ /*CSS for Content Display Area div*/
border-top: 0px solid brown;
background-color: white;
padding: 0px;
overflow: auto;
font-size:0.9em;
}

.drag-statusarea{ /*CSS for Status Bar div (includes resizearea)*/
border-top: 0px solid gray;
background-color: #F8F8F8;
height: 13px; /*height of resize image*/
}


.drag-resizearea{ /*CSS for Resize Area itself*/
float: right;
width: 13px; /*width of resize image*/
height: 13px; /*height of resize image*/
cursor: nw-resize;
font-size: 0;
}