body {margin:0; font:12px Verdana,Arial}
#input {border:none; margin:0; border:0}
.te {border:1px solid #bbb; padding:0 1px 1px; font:12px 'Helvetica Neue',Arial; margin:25px}
.te iframe {border:none; width:100% !important;}
.teheader {height:31px; border-bottom:1px solid #bbb; background:url(images/header-bg.gif) repeat-x; padding-top:1px}
.teheader select {float:left; margin-top:0px}
.tefont {margin-left:12px}
.tesize {margin:0 3px}
.testyle {margin-right:12px}
.tedivider {float:left; width:1px; height:30px; background:#ccc}
.tecontrol {float:left; width:34px; height:30px; cursor:pointer; background-image:url(images/icons.png)}
.tecontrol:hover {background-color:#fff; background-position:30px 0}
.tefooter {height:32px; border-top:1px solid #bbb; background:#f5f5f5}
.toggler {float:left; background:url(images/icons.png) -34px 2px no-repeat; padding:9px 13px 0 31px; height:23px; border-right:1px solid #ccc; cursor:pointer; color:#666}
.toggler:hover {background-color:#fff}
.resize {float:right; height:32px; width:32px; background:url(images/resize.gif) 15px 15px no-repeat; cursor:s-resize}
#editor {cursor:text; margin:10px}



.te {margin:2px -1px -4px -2px; border-width:0px; width:100% !important;}


#input {width: 100% !important;}

.box .block  textarea#input{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
    background-color: white;
    border: none;
    display: block;
    float: left;
    margin-bottom: 0px;
    padding: 5px 0;
    text-indent: 5px;
    width: 70%;
}