if(!$err_logare_admin){

$servicii_supliemtare_Xml = '<?xml version="1.0" encoding="UTF-8"?>
<Request RequestType="getHotelServiceTypesRequest">
  <AuditInfo>
    <RequestId>'.date("dmYHis").'</RequestId>
    <RequestUser>xml_ocazii</RequestUser>
    <RequestPass>72957942X</RequestPass>
    <RequestTime>'.date("Y-m-d").'T'.date("H-i-s").'</RequestTime>
  </AuditInfo>
  <RequestDetails>
    <getHotelServiceTypesRequest>
      <CountryCode>'.$trip_CountryCode.'</CountryCode>
      <CityCode>'.$trip_CityCode.'</CityCode>
      <TourOpCode>BB</TourOpCode>
      <ProductCode>'.$product_code.'</ProductCode>
      <VariantID>'.$rezcam[$J]['PackageVariantId'].'</VariantID>    
      <PeriodOfStay>
        <CheckIn>'.$plecdata.'</CheckIn>
        <CheckOut>'.$arivdata.'</CheckOut>
      </PeriodOfStay>
  
    </getHotelServiceTypesRequest>
  </RequestDetails>
</Request>';
 if(!$err_logare_admin) echo "pppp". $servicii_supliemtare_Xml ;
$sUrl = 'http://tourclick.eurosite.ro/server_xml/server.php';
$ch = curl_init($sUrl);
curl_setopt($ch, CURLOPT_POST, 1);
curl_setopt($ch, CURLOPT_POSTFIELDS, $servicii_supliemtare_Xml);
curl_setopt($ch, CURLOPT_FOLLOWLOCATION, 1); 
curl_setopt($ch, CURLOPT_HEADER, 0);
curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
$sResponse_servicii = curl_exec($ch);
if(!$err_logare_admin) echo $sResponse_servicii;

$servicii_suplimetare = new SimpleXMLElement($sResponse_servicii);
// pretul la servicii suplimentare
$servicii_suplimentare_pret_Xml = '<?xml version="1.0" encoding="UTF-8"?>
<Request RequestType="getHotelServicePriceRequest">
  <AuditInfo>
    <RequestId>'.date("dmYHis").'</RequestId>
    <RequestUser>xml_ocazii</RequestUser>
    <RequestPass>72957942X</RequestPass>
    <RequestTime>'.date("Y-m-d").'T'.date("H-i-s").'</RequestTime>
        <RequestLang>RO</RequestLang>
  </AuditInfo>
  <RequestDetails>
    <getHotelServicePriceRequest>
      <CountryCode>'.$trip_CountryCode.'</CountryCode>
      <CityCode>'.$trip_CityCode.'</CityCode>
      <TourOpCode>BB</TourOpCode>
      <ProductCode>'.$product_code.'</ProductCode>
       <CurrencyCode>'.$trip_CurrencyCode.'</CurrencyCode>
     

      <VariantId>'.$rezcam[$J]['PackageVariantId'].'</VariantId>    
      <Language>RO</Language>
<Services>      
<Service>
          <ServiceType>2</ServiceType>
          <ServiceCode>1464</ServiceCode>

          
          
          <PeriodOfStay>
        <CheckIn>'.$plecdata.'</CheckIn>
        <CheckOut>'.$arivdata.'</CheckOut>
      </PeriodOfStay>
      <PaxNames>
                  <PaxName PaxType="adult">ADULT 1</PaxName>
                  <PaxName PaxType="adult">ADULT 2</PaxName>
     </PaxNames>
       </Service>
</Services>
  
  </getHotelServicePriceRequest>
</RequestDetails>
</Request>';
if(!$err_logare_admin) echo "cerere servicii pret <br/>". $servicii_suplimentare_pret_Xml ;
$sUrl = 'http://tourclick.eurosite.ro/server_xml/server.php';
$ch = curl_init($sUrl);
curl_setopt($ch, CURLOPT_POST, 1);
curl_setopt($ch, CURLOPT_POSTFIELDS,$servicii_suplimentare_pret_Xml);
curl_setopt($ch, CURLOPT_FOLLOWLOCATION, 1); 
curl_setopt($ch, CURLOPT_HEADER, 0);
curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
$sResponse_servicii_pret = curl_exec($ch);
if(!$err_logare_admin) echo "raspuns<br/>".$sResponse_servicii_pret;
        }
