.drag-handle{ /*Overwrite default drag handle bar background color with below*/
/*background-color: #03277C;*/
background:url(/images/bkg_th_preturi_descriere_oferta.gif) repeat-x;
}

#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/
position: absolute;
background: black url(/js/modalfiles/blackdot.gif);
width: 10px;
left: 0;
top: 0;
z-index: 5;
visibility: hidden;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=80);
opacity: 0.8;
}