
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<style type="text/css">
table.tabelmail { border:1px solid #D7D7D7; border-bottom-width:2px;font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:16px; color:#000; }
td.tabelmail { padding:10px 20px; }
p.tabelmail { margin:0 0 12px 0; padding:0; text-align:justify; }
.link { color:#065ABF; text-decoration:underline; }
.offer { border:1px solid #E3EFFF; }
.offer th, .offer td { border-left:1px solid #FFF; border-bottom:1px solid #FFF; }
.offer th { background:#E3EFFF; padding:2px; font-weight:bold; }
.offer td { background:#F5F5F5; padding:2px 6px; }
.copyright { font-family:Verdana, Geneva, sans-serif; margin:5px; font-size:11px; line-height:14px; color:#444; }
</style>


<body>
<table cellpadding="0" cellspacing="0" border="0" width="550" class="tabelmail">
  <tr>
    <td align="left" valign="top">
      {$sigla_txt}<br><br>
      <p>Buna ziua {$nume_expeditor2},</p>
      <p align="justify">Va multumim pentru efectuarea cererii de rezervare la <strong>{$hotel_denumire} {$hotel_stele}*</strong>. Solicitarea dumneavoastra a fost inregistrata de un consultant al agentiei noastre si, in cel mai scurt timp veti fi contactat pentru confirmarea diponibilitatii locurilor in perioada dorita.</p>
      <p align="justify">Daca aveti nelamuriri sau intrebari suplimentare referitoare la rezervare, va rugam sa ne <strong>contactati neconditionat</strong>, colectivul nostru fiind la dispozitia dumneavoastra oricand cu toate informatiile necesare.</p>
      <p align="justify"><strong>Status rezervare:</strong> <strong class="red">IN ASTEPTARE</strong></p>
      <!--<p align="justify"><strong>Verificare rezervare:</strong> <a href="{$link_check_rez}" class="link"><strong>CLICK AICI</strong></a></p>-->
      <table cellpadding="0" cellspacing="0" border="0" width="100%" class="offer">
        <tr>
          <th align="left" valign="top">Nr. rezervare:</th>
          <th align="left" valign="top">{$rezervare_id}</th>
        </tr>
        <tr>
          <td width="140" align="left" valign="top">Denumire:</td>
          <td align="left" valign="top"><a href="{$oferta_link}" class="link"><strong>{$oferta_denumire}</strong></a></td>
        </tr>
        <tr>
          <td align="left" valign="top">Data inceperii sejurului:</td>
          <td align="left" valign="top">{$oferta_data}</td>
        </tr>
        <tr>
          <td align="left" valign="top">Durata:</td>
          <td align="left" valign="top">{$oferta_nopti} nopti</td>
        </tr>
        <tr>
          <td align="left" valign="top">Tipul camerei:</td>
          <td align="left" valign="top">{$oferta_camera} {$oferta_persoane}</td>
        </tr>
        <tr>
          <td align="left" valign="top">Turisti:</td>
          <td align="left" valign="top">{$oferta_turisti}</td>
        </tr>
        <tr>
          <td align="left" valign="top">Tipul mesei:</td>
          <td align="left" valign="top">{$tip_masa}</td>
        </tr>
        <tr>
          <td align="left" valign="top">Servicii incluse:</td>
          <td align="left" valign="top">{$servicii_incluse}</td>
        </tr>
        <tr>
          <td align="left" valign="top"><strong>Total de plata:</strong></td>
          <td align="left" valign="top"><strong>{$total_plata}</strong></td>
        </tr>
      </table>
      <br>
      <table cellpadding="0" cellspacing="0" border="0" width="100%" class="offer">
        <tr>
          <th align="left" valign="top" colspan="2">DATE FACTURARE</th>
        </tr>
        <tr>
          <td width="140" align="left" valign="top">{$facturare_tip}</td>
          <td align="left" valign="top">{$facturare_detalii}</td>
        </tr>
      </table>
      <p><br>
      <strong>Informatii utile</strong>:<br>
      - <a href="http://www.ocaziituristice.ro/info-cum-platesc.html" class="link">Cum platesc</a></p>
      <p><br>
      Va multumim si va dorim o zi placuta in continuare!</p>
    </td>
  </tr>
</table>
<p class="copyright">{$email_copyright}</p>
</body>
</html>
